<!-- sport__title -->
<div class="sport__title__wrapper">
    <i class="sport__back-button back__icon"></i>
    <span class="live-status">LIVE</span>
    <span class="sport__title">Club Friendlies - Women (World)</span>
</div>
<!-- /sport__title -->


<!-- live-match-display__wrapper -->
<div class="live-match-display__wrapper" style="background-image: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%,rgba(0,0,0,0.25) 100%), url(/bet3/assets/img/sport-bg/handball-big.jpg)">
    <div class="live-match-display__inner">

        <div class="live-match__player-name">
            <span class="player-name">A.C. Bobigny</span>
        </div>

        <div class="live-match__score-box">
            <div class="score-total">
                <span class="player1">
                    <span>27</span>
                </span>
                <span class="divider">
                    <span>:</span>
                </span>
                <span class="player2">
                    <span>9</span>
                </span>
            </div>
        </div>

        <div class="live-match__player-name">
            <span class="player-name">A.S.F Kasserine</span>
        </div>

    </div>

    <div class="period_wrapper">
        <div class="period">1st Half < 1 min</div>
    </div>

</div>
<!-- live-match-display__wrapper -->