<!-- sport__title -->
<div class="sport__title__wrapper">
    <i class="sport__back-button back__icon"></i>
    <span class="live-status">LIVE</span>
    <span class="sport__title">France vs Peru</span>
</div>
<!-- /sport__title -->


<!-- live-match-display__wrapper -->
<div class="live-match-display__wrapper" style="background-image: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 100%), url(/bet3/assets/img/sport-bg/soccer-big.jpg)">
    <div class="live-match-display__inner">

        <div class="live-match__player-name">
            <span class="player-name">Warriors FC</span>
            <span class="gear">
                <span class="tshirt__icon" style="color: rgb(0, 255, 21);"></span>
                <span class="shorts__icon" style="color: rgb(110, 112, 0);"></span>
            </span>
        </div>

        <div class="live-match__score-box">
            <div class="score-total">
                <span class="player1">
                    <span>6</span>
                </span>
                <span class="divider">
                    <span>:</span>
                </span>
                <span class="player2">
                    <span>3</span>
                </span>
            </div>
        </div>

        <div class="live-match__player-name">
            <span class="player-name">Balestier Khalsa</span>
            <span class="gear">
                <span class="tshirt__icon" style="color: rgb(255, 255, 0);"></span>
                <span class="shorts__icon" style="color: rgb(201, 66, 57);"></span>
            </span>
        </div>

    </div>

    <div class="period_wrapper">
        <div class="period">
            2nd Half
        </div>
    </div>

    <div class="match-stats">
        <table>
            <thead>
                <th class="player-name">Match stats</th>
                <th>
                    <div class="red-card" title="Red cards"></div>
                </th>
                <th>
                    <div class="yellow-card" title="Yellow cards"></div>
                </th>
                <th>
                    <div class="penalties__icon" title="Penalties"></div>
                </th>
                <th>
                    <span class="corners" title="Corners">
                        <span></span>
                    </span>
                </th>
            </thead>
            <tbody>
                <tr>
                    <td class="player-name">
                        <div class="jersey">
                            <span class="gear">
                                <span class="tshirt__icon" style="color: rgb(0, 255, 21);"></span>
                                <span class="shorts__icon" style="color: rgb(110, 112, 0);"></span>
                            </span>
                        </div>
                        Warriors FC</td>
                    <td>2</td>
                    <td>3</td>
                    <td>3</td>
                    <td>4</td>
                </tr>
                <tr>
                    <td class="player-name">
                        <div class="jersey">
                            <span class="gear">
                                <span class="tshirt__icon" style="color: rgb(255, 255, 0);"></span>
                                <span class="shorts__icon" style="color: rgb(201, 66, 57);"></span>
                            </span>
                        </div>
                        Balestier Khalsa</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>4</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- live-match-display__wrapper -->