<!-- sport__title -->
<div class="sport__title__wrapper">
    <i class="sport__back-button back__icon"></i>
    <span class="live-status">LIVE</span>
    <span class="sport__title">Wimbledon - Men - Qualification (Grand Slam Tournaments)</span>
</div>
<!-- /sport__title -->

<!-- live-match-display__wrapper -->
<div class="live-match-display__wrapper" style="background-image: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 100%), url(/bet3/assets/img/sport-bg/tennis-big.jpg)">
    <div class="live-match-display__inner">

        <div class="scoreboard__table md-tennis-scoreboard">
            <div class="scoreboard__item--team--for-small team1">Christian Garin (CHI)</div>
            <div class="scoreboard__row--team head">
                <div class="scoreboard__item scoreboard__item--team">
                    <div class="status-info">3 MIN 1ST</div>
                </div>
                <div class="scoreboard__item scoreboard__item--points">
                    <div></div>
                </div>
                <div class="scoreboard__item scoreboard__item-set">
                    <div>1st</div>
                </div>
                <div class="scoreboard__item scoreboard__item-set">
                    <div>2st</div>
                </div>
                <div class="scoreboard__item scoreboard__item-set">
                    <div>3st</div>
                </div>
                <div class="scoreboard__item scoreboard__item-set">
                    <div>4st</div>
                </div>
                <div class="scoreboard__item scoreboard__item-set">
                    <div>5st</div>
                </div>
            </div>
            <div class="scoreboard__row--team">
                <div class="scoreboard__item scoreboard__item--team">
                    <div class="scoreboard__item--team--name" title="Christian Garin (CHI)">Christian Garin (CHI)</div>
                </div>
                <div class="scoreboard__item scoreboard__item--points">
                    <div>15</div>
                </div>
                <div class="scoreboard__item scoreboard__item-set">
                    <div>2</div>
                </div>
                <div class="scoreboard__item scoreboard__item-set">
                    <div>3</div>
                </div>
                <div class="scoreboard__item scoreboard__item-set">
                    <div>-</div>
                </div>
                <div class="scoreboard__item scoreboard__item-set">
                    <div>-</div>
                </div>
                <div class="scoreboard__item scoreboard__item-set">
                    <div>-</div>
                </div>
            </div>
            <div class="scoreboard__row--team">
                <div class="scoreboard__item scoreboard__item--team">
                    <div class="scoreboard__item--team--name" title="Juan Ignacio Londero (ARG)">Juan Ignacio Londero (ARG)</div>
                </div>
                <div class="scoreboard__item scoreboard__item--points">
                    <div>30</div>
                </div>
                <div class="scoreboard__item scoreboard__item-set">
                    <div>2</div>
                </div>
                <div class="scoreboard__item scoreboard__item-set">
                    <div>3</div>
                </div>
                <div class="scoreboard__item scoreboard__item-set">
                    <div>-</div>
                </div>
                <div class="scoreboard__item scoreboard__item-set">
                    <div>-</div>
                </div>
                <div class="scoreboard__item scoreboard__item-set">
                    <div>-</div>
                </div>
            </div>
            <div class="scoreboard__item--team--for-small team2">Christian Garin (CHI)</div>
        </div>



    </div>



</div>
<!-- live-match-display__wrapper -->