<section class="bettig-panel">

    <nav class="race-bet__tab">
        <ul>
            <li class="active">Win / Place</li>
            <li>Forecast</li>
            <li>Tricast</li>
        </ul>
    </nav>

    <div class="race-bet__table ">
        <div class="row head">
            <div class="a cell">
                <div>Horse</div>
            </div>
            <div class="cell place__cell">
                <div>1st</div>
            </div>
            <div class="cell place__cell">
                <div>2nd</div>
            </div>
            <div class="cell place__cell">
                <div>3rd</div>
            </div>
            <div class="cell place__cell">
                <div></div>
            </div>
        </div>
        <!-- /////////////////////////////////////////////////////////// -->

        <div class="row">
            <div class="a cell team--details__cell">
                <div class="number">
                    10
                </div>
                <div class="silk">
                    <img src="http://demo.playbetman.com/Content/Images/HorseSilks/silk_02.png" alt="Silk">
                </div>
                <div class="team--name">
                    <div class="name">
                        First Base
                    </div>
                    <div class="rating">
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                            viewBox="0 0 100 20" enable-background="new 0 0 100 20" xml:space="preserve">
                            <g>
                                <polygon fill="#fff" points="10,0.6 13.1,6.8 20,7.8 15,12.7 16.1,19.5 10,16.3 3.8,19.5 5,12.7 0,7.8 6.9,6.8 	"></polygon>
                            </g>
                            <g>
                                <polygon fill="#fff" points="30,0.6 33.1,6.8 40,7.8 35,12.7 36.1,19.5 30,16.3 23.8,19.5 25,12.7 20,7.8 26.9,6.8 	"></polygon>
                            </g>
                            <g>
                                <polygon fill="#fff" points="50,0.6 53.1,6.8 60,7.8 55,12.7 56.1,19.5 50,16.3 43.8,19.5 45,12.7 40,7.8 46.9,6.8 	"></polygon>
                            </g>
                            <g>
                                <polygon fill="#fff" points="70,0.6 73.1,6.8 80,7.8 75,12.7 76.1,19.5 70,16.3 63.8,19.5 65,12.7 60,7.8 66.9,6.8 	"></polygon>
                            </g>
                            <g>
                                <polygon fill="#fff" points="90,0.6 93.1,6.8 100,7.8 95,12.7 96.1,19.5 90,16.3 83.8,19.5 85,12.7 80,7.8 86.9,6.8 	"></polygon>
                            </g>
                        </svg>
                    </div>
                    <div class="last5">
                        <div class="inline">Last 5:</div>
                        <ul class="inline last5__list">
                            <li class="Form1">3</li>
                            <li class="Form2">4</li>
                            <li class="Form3">5</li>
                            <li class="Form4">7</li>
                            <li class="Form5">6</li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="cell place__cell">
                <div class="button-bet">
                    <div class="specialoddvalue-text btn-active" data-oddtag="1st">3.46</div>
                </div>
            </div>
            <div class="cell place__cell">
                <div class="button-bet">
                    <div class="specialoddvalue-text btn-unavailable" data-oddtag="2nd"></div>
                </div>
            </div>
            <div class="cell place__cell">
                <div class="button-bet">
                    <div class="specialoddvalue-text btn-unavailable" data-oddtag="3rd"></div>
                </div>
            </div>
            <div class="cell place__cell">
                <div class="button-bet">
                    <div class="specialoddvalue-text btn-unavailable">Any</div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="a cell team--details__cell">
                <div class="number">
                    3
                </div>
                <div class="silk">
                    <img src="http://games.playbetman.com/Content/Images/HorseSilks/silk_18.png" alt="Silk">
                </div>
                <div class="team--name">
                    <div class="name">
                        Blue Monday
                    </div>
                    <div class="rating">
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                            viewBox="0 0 100 20" enable-background="new 0 0 100 20" xml:space="preserve">
                            <g>
                                <polygon fill="#fff" points="10,0.6 13.1,6.8 20,7.8 15,12.7 16.1,19.5 10,16.3 3.8,19.5 5,12.7 0,7.8 6.9,6.8 	"></polygon>
                            </g>
                            <g>
                                <polygon fill="#fff" points="30,0.6 33.1,6.8 40,7.8 35,12.7 36.1,19.5 30,16.3 23.8,19.5 25,12.7 20,7.8 26.9,6.8 	"></polygon>
                            </g>
                            <g>
                                <polygon fill="#fff" points="50,0.6 53.1,6.8 60,7.8 55,12.7 56.1,19.5 50,16.3 43.8,19.5 45,12.7 40,7.8 46.9,6.8 	"></polygon>
                            </g>
                            <g>
                                <polygon fill="#fff" points="70,0.6 73.1,6.8 80,7.8 75,12.7 76.1,19.5 70,16.3 63.8,19.5 65,12.7 60,7.8 66.9,6.8 	"></polygon>
                            </g>
                            <g>
                                <polygon fill="#fff" points="90,0.6 93.1,6.8 100,7.8 95,12.7 96.1,19.5 90,16.3 83.8,19.5 85,12.7 80,7.8 86.9,6.8 	"></polygon>
                            </g>
                        </svg>
                    </div>
                    <div class="last5">
                        <div class="inline">Last 5:</div>
                        <ul class="inline last5__list">
                            <li class="Form1">3</li>
                            <li class="Form2">4</li>
                            <li class="Form3">5</li>
                            <li class="Form4">7</li>
                            <li class="Form5">6</li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="cell place__cell">
                <div class="button-bet">
                    <div class="specialoddvalue-text shading" data-oddtag="1ST">3.46</div>
                </div>
            </div>
            <div class="cell place__cell">
                <div class="button-bet">
                    <div class="specialoddvalue-text highlight" data-oddtag="2ND">3.46</div>
                </div>
            </div>
            <div class="cell place__cell">
                <div class="button-bet">
                    <div class="specialoddvalue-text btn-unavailable" data-oddtag="3RD"></div>
                </div>
            </div>
            <div class="cell place__cell">
                <div class="button-bet">
                    <div class="specialoddvalue-text btn-unavailable">Any</div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="a cell team--details__cell">
                <div class="number">
                    10
                </div>
                <div class="silk">
                    <img src="http://games.playbetman.com/Content/Images/HorseSilks/silk_03.png" alt="Silk">
                </div>
                <div class="team--name">
                    <div class="name">
                        Carousel
                    </div>
                    <div class="rating">
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                            viewBox="0 0 100 20" enable-background="new 0 0 100 20" xml:space="preserve">
                            <g>
                                <polygon fill="#fff" points="10,0.6 13.1,6.8 20,7.8 15,12.7 16.1,19.5 10,16.3 3.8,19.5 5,12.7 0,7.8 6.9,6.8 	"></polygon>
                            </g>
                            <g>
                                <polygon fill="#fff" points="30,0.6 33.1,6.8 40,7.8 35,12.7 36.1,19.5 30,16.3 23.8,19.5 25,12.7 20,7.8 26.9,6.8 	"></polygon>
                            </g>
                            <g>
                                <polygon fill="#fff" points="50,0.6 53.1,6.8 60,7.8 55,12.7 56.1,19.5 50,16.3 43.8,19.5 45,12.7 40,7.8 46.9,6.8 	"></polygon>
                            </g>
                            <g>
                                <polygon fill="#fff" points="70,0.6 73.1,6.8 80,7.8 75,12.7 76.1,19.5 70,16.3 63.8,19.5 65,12.7 60,7.8 66.9,6.8 	"></polygon>
                            </g>
                            <g>
                                <polygon fill="#fff" points="90,0.6 93.1,6.8 100,7.8 95,12.7 96.1,19.5 90,16.3 83.8,19.5 85,12.7 80,7.8 86.9,6.8 	"></polygon>
                            </g>
                        </svg>
                    </div>
                    <div class="last5">
                        <div class="inline">Last 5:</div>
                        <ul class="inline last5__list">
                            <li class="Form1">3</li>
                            <li class="Form2">4</li>
                            <li class="Form3">5</li>
                            <li class="Form4">7</li>
                            <li class="Form5">6</li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="cell place__cell">
                <div class="button-bet">
                    <div class="specialoddvalue-text shading" data-oddtag="1ST">3.46</div>
                </div>
            </div>
            <div class="cell place__cell">
                <div class="button-bet">
                    <div class="specialoddvalue-text highlight" data-oddtag="2ND">3.46</div>
                </div>
            </div>
            <div class="cell place__cell">
                <div class="button-bet">
                    <div class="specialoddvalue-text btn-unavailable" data-oddtag="3RD"></div>
                </div>
            </div>
            <div class="cell place__cell">
                <div class="button-bet">
                    <div class="specialoddvalue-text btn-unavailable">Any</div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="a cell team--details__cell">
                <div class="number">
                    4
                </div>
                <div class="silk">
                    <img src="http://games.playbetman.com/Content/Images/HorseSilks/silk_10.png" alt="Silk">
                </div>
                <div class="team--name">
                    <div class="name">
                        Diamond Back
                    </div>
                    <div class="rating">
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                            viewBox="0 0 100 20" enable-background="new 0 0 100 20" xml:space="preserve">
                            <g>
                                <polygon fill="#fff" points="10,0.6 13.1,6.8 20,7.8 15,12.7 16.1,19.5 10,16.3 3.8,19.5 5,12.7 0,7.8 6.9,6.8 	"></polygon>
                            </g>
                            <g>
                                <polygon fill="#fff" points="30,0.6 33.1,6.8 40,7.8 35,12.7 36.1,19.5 30,16.3 23.8,19.5 25,12.7 20,7.8 26.9,6.8 	"></polygon>
                            </g>
                            <g>
                                <polygon fill="#fff" points="50,0.6 53.1,6.8 60,7.8 55,12.7 56.1,19.5 50,16.3 43.8,19.5 45,12.7 40,7.8 46.9,6.8 	"></polygon>
                            </g>
                            <g>
                                <polygon fill="#fff" points="70,0.6 73.1,6.8 80,7.8 75,12.7 76.1,19.5 70,16.3 63.8,19.5 65,12.7 60,7.8 66.9,6.8 	"></polygon>
                            </g>
                            <g>
                                <polygon fill="#fff" points="90,0.6 93.1,6.8 100,7.8 95,12.7 96.1,19.5 90,16.3 83.8,19.5 85,12.7 80,7.8 86.9,6.8 	"></polygon>
                            </g>
                        </svg>
                    </div>
                    <div class="last5">
                        <div class="inline">Last 5:</div>
                        <ul class="inline last5__list">
                            <li class="Form1">3</li>
                            <li class="Form2">4</li>
                            <li class="Form3">5</li>
                            <li class="Form4">7</li>
                            <li class="Form5">6</li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="cell place__cell">
                <div class="button-bet">
                    <div class="specialoddvalue-text shading" data-oddtag="1ST">3.46</div>
                </div>
            </div>
            <div class="cell place__cell">
                <div class="button-bet">
                    <div class="specialoddvalue-text highlight" data-oddtag="2ND">3.46</div>
                </div>
            </div>
            <div class="cell place__cell">
                <div class="button-bet">
                    <div class="specialoddvalue-text btn-unavailable" data-oddtag="3RD"></div>
                </div>
            </div>
            <div class="cell place__cell">
                <div class="button-bet">
                    <div class="specialoddvalue-text btn-unavailable">Any</div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="a cell team--details__cell">
                <div class="number">
                    4
                </div>
                <div class="silk">
                    <img src="http://games.playbetman.com/Content/Images/HorseSilks/silk_10.png" alt="Silk">
                </div>
                <div class="team--name">
                    <div class="name">
                        Diamond Back
                    </div>
                    <div class="rating">
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                            viewBox="0 0 100 20" enable-background="new 0 0 100 20" xml:space="preserve">
                            <g>
                                <polygon fill="#fff" points="10,0.6 13.1,6.8 20,7.8 15,12.7 16.1,19.5 10,16.3 3.8,19.5 5,12.7 0,7.8 6.9,6.8 	"></polygon>
                            </g>
                            <g>
                                <polygon fill="#fff" points="30,0.6 33.1,6.8 40,7.8 35,12.7 36.1,19.5 30,16.3 23.8,19.5 25,12.7 20,7.8 26.9,6.8 	"></polygon>
                            </g>
                            <g>
                                <polygon fill="#fff" points="50,0.6 53.1,6.8 60,7.8 55,12.7 56.1,19.5 50,16.3 43.8,19.5 45,12.7 40,7.8 46.9,6.8 	"></polygon>
                            </g>
                            <g>
                                <polygon fill="#fff" points="70,0.6 73.1,6.8 80,7.8 75,12.7 76.1,19.5 70,16.3 63.8,19.5 65,12.7 60,7.8 66.9,6.8 	"></polygon>
                            </g>
                            <g>
                                <polygon fill="#fff" points="90,0.6 93.1,6.8 100,7.8 95,12.7 96.1,19.5 90,16.3 83.8,19.5 85,12.7 80,7.8 86.9,6.8 	"></polygon>
                            </g>
                        </svg>
                    </div>
                    <div class="last5">
                        <div class="inline">Last 5:</div>
                        <ul class="inline last5__list">
                            <li class="Form1">3</li>
                            <li class="Form2">4</li>
                            <li class="Form3">5</li>
                            <li class="Form4">7</li>
                            <li class="Form5">6</li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="cell place__cell">
                <div class="button-bet">
                    <div class="specialoddvalue-text shading" data-oddtag="1ST">3.46</div>
                </div>
            </div>
            <div class="cell place__cell">
                <div class="button-bet">
                    <div class="specialoddvalue-text highlight" data-oddtag="2ND">3.46</div>
                </div>
            </div>
            <div class="cell place__cell">
                <div class="button-bet">
                    <div class="specialoddvalue-text btn-unavailable" data-oddtag="3RD"></div>
                </div>
            </div>
            <div class="cell place__cell">
                <div class="button-bet">
                    <div class="specialoddvalue-text btn-unavailable">Any</div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="a cell team--details__cell">
                <div class="number">
                    4
                </div>
                <div class="silk">
                    <img src="http://games.playbetman.com/Content/Images/HorseSilks/silk_10.png" alt="Silk">
                </div>
                <div class="team--name">
                    <div class="name">
                        Diamond Back
                    </div>
                    <div class="rating">
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                            viewBox="0 0 100 20" enable-background="new 0 0 100 20" xml:space="preserve">
                            <g>
                                <polygon fill="#fff" points="10,0.6 13.1,6.8 20,7.8 15,12.7 16.1,19.5 10,16.3 3.8,19.5 5,12.7 0,7.8 6.9,6.8 	"></polygon>
                            </g>
                            <g>
                                <polygon fill="#fff" points="30,0.6 33.1,6.8 40,7.8 35,12.7 36.1,19.5 30,16.3 23.8,19.5 25,12.7 20,7.8 26.9,6.8 	"></polygon>
                            </g>
                            <g>
                                <polygon fill="#fff" points="50,0.6 53.1,6.8 60,7.8 55,12.7 56.1,19.5 50,16.3 43.8,19.5 45,12.7 40,7.8 46.9,6.8 	"></polygon>
                            </g>
                            <g>
                                <polygon fill="#fff" points="70,0.6 73.1,6.8 80,7.8 75,12.7 76.1,19.5 70,16.3 63.8,19.5 65,12.7 60,7.8 66.9,6.8 	"></polygon>
                            </g>
                            <g>
                                <polygon fill="#fff" points="90,0.6 93.1,6.8 100,7.8 95,12.7 96.1,19.5 90,16.3 83.8,19.5 85,12.7 80,7.8 86.9,6.8 	"></polygon>
                            </g>
                        </svg>
                    </div>
                    <div class="last5">
                        <div class="inline">Last 5:</div>
                        <ul class="inline last5__list">
                            <li class="Form1">3</li>
                            <li class="Form2">4</li>
                            <li class="Form3">5</li>
                            <li class="Form4">7</li>
                            <li class="Form5">6</li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="cell place__cell">
                <div class="button-bet">
                    <div class="specialoddvalue-text shading" data-oddtag="1ST">3.46</div>
                </div>
            </div>
            <div class="cell place__cell">
                <div class="button-bet">
                    <div class="specialoddvalue-text highlight" data-oddtag="2ND">3.46</div>
                </div>
            </div>
            <div class="cell place__cell">
                <div class="button-bet">
                    <div class="specialoddvalue-text btn-unavailable" data-oddtag="3RD"></div>
                </div>
            </div>
            <div class="cell place__cell">
                <div class="button-bet">
                    <div class="specialoddvalue-text btn-unavailable">Any</div>
                </div>
            </div>
        </div>

        <div class="place-bets__w">
            <button type="button" class="place-bets__button button">
                <span class="odd--value">12.89</span> Add to bet slip 
                <i></i>
            </button>
        </div>
        <br><br><br><br><br>
    </div>
</section>