<nav class="timeline">
    <ul class="nav-tabs">
        <li class="nav-tabs__item active"><div>16:33</div></li>
        <li class="nav-tabs__item"><div>16:35</div></li>
        <li class="nav-tabs__item"><div>16:37</div></li>
        <li class="nav-tabs__item"><div>16:39</div></li>
        <li class="nav-tabs__item"><div>16:41</div></li>
        <li class="nav-tabs__item"><div>16:43</div></li>
        <li class="nav-tabs__item"><div>16:45</div></li>
        <li class="nav-tabs__item"><div>16:47</div></li>
        <li class="nav-tabs__item"><div>16:49</div></li>
        <li class="nav-tabs__item"><div>16:51</div></li>
        <li class="nav-tabs__item"><div>16:53</div></li>
        <li class="nav-tabs__item"><div>16:55</div></li>
        <li class="nav-tabs__item"><div>16:57</div></li>
        <li class="nav-tabs__item"><div>16:33</div></li>
        <li class="nav-tabs__item"><div>16:35</div></li>
        <li class="nav-tabs__item"><div>16:37</div></li>
        <li class="nav-tabs__item"><div>16:39</div></li>
        <li class="nav-tabs__item"><div>16:41</div></li>
        <li class="nav-tabs__item"><div>16:43</div></li>
        <li class="nav-tabs__item"><div>16:45</div></li>
        <li class="nav-tabs__item"><div>16:47</div></li>
        <li class="nav-tabs__item"><div>16:49</div></li>
        <li class="nav-tabs__item"><div>16:51</div></li>
        <li class="nav-tabs__item"><div>16:53</div></li>
        <li class="nav-tabs__item"><div>16:55</div></li>
        <li class="nav-tabs__item"><div>16:57</div></li>
        <li class="nav-tabs__item"><div>16:33</div></li>
        <li class="nav-tabs__item"><div>16:35</div></li>
        <li class="nav-tabs__item"><div>16:37</div></li>
        <li class="nav-tabs__item"><div>16:39</div></li>
        <li class="nav-tabs__item"><div>16:41</div></li>
        <li class="nav-tabs__item"><div>16:43</div></li>
        <li class="nav-tabs__item"><div>16:45</div></li>
        <li class="nav-tabs__item"><div>16:47</div></li>
        <li class="nav-tabs__item"><div>16:49</div></li>
        <li class="nav-tabs__item"><div>16:51</div></li>
        <li class="nav-tabs__item"><div>16:53</div></li>
        <li class="nav-tabs__item"><div>16:55</div></li>
        <li class="nav-tabs__item"><div>16:57</div></li>
    </ul>
</nav>