<div class="starting-soon__header">
    <i class="starting-soon__icon"></i>
    <div class="starting-soon__title">Starting soon</div>
</div>


<section>
    <div class="category-live__container">
        <div class="tournament-group__header cp scroll-watcher" data-toggle="odd-group-384 colps3">
                <div class="tournament__title soccer">
                        <i class="cell icon-cell soccer"></i>
                        <div class="cell title-cell">SOCCER</div>
                        <div class="cell controls-cell">
                                <div class="count">1</div>
                                <div class="hide-block live icon-cell"  id="colps3" data-toggler=".expanded" title="Show/Hide"></div>
                        </div>
                </div>
        </div>
        
        <div id="odd-group-384" data-toggler=".collapse-tournaments">
            <div class="sport-table">
                <!-- start header -->
                <div class="row head">
                    <div class="cell-s match-start-time-value">
                        <div></div>
                    </div>
                    <div class="cell-s match-team-value">
                        <div></div>
                    </div>
                    <div class="cell-a match-specialoddvalue-value">
                        <div>
                            <div class="match-group">
                                <div class="market-odds">
                                    <div class="cell">Match Bet</div>
                                </div>
                            </div>
                            <div class="match-group">
                                <div class="market-odds">
                                    <div class="cell">Draw No Bet</div>
                                </div>
                            </div>
                            <div class="match-group">
                                <div class="market-odds">
                                    <div class="cell">Double Chance</div>
                                </div>
                            </div>
                            <div class="match-group">
                                <div class="market-odds">
                                    <div class="cell">Total (2.5)</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cell-s go-to-all-markets">
                        <div></div>
                    </div>
                </div>
                <!-- /header -->
                
            
            
                <!-- start subheader -->
                <div class="row subhead">
                    <div class="cell-s match-start-time-value live-time__title">
                        <div>TIME</div>
                    </div>
                    <div class="cell-s match-team-value">
                        <div>TABLE EVENTS</div>
                    </div>
                    <div class="cell-a match-specialoddvalue-value">
                        <div>
                            <div class="match-group" group-label="Match Bet">
                                <div class="market-odds">
                                    <div class="cell">1</div>
                                    <div class="cell">X</div>
                                    <div class="cell">2</div>
                                </div>
                            </div>
                            <div class="match-group" group-label="Draw No Bet">
                                <div class="market-odds">
                                    <div class="cell">1</div>
                                    <div class="cell">2</div>
                                </div>
                            </div>
                            <div class="match-group" group-label="Double Chance">
                                <div class="market-odds">
                                    <div class="cell">1</div>
                                    <div class="cell">X</div>
                                    <div class="cell">2</div>
                                </div>
                            </div>
                            <div class="match-group" group-label="Total (2.5)">
                                <div class="market-odds">
                                    <div class="cell">1</div>
                                    <div class="cell">2</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cell-s go-to-all-markets">
                        <div></div>
                    </div>
                </div>
                <!-- /header -->
                
                    <div class="all-markets">
                        
                        <div class="all-markets-sport-table__wrapper">
                            <div class="all-markets-sport-table" data-toggler=".expanded" id="toggle011">
            
                            <!-- COLUMN 1 -->
                            <div class="coll">
                                    <div class="match-group" group-label="Highest scoring half, home team" data-toggle="exp1">
                                        <div class="market-odds" id="exp1" data-toggler=".expanded">
                                            <div class="cell">
                                                <div class="specialoddvalue-text" data-oddtag="1X">
                                                    <span>2.85</span>
                                                </div>
                                            </div>
                                            <div class="cell">
                                                <div class="specialoddvalue-text" data-oddtag="12">
                                                    <span>2.85</span>
                                                </div>
                                            </div>
                                            <div class="cell">
                                                <div class="specialoddvalue-text" data-oddtag="X2">
                                                    <span class="odd--up">3.46</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="match-group" group-label="Home team total goals (1.5)" data-toggle="exp2">
                                            <div class="market-odds" id="exp2" data-toggler=".expanded">
                                                <div class="cell">
                                                    <div class="specialoddvalue-text" data-oddtag="1X">
                                                        <span>2.85</span>
                                                    </div>
                                                </div>
                                                <div class="cell">
                                                    <div class="specialoddvalue-text" data-oddtag="12">
                                                        <span>2.85</span>
                                                    </div>
                                                </div>
                                                <div class="cell">
                                                    <div class="specialoddvalue-text" data-oddtag="X2">
                                                        <span class="odd--up">3.46</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="match-group" group-label="Homewin to nil">
                                        <div class="market-odds">
                                            <div class="cell">
                                                <div class="specialoddvalue-text" data-oddtag="1">
                                                    <span>2.85</span>
                                                </div>
                                            </div>
                                            <div class="cell">
                                                <div class="specialoddvalue-text" data-oddtag="2">
                                                    <span >3.46</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="match-group" group-label="Who wins 1st half?">
                                        <div class="market-odds">
                                            <div class="cell">
                                                <div class="specialoddvalue-text" data-oddtag="1">
                                                    <span>2.85</span>
                                                </div>
                                            </div>
                                            <div class="cell">
                                                <div class="specialoddvalue-text" data-oddtag="2">
                                                    <span >3.46</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="match-group" group-label="1HT Double Chance">
                                        <div class="market-odds">
                                            <div class="cell">
                                                <div class="specialoddvalue-text" data-oddtag="1">
                                                    <span>2.85</span>
                                                </div>
                                            </div>
                                            <div class="cell">
                                                <div class="specialoddvalue-text" data-oddtag="2">
                                                    <span >3.46</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="match-group" group-label="1HT Draw no Bet">
                                        <div class="market-odds">
                                            <div class="cell">
                                                <div class="specialoddvalue-text" data-oddtag="1">
                                                    <span>2.85</span>
                                                </div>
                                            </div>
                                            <div class="cell">
                                                <div class="specialoddvalue-text" data-oddtag="2">
                                                    <span >3.46</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="match-group" group-label="1HT Handicap (0:1)">
                                        <div class="market-odds">
                                            <div class="cell">
                                                <div class="specialoddvalue-text" data-oddtag="1">
                                                    <span>2.85</span>
                                                </div>
                                            </div>
                                            <div class="cell">
                                                <div class="specialoddvalue-text" data-oddtag="2">
                                                    <span >3.46</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="match-group" group-label="2HT Total (2.5)">
                                        <div class="market-odds">
                                            <div class="cell">
                                                <div class="specialoddvalue-text" data-oddtag="1">
                                                    <span>2.85</span>
                                                </div>
                                            </div>
                                            <div class="cell">
                                                <div class="specialoddvalue-text" data-oddtag="2">
                                                    <span >3.46</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="match-group" group-label="2HT Total (1.5)">
                                        <div class="market-odds">
                                            <div class="cell">
                                                <div class="specialoddvalue-text" data-oddtag="1">
                                                    <span>2.85</span>
                                                </div>
                                            </div>
                                            <div class="cell">
                                                <div class="specialoddvalue-text" data-oddtag="2">
                                                    <span >3.46</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="match-group" group-label="2HT Total (0.5)">
                                        <div class="market-odds">
                                            <div class="cell">
                                                <div class="specialoddvalue-text" data-oddtag="1">
                                                    <span>2.85</span>
                                                </div>
                                            </div>
                                            <div class="cell">
                                                <div class="specialoddvalue-text" data-oddtag="2">
                                                    <span >3.46</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="match-group" group-label="Home team Under/Over (0.5), 2HT">
                                        <div class="market-odds">
                                            <div class="cell">
                                                <div class="specialoddvalue-text" data-oddtag="1">
                                                    <span>2.85</span>
                                                </div>
                                            </div>
                                            <div class="cell">
                                                <div class="specialoddvalue-text" data-oddtag="2">
                                                    <span >3.46</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
            
                            <!-- /COLUMN 1 -->
            
                            <!-- COLUMN 1 -->
                            <div class="coll">
                                    <div class="match-group" group-label="Home team clean sheet">
                                        <div class="market-odds">
                                            <div class="cell">
                                                <div class="specialoddvalue-text" data-oddtag="YES">
                                                    <span class="odd--down">2.85</span>
                                                </div>
                                            </div>
                                            <div class="cell">
                                                <div class="specialoddvalue-text" data-oddtag="NO">
                                                    <span >3.46</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="match-group" group-label="Home team total goals (1.5)">
                                        <div class="market-odds">
                                            <div class="cell">
                                                <div class="specialoddvalue-text" data-oddtag="1">
                                                    <span class="odd--down">2.85</span>
                                                </div>
                                            </div>
                                            <div class="cell">
                                                <div class="specialoddvalue-text" data-oddtag="2">
                                                    <span >3.46</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="match-group" group-label="Homewin to nil">
                                        <div class="market-odds">
                                            <div class="cell">
                                                <div class="specialoddvalue-text" data-oddtag="1">
                                                    <span class="odd--down">2.85</span>
                                                </div>
                                            </div>
                                            <div class="cell">
                                                <div class="specialoddvalue-text" data-oddtag="2">
                                                    <span >3.46</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="match-group" group-label="Who wins 1st half?">
                                        <div class="market-odds">
                                            <div class="cell">
                                                <div class="specialoddvalue-text" data-oddtag="1">
                                                    <span class="odd--down">2.85</span>
                                                </div>
                                            </div>
                                            <div class="cell">
                                                <div class="specialoddvalue-text" data-oddtag="2">
                                                    <span >3.46</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="match-group" group-label="1HT Double Chance">
                                        <div class="market-odds">
                                            <div class="cell">
                                                <div class="specialoddvalue-text" data-oddtag="1">
                                                    <span class="odd--down">2.85</span>
                                                </div>
                                            </div>
                                            <div class="cell">
                                                <div class="specialoddvalue-text" data-oddtag="2">
                                                    <span >3.46</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="match-group" group-label="1HT Draw no Bet">
                                        <div class="market-odds">
                                            <div class="cell">
                                                <div class="specialoddvalue-text" data-oddtag="1">
                                                    <span >2.85</span>
                                                </div>
                                            </div>
                                            <div class="cell">
                                                <div class="specialoddvalue-text" data-oddtag="2">
                                                    <span >3.46</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="match-group" group-label="1HT Handicap (0:1)">
                                        <div class="market-odds">
                                            <div class="cell">
                                                <div class="specialoddvalue-text" data-oddtag="1">
                                                    <span >2.85</span>
                                                </div>
                                            </div>
                                            <div class="cell">
                                                <div class="specialoddvalue-text" data-oddtag="2">
                                                    <span >3.46</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="match-group" group-label="2HT Total (2.5)">
                                        <div class="market-odds">
                                            <div class="cell">
                                                <div class="specialoddvalue-text" data-oddtag="1">
                                                    <span >2.85</span>
                                                </div>
                                            </div>
                                            <div class="cell">
                                                <div class="specialoddvalue-text" data-oddtag="2">
                                                    <span >3.46</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="match-group" group-label="2HT Total (1.5)">
                                        <div class="market-odds">
                                            <div class="cell">
                                                <div class="specialoddvalue-text" data-oddtag="1">
                                                    <span >2.85</span>
                                                </div>
                                            </div>
                                            <div class="cell">
                                                <div class="specialoddvalue-text" data-oddtag="2">
                                                    <span >3.46</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="match-group" group-label="2HT Total (0.5)">
                                        <div class="market-odds">
                                            <div class="cell">
                                                <div class="specialoddvalue-text" data-oddtag="1">
                                                    <span >2.85</span>
                                                </div>
                                            </div>
                                            <div class="cell">
                                                <div class="specialoddvalue-text" data-oddtag="2">
                                                    <span >3.46</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="match-group" group-label="Home team Under/Over (0.5), 2HT">
                                        <div class="market-odds">
                                            <div class="cell">
                                                <div class="specialoddvalue-text" data-oddtag="1">
                                                    <span >2.85</span>
                                                </div>
                                            </div>
                                            <div class="cell">
                                                <div class="specialoddvalue-text" data-oddtag="2">
                                                    <span class="odd--up">3.46</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
            
                            <!-- /COLUMN 1 -->
            
                            <!-- COLUMN 1 -->
                            <div class="coll">
                                    <div class="match-group" group-label="Home team clean sheet">
                                        <div class="market-odds">
                                            <div class="cell">
                                                <div class="specialoddvalue-text" data-oddtag="YES">
                                                    <span >2.85</span>
                                                </div>
                                            </div>
                                            <div class="cell">
                                                <div class="specialoddvalue-text" data-oddtag="NO">
                                                    <span class="odd--up">3.46</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="match-group" group-label="Home team total goals (1.5)">
                                        <div class="market-odds">
                                            <div class="cell">
                                                <div class="specialoddvalue-text" data-oddtag="1">
                                                    <span >2.85</span>
                                                </div>
                                            </div>
                                            <div class="cell">
                                                <div class="specialoddvalue-text" data-oddtag="2">
                                                    <span class="odd--up">3.46</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="match-group" group-label="Homewin to nil">
                                        <div class="market-odds">
                                            <div class="cell">
                                                <div class="specialoddvalue-text" data-oddtag="1">
                                                    <span >2.85</span>
                                                </div>
                                            </div>
                                            <div class="cell">
                                                <div class="specialoddvalue-text" data-oddtag="2">
                                                    <span class="odd--up">3.46</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="match-group" group-label="Who wins 1st half?">
                                        <div class="market-odds">
                                            <div class="cell">
                                                <div class="specialoddvalue-text" data-oddtag="1">
                                                    <span >2.85</span>
                                                </div>
                                            </div>
                                            <div class="cell">
                                                <div class="specialoddvalue-text" data-oddtag="2">
                                                    <span class="odd--up">3.46</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="match-group" group-label="1HT Double Chance">
                                        <div class="market-odds">
                                            <div class="cell">
                                                <div class="specialoddvalue-text" data-oddtag="1">
                                                    <span >2.85</span>
                                                </div>
                                            </div>
                                            <div class="cell">
                                                <div class="specialoddvalue-text" data-oddtag="2">
                                                    <span class="odd--up">3.46</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="match-group" group-label="1HT Draw no Bet">
                                        <div class="market-odds">
                                            <div class="cell">
                                                <div class="specialoddvalue-text" data-oddtag="1">
                                                    <span >2.85</span>
                                                </div>
                                            </div>
                                            <div class="cell">
                                                <div class="specialoddvalue-text" data-oddtag="2">
                                                    <span class="odd--up">3.46</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="match-group" group-label="1HT Handicap (0:1)">
                                        <div class="market-odds">
                                            <div class="cell">
                                                <div class="specialoddvalue-text" data-oddtag="1">
                                                    <span >2.85</span>
                                                </div>
                                            </div>
                                            <div class="cell">
                                                <div class="specialoddvalue-text" data-oddtag="2">
                                                    <span class="odd--up">3.46</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="match-group" group-label="2HT Total (2.5)">
                                        <div class="market-odds">
                                            <div class="cell">
                                                <div class="specialoddvalue-text" data-oddtag="1">
                                                    <span >2.85</span>
                                                </div>
                                            </div>
                                            <div class="cell">
                                                <div class="specialoddvalue-text" data-oddtag="2">
                                                    <span class="odd--up">3.46</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="match-group" group-label="2HT Total (1.5)">
                                        <div class="market-odds">
                                            <div class="cell">
                                                <div class="specialoddvalue-text" data-oddtag="1">
                                                    <span >2.85</span>
                                                </div>
                                            </div>
                                            <div class="cell">
                                                <div class="specialoddvalue-text" data-oddtag="2">
                                                    <span class="odd--up">3.46</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="match-group" group-label="2HT Total (0.5)">
                                        <div class="market-odds">
                                            <div class="cell">
                                                <div class="specialoddvalue-text" data-oddtag="1">
                                                    <span >2.85</span>
                                                </div>
                                            </div>
                                            <div class="cell">
                                                <div class="specialoddvalue-text" data-oddtag="2">
                                                    <span class="odd--up">3.46</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="match-group" group-label="Home team Under/Over (0.5), 2HT">
                                        <div class="market-odds">
                                            <div class="cell">
                                                <div class="specialoddvalue-text" data-oddtag="1">
                                                    <span >2.85</span>
                                                </div>
                                            </div>
                                            <div class="cell">
                                                <div class="specialoddvalue-text" data-oddtag="2">
                                                    <span class="odd--up">3.46</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
            
                            <!-- /COLUMN 1 -->
            
            
                            </div>
                        </div>
            
                    </div>


            <!-- start -->
            <div class="row">
                    <div class="cell-s match-start-time-value live-time">
                        <div>Starting in 35mins</div>
                    </div>
                    <div class="cell-s match-team-value">
                        <div>USM EL Harrach - JS Saoura</div>
                    </div>
                    <div class="cell-a match-specialoddvalue-value">
                        <div>
                            <div class="match-group" group-label="Match Bet">
                                <div class="market-odds">
                                    <div class="cell">
                                        <div class="specialoddvalue-text" data-oddtag="1">2.85</div>
                                    </div>
                                    <div class="cell">
                                        <div class="specialoddvalue-text" data-oddtag="X">3.46</div>
                                    </div>
                                    <div class="cell">
                                        <div class="specialoddvalue-text" data-oddtag="2">2.13</div>
                                    </div>
                                </div>
                            </div>
                            <div class="match-group" group-label="Draw No Bet">
                                <div class="market-odds">
                                    <div class="cell">
                                        <div class="specialoddvalue-text" data-oddtag="1">2.85</div>
                                    </div>
                                    <div class="cell">
                                        <div class="specialoddvalue-text" data-oddtag="2">3.46</div>
                                    </div>
                                </div>
                            </div>
                            <div class="match-group" group-label="Double Chance">
                                <div class="market-odds">
                                    <div class="cell">
                                        <div class="specialoddvalue-text" data-oddtag="1">2.85</div>
                                    </div>
                                    <div class="cell">
                                        <div class="specialoddvalue-text" data-oddtag="X">3.46</div>
                                    </div>
                                    <div class="cell">
                                        <div class="specialoddvalue-text" data-oddtag="2">2.13</div>
                                    </div>
                                </div>
                            </div>
                            <div class="match-group" group-label="Draw No Bet">
                                <div class="market-odds">
                                    <div class="cell">
                                        <div class="specialoddvalue-text" data-oddtag="1">2.85</div>
                                    </div>
                                    <div class="cell">
                                        <div class="specialoddvalue-text" data-oddtag="2">3.46</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cell-s go-to-all-markets">
                        <div class="go-to-all-markets__button">+85</div>
                    </div>
                </div>
                <!-- / -->
            </div>
        </div>
    </div>
</SECtion>