<div class="tournament-group-name__container">
    <div class="tournament-live-group-name">
        <i class="tournament-live__icon"></i>
        Primera Division, Apertura</div>
</div>
<div class="sport-table live-table">
    <div class="live-event-details__wrap">
        <div class="coll-s">

            <div class="match-info">
                <div class="cell-left">
                    <div class="match-info__wrap">
                        <div class="match-info__time red">
                            <span>Set Started</span>
                        </div>
                    </div>
                </div>

                <div class="cell-right">

                    <!-- Таблица голов -->
                    <div class="scoreboard__table">
                        <div class="scoreboard__row--team">
                            <div class="scoreboard__item scoreboard__item--team">
                                <div class="scoreboard__item--team--name" title="France">France</div>
                                <div class="scoreboard__item--team--cards">
                                    <div class="red-card"></div>
                                    <div class="yellow-card"></div>
                                </div>
                            </div>
                            <div class="scoreboard__item scoreboard__item--total">
                                <div>15</div>
                            </div>
                            <div class="scoreboard__item scoreboard__item--set">
                                <div>2</div>
                            </div>
                            <div class="scoreboard__item scoreboard__item--set">
                                <div>3</div>
                            </div>
                            <div class="scoreboard__item scoreboard__item--set">
                                <div>4</div>
                            </div>
                            <div class="scoreboard__item scoreboard__item--set">
                                <div>4</div>
                            </div>
                            <div class="scoreboard__item scoreboard__item--set">
                                <div>-</div>
                            </div>
                        </div>
                        <div class="scoreboard__row--team">
                            <div class="scoreboard__item scoreboard__item--team">
                                <div class="scoreboard__item--team--name" title="New Zealand">New Zealand</div>
                            </div>
                            <div class="scoreboard__item scoreboard__item--total">
                                <div>15</div>
                            </div>
                            <div class="scoreboard__item scoreboard__item--set">
                                <div>2</div>
                            </div>
                            <div class="scoreboard__item scoreboard__item--set">
                                <div>3</div>
                            </div>
                            <div class="scoreboard__item scoreboard__item--set">
                                <div>4</div>
                            </div>
                            <div class="scoreboard__item scoreboard__item--set">
                                <div>4</div>
                            </div>
                            <div class="scoreboard__item scoreboard__item--set">
                                <div>-</div>
                            </div>
                        </div>
                    </div>
                    <!-- /Таблица голов -->

                </div>
            </div>
        </div>
        <div class="coll-a">
            <!-- start header -->
            <div class="row head">
                <div class="cell-a match-specialoddvalue-value">
                    <div>
                        <div class="match-group">
                            <div class="market-odds">
                                <div class="cell">Which team will win the match, including overtime?</div>
                            </div>
                        </div>
                        <div class="match-group">
                            <div class="market-odds">
                                <div class="cell">Total for whole Match, including overtime (169.5)</div>
                            </div>
                        </div>
                        <div class="match-group">
                            <div class="market-odds">
                                <div class="cell">Total for period 2 (37.5)</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /header -->

            <!-- start subheader -->
            <div class="row subhead">
                <div class="cell-a match-specialoddvalue-value">
                    <div>
                        <div class="match-group">
                            <div class="market-odds">
                                <div class="cell">1</div>
                                <div class="cell">2</div>
                            </div>
                        </div>
                        <div class="match-group">
                            <div class="market-odds">
                                <div class="cell">UNDER</div>
                                <div class="cell">OVER</div>
                            </div>
                        </div>
                        <div class="match-group">
                            <div class="market-odds">
                                <div class="cell">UNDER</div>
                                <div class="cell">OVER</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /header -->

            <!-- start -->
            <div class="row odds">
                <div class="cell-a match-specialoddvalue-value">
                    <div>
                        <div class="match-group" group-label="Which team will win the match, including overtime?">
                            <div class="market-odds">
                                <div class="cell">
                                    <div class="specialoddvalue-text" data-oddtag="1">
                                        <span class="odd--up">2.85</span>
                                    </div>

                                </div>
                                <div class="cell">
                                    <div class="specialoddvalue-text" data-oddtag="2">
                                        <span>1.12</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="match-group" group-label="Total for whole Match, including overtime (169.5)">
                            <div class="market-odds">
                                <div class="cell">
                                    <div class="specialoddvalue-text" data-oddtag="UNDER">
                                        <span class="odd--down">1.12</span>
                                    </div>
                                </div>
                                <div class="cell">
                                    <div class="specialoddvalue-text" data-oddtag="OVER">
                                        <span>2.85</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="match-group" group-label="Total for period 2 (37.5)">
                            <div class="market-odds">
                                <div class="cell">
                                    <div class="specialoddvalue-text" data-oddtag="UNDER">
                                        <span class="odd--down">1.12</span>
                                    </div>
                                </div>
                                <div class="cell">
                                    <div class="specialoddvalue-text" data-oddtag="OVER">
                                        <span>2.85</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- / -->
        </div>

        <div class="cell-s go-to-all-markets">
            <div class="go-to-all-markets__button active">
                <span class="hide-for-large">Show more</span> <a style="color: #fff; text-decoration: none" href="match-details--live.html">+85</a>
            </div>
        </div>

    </div>
    <!-- / -->

</div>
