<div class="tournament-group-name__container">
    <div class="tournament-live-group-name">
        <i class="tournament-live__icon"></i>
        International Friendlies</div>
</div>
<div class="sport-table live-table">
    <div class="live-event-details__wrap">
        <div class="coll-s">

            <div class="match-info">
                <div class="cell-left">
                    <div class="match-info__wrap">
                        <div class="match-info__time green">
                            <span>3 min</span>
                            <span>1st Period</span>                                   
                        </div>
                    </div>
                </div>

                <div class="cell-space">
                </div>
                <div class="cell-right">
                    <!-- Таблица голов -->
                    <div class="scoreboard__table">
                        <div class="scoreboard__row--team">
                            <div class="scoreboard__item scoreboard__item--team">
                                <div class="scoreboard__item--team--name" title="France">France</div>
                            </div>
                            <div class="scoreboard__item scoreboard__item--total">
                                <div>15</div>
                            </div>
                            <div class="scoreboard__item scoreboard__item-set">
                                <div>2</div>
                            </div>
                            <div class="scoreboard__item scoreboard__item-set">
                                <div>3</div>
                            </div>
                            <div class="scoreboard__item scoreboard__item-set">
                                <div>4</div>
                            </div>
                            <div class="scoreboard__item scoreboard__item-set">
                                <div>4</div>
                            </div>
                            <div class="scoreboard__item scoreboard__item-set">
                                <div>-</div>
                            </div>
                        </div>
                        <div class="scoreboard__row--team">
                            <div class="scoreboard__item scoreboard__item--team">
                                <div class="scoreboard__item--team--name" title="New Zealand">New Zealand</div>
                            </div>
                            <div class="scoreboard__item scoreboard__item--total">
                                <div>15</div>
                            </div>
                            <div class="scoreboard__item scoreboard__item-set">
                                <div>2</div>
                            </div>
                            <div class="scoreboard__item scoreboard__item-set">
                                <div>3</div>
                            </div>
                            <div class="scoreboard__item scoreboard__item-set">
                                <div>4</div>
                            </div>
                            <div class="scoreboard__item scoreboard__item-set">
                                <div>4</div>
                            </div>
                            <div class="scoreboard__item scoreboard__item-set">
                                <div>-</div>
                            </div>
                        </div>
                    </div>
                    <!-- /Таблица голов -->
                </div>
            </div>



        </div>
        <div class="coll-a">



            <!-- start header -->
            <div class="row head">
                <div class="cell-a match-specialoddvalue-value">
                    <div>
                        <div class="match-group">
                            <div class="market-odds">
                                <div class="cell">Both halves over&nbsp;1.5</div>
                            </div>
                        </div>
                        <div class="match-group">
                            <div class="market-odds">
                                <div class="cell">Both halves under&nbsp;1.5</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /header -->


            <!-- start subheader -->
            <div class="row subhead">
                <div class="cell-a match-specialoddvalue-value">
                    <div>
                        <div class="match-group">
                            <div class="market-odds">
                                <div class="cell">YES</div>
                                <div class="cell">NO</div>
                            </div>
                        </div>
                        <div class="match-group">
                            <div class="market-odds">
                                <div class="cell">YES</div>
                                <div class="cell">NO</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /header -->

            <!-- start -->
            <div class="row odds">
                <div class="cell-a match-specialoddvalue-value">
                    <div>
                        <div class="match-group" group-label="BOTH HALVES OVER 1.5">
                            <div class="market-odds">
                                <div class="cell">
                                    <div class="specialoddvalue-text" data-oddtag="YES">
                                        <span class="odd--up">2.85</span>
                                    </div>

                                </div>
                                <div class="cell">
                                    <div class="specialoddvalue-text" data-oddtag="NO">
                                        <span>1.12</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="match-group" group-label="BOTH HALVES UNDER 1.5">
                            <div class="market-odds">
                                <div class="cell">
                                    <div class="specialoddvalue-text" data-oddtag="YES">
                                        <span class="odd--down">1.12</span>
                                    </div>
                                </div>
                                <div class="cell">
                                    <div class="specialoddvalue-text" data-oddtag="NO">
                                        <span>2.85</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- / -->
        </div>

        <div class="cell-s go-to-all-markets">
            <div class="go-to-all-markets__button active">
                <span class="hide-for-large">Show more</span> <a style="color: #fff; text-decoration: none;" href="match-details-tennis--live.html">+</a>85
            </div>
        </div>

    </div>
    <!-- / -->

</div>