.account-area__button {
    margin-left: 0px;
    margin-right: 10px;

    &.login {
        border: 1px solid #fff;
        color: #fff;
        background: none;

        &:hover {
            background: none;
            color: $primary-link-color;
            border-color: $primary-link-color;
        }
    }

    &.login-register {
        width: 25px;
        position: relative;
        display: inline-block;
        vertical-align: middle;
        height: 16px;
        cursor: pointer;

        @include breakpoint(large) {
            display: none;
        }

        &::before {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 3px;
            background: $burger-color;
            box-shadow: 0 7px 0 $burger-color, 0 14px 0 $burger-color;
            content: '';
        }
    }

    &.search {
        @extend .ico;

        &::before {
            content: '\E81F';
            font-size: rem-calc(21);
        }
    }

    @include breakpoint(medium down) {
        &.login-register {
            display: block;
            cursor: pointer;
        }
    }
}

.account-area__button:not(.lang-switcher):not(.login-register) {
    @include breakpoint(medium down) {
        font-size: rem-calc(12);
        margin-left: 5px;
        margin-right: 5px;
        line-height: 0;
        padding: 13px;
        white-space: nowrap;
    }
}

.account-area__container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

/* Logged user box */

$user-info-height: 34px;
$user-info-height-md: 28px;
$user-info-bg-color: #464750;

.logged-account__container {
    @extend .grid-container--nowrap;
    align-items: center;
    margin-left: 5px;
}

.user-info {
    @extend .ico;
    background: $user-info-bg-color;
    align-items: center;
    display: flex;
    width: 35px;
    height: $user-info-height;
    border-radius: 3px;

    @include breakpoint(xlarge down) {
        height: $user-info-height-md;
    }
    @include breakpoint(small down) {
        display: none;
    }
    &:hover {
        background-color: rgba(255, 255, 255, .3);
    }

    &:before {
        content: '\F007';
        font-size: rem-calc(15);
        padding: 0;
        line-height: $user-info-height;
        margin: 0 auto;

        @include breakpoint(xlarge down) {
            font-size: rem-calc(14);
            line-height: $user-info-height-md;
        }
    }
}

.user-balance {
    align-items: center;
    display: flex;
    padding: 5px 8px;
    @extend .grid-container--nowrap;
    margin: 0 5px;
    color: #fff;
    background-color: $user-info-bg-color;
    border-radius: 3px;
    height: $user-info-height;

    @include breakpoint(xlarge down) {
        height: $user-info-height-md;
    }
}

.user-balance--deposit {
    // color: #000;
    margin-left: 10px;
    border-left: 1px solid rgba(255, 255, 255, .2);
    padding-left: 5px;
    text-transform: uppercase;
    // background: $primary-color;
    // box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
    // letter-spacing: .2px;
    // font-weight: 500;
    // padding: 0 5px;
    // border-radius: 3px;
    a {
        color: #fff;
        text-decoration: none;
        &:hover {
            color: $primary-color;
        }
    }
    .deposit__icon {
        content: '';
        position: relative;
        width: 28px;
        height: 16px;
        display: inline-block;
        &:before {
            font-size: rem-calc(26);
            line-height: rem-calc(16);
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            width: 23px;
            position: absolute;
            top: 3px;
        }
    }
    &:hover i:before {
        color: $primary-color;
    }
    .deposit__name {
        font-size: rem-calc(14);
        @include breakpoint(large down) {
            display: none;
        }
    }
    // &:hover {
    //     // background: scale-color($primary-color, $lightness: 14%);
    // }

    @include breakpoint(xlarge down) {
        line-height: rem-calc(20);
    }
}

.user-balance--refresh {
    font-size: rem-calc(15);

    @include breakpoint(xlarge down) {
        font-size: rem-calc(14);
    }
}

#user-info__menu {
    z-index: 20;
}

#menu-list-grow {
    transition: opacity 0ms, transform 0ms !important;
}