.become-partner-button{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.loading__custom{
    height: auto;
    position: relative;
    background-color: rgba(0,0,0,0);
}

.affiliate-chart__container{
    width:100%;
    display: flex;
    flex-flow: row nowrap;
    flex-grow: 0.5;
}

.affiliate-chart__left{
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 0.4;
}

.affiliate-chart__right{
    flex-grow: 0.6;
}

.affiliate-data__header{
    width: 100%;
    text-align: center;
    color:#ffbf00;
    text-transform: uppercase;
}


.affiliate-chart__container__small{
    width:100%;
    display: flex;
    flex-flow: column nowrap;
}

.affiliate-chart__left__small{
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
}

.affiliate-chart__right__small{
    flex-grow: 1;
}


.affilate-chart__item{
    display: flex;
    flex-flow: row nowrap;
}

.affilate-chart__item-margin{
    margin-top: 10px;
}

.affiliate-control__wrapper{
    display: flex;
}

.affiliate-control__elements{
    flex-grow: 0.33;
}

.custom-selectbox-affiliate {
    display: inline-block;
    position: relative;
    width: 100%;
    margin-left: 10px;
}
.custom-selectbox-affiliate ul,
.custom-selectbox-affiliate ol {
    margin: 0;
    padding: 0;
    list-style: none;
}
.custom-selectbox-affiliate > ul > li > a {
    padding: 0;
    background-color: #fff;
}
.custom-selectbox-affiliate-arrow {
    display: inline-block;
    font-style: normal;
    vertical-align: baseline;
    text-align: center;
    text-transform: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    top: 50%;
    right: 11px;
    line-height: 1;
    margin-top: -6px;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    color: rgba(0, 0, 0, 0.25);
    font-size: 12px;
}
.custom-selectbox-affiliate-arrow:before {
    display: block;
    font-family: "fontello" !important;
}
.custom-selectbox-affiliate-arrow * {
    display: none;
}
.custom-selectbox-affiliate-arrow:before {
    content: '\E819';
    color: #fff;
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
}
.custom-selectbox-affiliate-selection {
    outline: none;
    display: block;

    margin: 0;
    background: #434553!important;
    color: #fff;
    width: 100%;
    text-align: left;
    /* padding: 5px 10px; */
    line-height: 1.15rem;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: .5px;
    border-radius: 4px;
    width: 80px;
    cursor: default;
    height: 34px;
    color: #fff;
    padding-top: 2px;
}
.custom-selectbox-affiliate-selection:hover {
    border-color: #40a9ff;
    border-right-width: 1px !important;
}
.custom-selectbox-affiliate-focused .custom-selectbox-affiliate-selection,
.custom-selectbox-affiliate-selection:focus,
.custom-selectbox-affiliate-selection:active {
    /* border-color: #40a9ff;
    outline: 0;
    -webkit-box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
            box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
    border-right-width: 1px !important; */
    border: 0!important;
}
.custom-selectbox-affiliate-selection__clear {
    display: inline-block;
    font-style: normal;
    vertical-align: baseline;
    text-align: center;
    text-transform: none;
    text-rendering: auto;
    opacity: 0;
    position: absolute;
    right: 11px;
    z-index: 1;
    background: #fff;
    top: 50%;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.25);
    width: 12px;
    height: 12px;
    margin-top: -6px;
    line-height: 12px;
    cursor: pointer;
    -webkit-transition: color 0.3s ease, opacity 0.15s ease;
    transition: color 0.3s ease, opacity 0.15s ease;
}
.custom-selectbox-affiliate-selection__clear:before {
    display: block;
    font-family: 'fontello';
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\e62e";
}
.custom-selectbox-affiliate-selection__clear:hover {
    color: rgba(0, 0, 0, 0.45);
}
.custom-selectbox-affiliate-selection:hover .custom-selectbox-affiliate-selection__clear {
    opacity: 1;
}
.custom-selectbox-affiliate-selection-selected-value {
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
    padding-right: 20px;
}
.custom-selectbox-affiliate-no-arrow .custom-selectbox-affiliate-selection-selected-value {
    padding-right: 0;
}
.custom-selectbox-affiliate-disabled {
    color: rgba(0, 0, 0, 0.25);
}
.custom-selectbox-affiliate-disabled .custom-selectbox-affiliate-selection {
    background: #f5f5f5;
    cursor: not-allowed;
}
.custom-selectbox-affiliate-disabled .custom-selectbox-affiliate-selection:hover,
.custom-selectbox-affiliate-disabled .custom-selectbox-affiliate-selection:focus,
.custom-selectbox-affiliate-disabled .custom-selectbox-affiliate-selection:active {
    border-color: #d9d9d9;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.custom-selectbox-affiliate-disabled .custom-selectbox-affiliate-selection__clear {
    display: none;
    visibility: hidden;
    pointer-events: none;
}
.custom-selectbox-affiliate-disabled .custom-selectbox-affiliate-selection--multiple .custom-selectbox-affiliate-selection__choice {
    background: #f5f5f5;
    color: #aaa;
    padding-right: 10px;
}
.custom-selectbox-affiliate-disabled .custom-selectbox-affiliate-selection--multiple .custom-selectbox-affiliate-selection__choice__remove {
    display: none;
}
.custom-selectbox-affiliate-selection--single {
    position: relative;
    cursor: pointer;
}
.custom-selectbox-affiliate-selection__rendered {
    display: block;
    margin-left: 11px;
    margin-right: 11px;
    position: relative;
    line-height: 30px;
}
.custom-selectbox-affiliate-selection__rendered:after {
    content: '.';
    visibility: hidden;
    pointer-events: none;
    display: inline-block;
    width: 0;
}
.custom-selectbox-affiliate-lg {
    font-size: 16px;
}
.custom-selectbox-affiliate-lg .custom-selectbox-affiliate-selection--single {
    height: 40px;
}
.custom-selectbox-affiliate-lg .custom-selectbox-affiliate-selection__rendered {
    line-height: 38px;
}
.custom-selectbox-affiliate-lg .custom-selectbox-affiliate-selection--multiple {
    min-height: 40px;
}
.custom-selectbox-affiliate-lg .custom-selectbox-affiliate-selection--multiple .custom-selectbox-affiliate-selection__rendered li {
    height: 32px;
    line-height: 32px;
}
.custom-selectbox-affiliate-lg .custom-selectbox-affiliate-selection--multiple .custom-selectbox-affiliate-selection__clear {
    top: 20px;
}
.custom-selectbox-affiliate-sm .custom-selectbox-affiliate-selection--single {
    height: 24px;
}
.custom-selectbox-affiliate-sm .custom-selectbox-affiliate-selection__rendered {
    line-height: 22px;
    margin: 0 7px;
}
.custom-selectbox-affiliate-sm .custom-selectbox-affiliate-selection--multiple {
    min-height: 24px;
}
.custom-selectbox-affiliate-sm .custom-selectbox-affiliate-selection--multiple .custom-selectbox-affiliate-selection__rendered li {
    height: 16px;
    line-height: 14px;
}
.custom-selectbox-affiliate-sm .custom-selectbox-affiliate-selection--multiple .custom-selectbox-affiliate-selection__clear {
    top: 12px;
}
.custom-selectbox-affiliate-sm .custom-selectbox-affiliate-selection__clear,
.custom-selectbox-affiliate-sm .custom-selectbox-affiliate-arrow {
    right: 8px;
}
.custom-selectbox-affiliate-disabled .custom-selectbox-affiliate-selection__choice__remove {
    color: rgba(0, 0, 0, 0.25);
    cursor: default;
}
.custom-selectbox-affiliate-disabled .custom-selectbox-affiliate-selection__choice__remove:hover {
    color: rgba(0, 0, 0, 0.25);
}
.custom-selectbox-affiliate-search__field__wrap {
    display: inline-block;
    position: relative;
}
.custom-selectbox-affiliate-selection__placeholder,
.custom-selectbox-affiliate-search__field__placeholder {
    position: absolute;
    top: 50%;
    left: 0;
    right: 9px;
    color: #fff;
    line-height: 20px;
    height: 20px;
    max-width: 100%;
    margin-top: -10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
}
.custom-selectbox-affiliate-search__field__placeholder {
    left: 12px;
}
.custom-selectbox-affiliate-search__field__mirror {
    position: absolute;
    top: -9999px;
    left: -9999px;
    white-space: pre;
    pointer-events: none;
}
.custom-selectbox-affiliate-search--inline {
    position: absolute;
    height: 100%;
    width: 100%;
}
.custom-selectbox-affiliate-search--inline .custom-selectbox-affiliate-search__field__wrap {
    width: 100%;
    height: 100%;
}
.custom-selectbox-affiliate-search--inline .custom-selectbox-affiliate-search__field {
    border-width: 0;
    font-size: 100%;
    height: 100%;
    width: 100%;
    background: transparent;
    outline: 0;
    border-radius: 4px;
    line-height: 1;
}
.custom-selectbox-affiliate-search--inline > i {
    float: right;
}
.custom-selectbox-affiliate-selection--multiple {
    min-height: 32px;
    cursor: text;
    padding-bottom: 3px;
    zoom: 1;
}
.custom-selectbox-affiliate-selection--multiple:before,
.custom-selectbox-affiliate-selection--multiple:after {
    content: "";
    display: table;
}
.custom-selectbox-affiliate-selection--multiple:after {
    clear: both;
}
.custom-selectbox-affiliate-selection--multiple .custom-selectbox-affiliate-search--inline {
    float: left;
    position: static;
    width: auto;
    padding: 0;
    max-width: 100%;
}
.custom-selectbox-affiliate-selection--multiple .custom-selectbox-affiliate-search--inline .custom-selectbox-affiliate-search__field {
    max-width: 100%;
    width: 0.75em;
}
.custom-selectbox-affiliate-selection--multiple .custom-selectbox-affiliate-selection__rendered {
    margin-left: 5px;
    margin-bottom: -3px;
    height: auto;
}
.custom-selectbox-affiliate-selection--multiple .custom-selectbox-affiliate-selection__placeholder {
    margin-left: 6px;
}
.custom-selectbox-affiliate-selection--multiple > ul > li,
.custom-selectbox-affiliate-selection--multiple .custom-selectbox-affiliate-selection__rendered > ul > li {
    margin-top: 3px;
    height: 24px;
    line-height: 22px;
}
.custom-selectbox-affiliate-selection--multiple .custom-selectbox-affiliate-selection__choice {
    color: rgba(0, 0, 0, 0.65);
    background-color: #fafafa;
    border: 1px solid #e8e8e8;
    border-radius: 2px;
    cursor: default;
    float: left;
    margin-right: 4px;
    max-width: 99%;
    position: relative;
    overflow: hidden;
    -webkit-transition: padding 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: padding 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    padding: 0 20px 0 10px;
}
.custom-selectbox-affiliate-selection--multiple .custom-selectbox-affiliate-selection__choice__disabled {
    padding: 0 10px;
}
.custom-selectbox-affiliate-selection--multiple .custom-selectbox-affiliate-selection__choice__content {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    -webkit-transition: margin 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: margin 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.custom-selectbox-affiliate-selection--multiple .custom-selectbox-affiliate-selection__choice__remove {
    font-style: normal;
    vertical-align: baseline;
    text-align: center;
    text-transform: none;
    line-height: 1;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: rgba(0, 0, 0, 0.45);
    line-height: inherit;
    cursor: pointer;
    font-weight: bold;
    -webkit-transition: all .3s;
    transition: all .3s;
    display: inline-block;
    font-size: 12px;
    font-size: 10px \9;
    -webkit-transform: scale(0.83333333) rotate(0deg);
    -ms-transform: scale(0.83333333) rotate(0deg);
    transform: scale(0.83333333) rotate(0deg);
    position: absolute;
    right: 4px;
}

.custom-selectbox-affiliate-allow-clear .custom-selectbox-affiliate-selection--single .custom-selectbox-affiliate-selection-selected-value {
    padding-right: 16px;
}
.custom-selectbox-affiliate-allow-clear .custom-selectbox-affiliate-selection--multiple .custom-selectbox-affiliate-selection__rendered {
    margin-right: 20px;
}
.custom-selectbox-affiliate-open .custom-selectbox-affiliate-arrow:before {
    /* -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg); */
}
.custom-selectbox-affiliate-open .custom-selectbox-affiliate-selection {
    /* border-color: #40a9ff;
    outline: 0;
    -webkit-box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
            box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
    border-right-width: 1px !important; */
    border: 0;

    background: rgba(255,255,255,.25);
}
.custom-selectbox-affiliate-combobox .custom-selectbox-affiliate-arrow {
    display: none;
}
.custom-selectbox-affiliate-combobox .custom-selectbox-affiliate-search--inline {
    height: 100%;
    width: 100%;
    float: none;
}
.custom-selectbox-affiliate-combobox .custom-selectbox-affiliate-search__field__wrap {
    width: 100%;
    height: 100%;
}
.custom-selectbox-affiliate-combobox .custom-selectbox-affiliate-search__field {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -webkit-box-shadow: none;
    box-shadow: none;
}
.custom-selectbox-affiliate-combobox.custom-selectbox-affiliate-allow-clear .custom-selectbox-affiliate-selection:hover .custom-selectbox-affiliate-selection__rendered {
    margin-right: 20px;
}
.custom-selectbox-affiliate-dropdown {
    line-height: 1.5;
    color: #000;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 1050;
    left: -9999px;
    top: -9999px;
    position: absolute;
    outline: none;
    font-size: 14px;
}
.custom-selectbox-affiliate-dropdown.slide-up-enter.slide-up-enter-active.custom-selectbox-affiliate-dropdown-placement-bottomLeft,
.custom-selectbox-affiliate-dropdown.slide-up-appear.slide-up-appear-active.custom-selectbox-affiliate-dropdown-placement-bottomLeft {
    -webkit-animation-name: antSlideUpIn;
    animation-name: antSlideUpIn;
}
.custom-selectbox-affiliate-dropdown.slide-up-enter.slide-up-enter-active.custom-selectbox-affiliate-dropdown-placement-topLeft,
.custom-selectbox-affiliate-dropdown.slide-up-appear.slide-up-appear-active.custom-selectbox-affiliate-dropdown-placement-topLeft {
    -webkit-animation-name: antSlideDownIn;
    animation-name: antSlideDownIn;
}
.custom-selectbox-affiliate-dropdown.slide-up-leave.slide-up-leave-active.custom-selectbox-affiliate-dropdown-placement-bottomLeft {
    -webkit-animation-name: antSlideUpOut;
    animation-name: antSlideUpOut;
}
.custom-selectbox-affiliate-dropdown.slide-up-leave.slide-up-leave-active.custom-selectbox-affiliate-dropdown-placement-topLeft {
    -webkit-animation-name: antSlideDownOut;
    animation-name: antSlideDownOut;
}
.custom-selectbox-affiliate-dropdown-hidden {
    display: none;
}
.custom-selectbox-affiliate-dropdown-menu {
    outline: none;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    max-height: 250px;
    overflow: auto;
}
.custom-selectbox-affiliate-dropdown-menu-item-group-list {
    margin: 0;
    padding: 0;
}
.custom-selectbox-affiliate-dropdown-menu-item-group-list > .custom-selectbox-affiliate-dropdown-menu-item {
    padding-left: 20px;
}
.custom-selectbox-affiliate-dropdown-menu-item-group-title {
    color: rgba(0, 0, 0, 0.45);
    padding: 0 12px;
    height: 32px;
    line-height: 32px;
    font-size: 12px;
}
.custom-selectbox-affiliate-dropdown-menu-item {
    position: relative;
    display: block;
    padding: 5px 12px;
    line-height: 22px;
    font-weight: normal;
    color: #000;
    white-space: nowrap;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-transition: background 0.3s ease;
    transition: background 0.3s ease;
}
.custom-selectbox-affiliate-dropdown-menu-item:hover {
    background: rgba(51, 51, 51, 0.12);
}
.custom-selectbox-affiliate-dropdown-menu-item:first-child {
    border-radius: 4px 4px 0 0;
}
.custom-selectbox-affiliate-dropdown-menu-item:last-child {
    border-radius: 0 0 4px 4px;
}
.custom-selectbox-affiliate-dropdown-menu-item-disabled {
    color: rgba(0, 0, 0, 0.25);
    cursor: not-allowed;
}
.custom-selectbox-affiliate-dropdown-menu-item-disabled:hover {
    color: rgba(0, 0, 0, 0.25);
    background-color: #fff;
    cursor: not-allowed;
}
.custom-selectbox-affiliate-dropdown-menu-item-selected,
.custom-selectbox-affiliate-dropdown-menu-item-selected:hover {
    font-weight: 500;
    background: rgba(0, 0, 0, 0.08);
}
.custom-selectbox-affiliate-dropdown-menu-item-active {
    /* background-color: #e6f7ff; */
}
.custom-selectbox-affiliate-dropdown-menu-item-divider {
    height: 1px;
    margin: 1px 0;
    overflow: hidden;
    background-color: #e8e8e8;
    line-height: 0;
}
.custom-selectbox-affiliate-dropdown.custom-selectbox-affiliate-dropdown--multiple .custom-selectbox-affiliate-dropdown-menu-item:after {
    font-family: 'fontello';
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\E819";
    color: transparent;
    display: inline-block;
    font-size: 12px;
    font-size: 10px \9;
    -webkit-transform: scale(0.83333333) rotate(0deg);
    -ms-transform: scale(0.83333333) rotate(0deg);
    transform: scale(0.83333333) rotate(0deg);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 12px;
    font-weight: bold;
    text-shadow: 0 0.1px 0, 0.1px 0 0, 0 -0.1px 0, -0.1px 0;
}
:root .custom-selectbox-affiliate-dropdown.custom-selectbox-affiliate-dropdown--multiple .custom-selectbox-affiliate-dropdown-menu-item:after {
    font-size: 12px;
}
.custom-selectbox-affiliate-dropdown.custom-selectbox-affiliate-dropdown--multiple .custom-selectbox-affiliate-dropdown-menu-item:hover:after {
    color: #ddd;
}
.custom-selectbox-affiliate-dropdown.custom-selectbox-affiliate-dropdown--multiple .custom-selectbox-affiliate-dropdown-menu-item-disabled:after {
    display: none;
}
.custom-selectbox-affiliate-dropdown.custom-selectbox-affiliate-dropdown--multiple .custom-selectbox-affiliate-dropdown-menu-item-selected:after,
.custom-selectbox-affiliate-dropdown.custom-selectbox-affiliate-dropdown--multiple .custom-selectbox-affiliate-dropdown-menu-item-selected:hover:after {
    color: #1890ff;
    display: inline-block;
}
.custom-selectbox-affiliate-dropdown-container-open .custom-selectbox-affiliate-dropdown,
.custom-selectbox-affiliate-dropdown-open .custom-selectbox-affiliate-dropdown {
    display: block;
}


.affiliate-data__body{
    height: 270px;
    overflow: auto;
}

.affiliate-data__body_small{
    max-height: 300px;
overflow: auto;
}

.affiliate-data__body_element{
    display:flex;
    margin-top: 10px;
}
.affiliate-data__body_element_betamount{
    padding: 20px;
    border-radius: 50%;
    background-color: #ffbf00;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.affiliate-data__body_element_commission-per{
    border-bottom: 2px solid #ffbf00;
    color: rgba(255, 255, 255, 0.4);
    padding: 5px 0 5px 10px;
    height: 25px;
}

.affiliate-data__body_element_commission-sum{
    padding: 5px 0 5px 10px;
    height: 25px;
}

.affiliate-data_warning{
    width: 100%;
    text-align: center;
    margin-top: 30px;
}