<table class="responsive-card-table old">
        <thead>
            <tr>
                <th>Ticket number</th>
                <th>State</th>
                <th>Date</th>
                <th>Event name</th>
                <th>Market</th>
                <th>Odds</th>
                <th>Stake</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="ticket-number" rowspan="3" data-label="Ticket number">88801011600002402679</td>
                <td data-label="State">Open</td>
                <td data-label="Date">5/10/2018, 7:09 PM</td>
                <td data-label="Event name">KRC Genk: KAA Gent</td>
                <td data-label="Market">Asian Handicap (-0)</td>
                <td data-label="Odds">2.68</td>
                <td class="stake-for-large" rowspan="3">1.00</td>
            </tr>
            <tr>
                <td data-label="State">Open</td>
                <td data-label="Date">5/10/2018, 7:09 PM</td>
                <td data-label="Event name">KRC Genk: KAA Gent</td>
                <td data-label="Market">Asian Handicap (-0)</td>
                <td data-label="Odds">2.68</td>
            </tr>
            <tr>
                <td data-label="State">Open</td>
                <td data-label="Date">5/10/2018, 7:09 PM</td>
                <td data-label="Event name">KRC Genk: KAA Gent</td>
                <td data-label="Market">Asian Handicap (-0)</td>
                <td data-label="Odds">2.68</td>
            </tr>
            <tr class="stake-for-mobile">
                <td data-label="Stake">1.00</td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td class="ticket-number" data-label="Ticket number">88801011600002402679</td>
                <td data-label="State">Open</td>
                <td data-label="Date">5/10/2018, 7:09 PM</td>
                <td data-label="Event name">KRC Genk: KAA Gent</td>
                <td data-label="Market">Asian Handicap (-0)</td>
                <td data-label="Odds">2.68</td>
                <td class="stake-for-large">1.00</td>
            </tr>
            <tr class="stake-for-mobile">
                <td data-label="Stake">1.00</td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td class="ticket-number" data-label="Ticket number">88801011600002402679</td>
                <td data-label="State">Open</td>
                <td data-label="Date">5/10/2018, 7:09 PM</td>
                <td data-label="Event name">KRC Genk: KAA Gent</td>
                <td data-label="Market">Asian Handicap (-0)</td>
                <td data-label="Odds">2.68</td>
                <td class="stake-for-large">1.00</td>
            </tr>
            <tr class="stake-for-mobile">
                <td data-label="Stake">1.00</td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td class="ticket-number" data-label="Ticket number">88801011600002402679</td>
                <td data-label="State">Open</td>
                <td data-label="Date">5/10/2018, 7:09 PM</td>
                <td data-label="Event name">KRC Genk: KAA Gent</td>
                <td data-label="Market">Asian Handicap (-0)</td>
                <td data-label="Odds">2.68</td>
                <td class="stake-for-large">1.00</td>
            </tr>
            <tr class="stake-for-mobile">
                <td data-label="Stake">1.00</td>
            </tr>
        </tbody>
    </table>
