<div class="personal">
    <div class="avatar__container">
        <div class="avatar__icon"></div>
    </div>
    <div class="personal-info">
        <div class="personal-info-name">
            <div class="personal-info__first">Edward</div>
            <div class="personal-info__last">Safronov</div>
        </div>
        <div class="user-current-funds">
            <div class="deposit__cell">
                <div class="title">Deposit</div>
                <span>4600.00 XAF</span>
            </div>
            <div class="bonus__cell">
                <div class="title">Bonus</div>
                <span>130.00 XAF</span>
                <i class="funds-refresh__icon"></i>
            </div>
        </div>
    </div>
</div>
<div class="account-bonus__section">
    <div class="signup-bonus__wrapper">
        <h2>Signup bonus</h2>
        <a href="#" class="micro__button balance-info__button">
            <i class="balance-info__icon"></i>
            <span>Signup bonus terms</span>
        </a>
        <div class="detailed-balance__wrapper">
            <div class="user-current-funds">
                <div class="title">Bonus balance</div>
                <span>1000.00 XAF</span>
            </div>
        </div>
        <div class="row">
            <div class="title">Left to rollover</div>
            <div class="progress" role="progressbar" tabindex="0" aria-valuenow="25" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
                <div class="progress-meter" style="width: 15%"></div>
            </div>
            <div>120000.00 XAF</div>
        </div>
        <div class="row">
            <div class="title">Bonus expiration</div>
            <div class="progress" role="progressbar" tabindex="0" aria-valuenow="25" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
                <div class="progress-meter" style="width: 75%"></div>
            </div>
            <div>06.26.2018</div>
        </div>
    </div>
    <div class="weekly-bonus__wrapper">
        <h2>Weekly bonus</h2>
        <a href="#" class="micro__button balance-info__button">
            <i class="balance-info__icon"></i>
            <span>Weekly bonus terms</span>
        </a>
        <div class="user-current-funds">
            <div class="title">Weekly bonus balance</div>
            <span>600.00 XAF</span>
        </div>
        <div class="row">
            <div class="title">Bonus expiration:
                <span class="primary-color">64 XAF</span> on 2018-06-13</div>

        </div>
    </div>
</div>

<!-- account-details__section -->
<div class="account-details__section">
    <h2>Account details</h2>
    
    <div class="personal-data">
        <div class="cell">
            <div class="form-layout">
                <h4>Personal information <div class="micro__button edit__button"><i class="edit__icon"></i>Edit</div></h4>
                <div class="form-layout__row">
                    <div class="form-layout__cell label__cell">
                        <label for="firstName">First Name:</label>
                    </div>
                    <div class="form-layout__cell">
                        <input value="Edward" type="text" id="firstName" disabled>
                    </div>
                </div>
                <div class="form-layout__row">
                    <div class="form-layout__cell label__cell">
                        <label for="firstName">Last Name:</label>
                    </div>
                    <div class="form-layout__cell">
                        <input value="Safronov" type="text" id="firstName" disabled>
                    </div>
                </div>
                <div class="form-layout__row">
                    <div class="form-layout__cell label__cell">
                        <label for="firstName">Birthday:</label>
                    </div>
                    <div class="form-layout__cell">
                        <!-- Birthday Select -->
                        <div class="control-group__birthday">
                            <span class="input">
                                <input class="input__control" type="text" name="birthday-day" value="4" maxlength="2" placeholder="Day" autocomplete="off" disabled>
                            </span>
                            <span class="select">
                                <select class="control-select" name="birthday-month" disabled>
                                    <option value="00">Month</option>
                                    <option value="01">January</option>
                                    <option value="02">February</option>
                                    <option value="03">March</option>
                                    <option value="04">April</option>
                                    <option value="05">May</option>
                                    <option value="06">June</option>
                                    <option value="07">July</option>
                                    <option value="08">August</option>
                                    <option value="09">September</option>
                                    <option value="10">October</option>
                                    <option value="11">November</option>
                                    <option value="12">December</option>
                                </select>
                            </span>
                            <span class="input">
                                <input type="text" class="input__control" name="birthday-year" value="1985" maxlength="4" placeholder="Year" autocomplete="off" disabled>
                            </span>
                        </div>
                        <!-- /Birthday Select -->

                    </div>
                </div>
                <div class="form-layout__row">
                    <div class="form-layout__cell label__cell">
                        <label for="firstName">Bank Name:</label>
                    </div>
                    <div class="form-layout__cell">
                        <input value="SberBank" type="text" id="firstName" disabled>
                    </div>
                </div>
                <div class="form-layout__row">
                    <div class="form-layout__cell label__cell">
                        <label for="firstName">Bank account number:</label>
                    </div>
                    <div class="form-layout__cell">
                        <input value="Safronov" type="text" id="firstName" disabled>
                    </div>
                </div>
            </div>
        </div>
        <div class="cell">
            <div class="form-layout">
                <h4>Contact details <div class="micro__button edit__button"><i class="edit__icon"></i>Edit</div></h4>
                <div class="form-layout__row">
                    <div class="form-layout__cell label__cell">
                        <label for="firstName">Country:</label>
                    </div>
                    <div class="form-layout__cell">
                        <select class="control-select" name="country" disabled>
                            <option value="ru">Russia</option>
                        </select>
                    </div>
                </div>
                <div class="form-layout__row">
                    <div class="form-layout__cell label__cell">
                        <label for="firstName">Address:</label>
                    </div>
                    <div class="form-layout__cell">
                        <input value="Saint-Petersburg" type="text" id="firstName" disabled>
                    </div>
                </div>
                <div class="form-layout__row">
                    <div class="form-layout__cell label__cell">
                        <label for="firstName">E-mail Address:</label>
                    </div>
                    <div class="form-layout__cell">
                        <input value="mail@email.ru" type="email" id="firstName" disabled>
                    </div>
                </div>
                <div class="form-layout__row">
                    <div class="form-layout__cell label__cell">
                        <label for="firstName">Phone Number:</label>
                    </div>
                    <div class="form-layout__cell">
                        <input value="+79990081717" type="tel" id="firstName" disabled>
                        <button class="verify-button button green">Verify phone number</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="confirm-area">
    <button class="confirm-button button">
        Save change
    </button>
</div>
<!-- /account-details__section -->
<!-- 
<div class="account-details__section">
    <button class="button change-password">Change password</button>
</div> -->