<div class="payment-systems">
    <h2>Add funds</h2>
    <div class="row">
        <div class="cell">
            <div class="pay-system__card">
                <img src="assets/img/pay_logos/request_deposit.png" class="pay-system-card__logo"></img>
            </div>
        </div>
        <div class="cell">
            <div class="pay-system__card">
                <img src="assets/img/pay_logos/mtn-logo.jpg" class="pay-system-card__logo"></img>
            </div>
        </div>
        <div class="cell">
            <div class="pay-system__card">
                <img src="assets/img/pay_logos/om_logo.png" class="pay-system-card__logo"></img>
            </div>
        </div>
        <div class="cell">
            <div class="pay-system__card">
                <img src="assets/img/pay_logos/pp_logo.png" class="pay-system-card__logo"></img>
            </div>
        </div>
        <div class="cell">
            <div class="pay-system__card">
                <img src="assets/img/pay_logos/paystack.png" class="pay-system-card__logo"></img>
            </div>
        </div>
        <div class="cell">
            <div class="pay-system__card">
                <img src="assets/img/pay_logos/interswitch.png" class="pay-system-card__logo"></img>
            </div>
        </div>
    </div>
    <h2>Withdraw money</h2>
    <div class="row">
        <div class="cell">
            <div class="pay-system__card">
                <img src="assets/img/pay_logos/request_withdraw.png" class="pay-system-card__logo"></img>
            </div>
        </div>
        <div class="cell">
            <div class="pay-system__card">
                <img src="assets/img/pay_logos/mtn-logo.jpg" class="pay-system-card__logo"></img>
            </div>
        </div>
    </div>
</div>