{{> mybets-modal}}

<!-- my-bets -->
<div class="my-bets">
    <div class="my-bets__title">Bets</div>
    <div class="my-bets__cards">

        <div class="my-bets__item open" data-open="exampleModal11">
            <div class="ticket-number">
                <div class="ticket__label">
                    Ticket number
                </div>
                <div class="ticket-number__volue">
                    01011600002402679
                </div>
            </div>

            <div class="last-date-list__wrapper">
                <div class="ticket__label">
                    Games:
                </div>
                <ul class="last-date-list">
                    <li>5/10/2018, 7:09 PM</li>
                </ul>
            </div>
            <div class="ticket-stake-info">
                <div class="ticket-odds">
                    <div class="ticket__label">Stake</div>
                    <div class="ticket-stake--volue">2.15</div>
                </div>
                <div class="ticket-stake">
                    <div class="ticket__label">Odds</div>
                    <div class="ticket-stake--volue">1.00</div>
                </div>
            </div>

            <div class="ticket-detail">
                <div class="open">Open</div>
                <div class="detail-button">
                    <span>Detail</span>
                    <i class="detail-button__icon"></i>
                </div>
            </div>
        </div>


        <div class="my-bets__item pending">
            <div class="ticket-number">
                <div class="ticket__label">
                    Ticket number
                </div>
                <div class="ticket-number__volue">
                    01011600002402679
                </div>
            </div>
            <div class="last-date-list__wrapper">
                <div class="ticket__label">
                    Last games:
                </div>
                <ul class="last-date-list">
                    <li>5/10/2018, 7:09 PM</li>
                    <li>5/10/2018, 7:09 PM</li>
                    <li>5/10/2018, 7:09 PM</li>
                </ul>
            </div>
            <div class="ticket-stake-info">
                <div class="ticket-odds">
                    <div class="ticket__label">Stake</div>
                    <div class="ticket-stake--volue">2.15</div>
                </div>
                <div class="ticket-stake">
                    <div class="ticket__label">Odds</div>
                    <div class="ticket-stake--volue">1.00</div>
                </div>
            </div>
            <div class="ticket-detail">
                <div class="pending">Pending</div>
                <div class="detail-button">
                    <span>Detail</span>
                    <i class="detail-button__icon"></i>
                </div>
            </div>
        </div>
        <div class="my-bets__item lost">
            <div class="ticket-number">
                <div class="ticket__label">
                    Ticket number
                </div>
                <div class="ticket-number__volue">
                    01011600002402679
                </div>
            </div>
            <div class="last-date-list__wrapper">
                <div class="ticket__label">
                    Last games:
                </div>
                <ul class="last-date-list">
                    <li>5/10/2018, 7:09 PM</li>
                    <li>5/10/2018, 7:09 PM</li>
                    <li>5/10/2018, 7:09 PM</li>
                </ul>
            </div>
            <div class="ticket-stake-info">
                <div class="ticket-odds">
                    <div class="ticket__label">Stake</div>
                    <div class="ticket-stake--volue">2.15</div>
                </div>
                <div class="ticket-stake">
                    <div class="ticket__label">Odds</div>
                    <div class="ticket-stake--volue">1.00</div>
                </div>
            </div>

            <div class="ticket-detail">
                <div class="lost">Lost</div>
                <div class="detail-button">
                    <span>Detail</span>
                    <i class="detail-button__icon"></i>
                </div>
            </div>
        </div>
        <div class="my-bets__item won">
            <div class="ticket-number">
                <div class="ticket__label">
                    Ticket number
                </div>
                <div class="ticket-number__volue">
                    01011600002402679
                </div>
            </div>
            <div class="last-date-list__wrapper">
                <div class="ticket__label">
                    Last games:
                </div>
                <ul class="last-date-list">
                    <li>5/10/2018, 7:09 PM</li>
                    <li>5/10/2018, 7:09 PM</li>
                    <li>5/10/2018, 7:09 PM</li>
                    <li>5/10/2018, 7:09 PM</li>
                </ul>
            </div>
            <div class="ticket-stake-info">
                <div class="ticket-odds">
                    <div class="ticket__label">Stake</div>
                    <div class="ticket-stake--volue">2.15</div>
                </div>
                <div class="ticket-stake">
                    <div class="ticket__label">Odds</div>
                    <div class="ticket-stake--volue">1.00</div>
                </div>
                <div class="ticket-stake">
                    <div class="ticket__label">Winnings</div>
                    <div class="ticket-stake--volue">5250.00</div>
                </div>
            </div>

            <div class="ticket-detail">
                <div class="won">Won</div>
                <div class="detail-button">
                    <span>Detail</span>
                    <i class="detail-button__icon"></i>
                </div>
            </div>
        </div>
        <div class="my-bets__item pending">
            <div class="ticket-number">
                <div class="ticket__label">
                    Ticket number
                </div>
                <div class="ticket-number__volue">
                    01011600002402679
                </div>
            </div>
            <div class="last-date-list__wrapper">
                <div class="ticket__label">
                    Last games:
                </div>
                <ul class="last-date-list">
                    <li>5/10/2018, 7:09 PM</li>
                    <li>5/10/2018, 7:09 PM</li>
                    <li>5/10/2018, 7:09 PM</li>
                </ul>
            </div>
            <div class="ticket-stake-info">
                <div class="ticket-odds">
                    <div class="ticket__label">Stake</div>
                    <div class="ticket-stake--volue">2.15</div>
                </div>
                <div class="ticket-stake">
                    <div class="ticket__label">Odds</div>
                    <div class="ticket-stake--volue">1.00</div>
                </div>
            </div>

            <div class="ticket-detail">
                <div class="pending">Pending</div>
                <div class="detail-button">
                    <span>Detail</span>
                    <i class="detail-button__icon"></i>
                </div>
            </div>
        </div>
        <div class="my-bets__item lost">
            <div class="ticket-number">
                <div class="ticket__label">
                    Ticket number
                </div>
                <div class="ticket-number__volue">
                    01011600002402679
                </div>
            </div>
            <div class="last-date-list__wrapper">
                <div class="ticket__label">
                    Last games:
                </div>
                <ul class="last-date-list">
                    <li>5/10/2018, 7:09 PM</li>
                    <li>5/10/2018, 7:09 PM</li>
                    <li>5/10/2018, 7:09 PM</li>
                </ul>
            </div>
            <div class="ticket-stake-info">
                <div class="ticket-odds">
                    <div class="ticket__label">Stake</div>
                    <div class="ticket-stake--volue">2.15</div>
                </div>
                <div class="ticket-stake">
                    <div class="ticket__label">Odds</div>
                    <div class="ticket-stake--volue">1.00</div>
                </div>
            </div>

            <div class="ticket-detail">
                <div class="lost">Lost</div>
                <div class="detail-button">
                    <span>Detail</span>
                    <i class="detail-button__icon"></i>
                </div>
            </div>
        </div>
        <div class="my-bets__item won">
            <div class="ticket-number">
                <div class="ticket__label">
                    Ticket number
                </div>
                <div class="ticket-number__volue">
                    01011600002402679
                </div>
            </div>
            <div class="last-date-list__wrapper">
                <div class="ticket__label">
                    Games:
                </div>
                <ul class="last-date-list">
                    <li>5/10/2018, 7:09 PM</li>
                    <li>5/10/2018, 7:09 PM</li>
                </ul>
            </div>
            <div class="ticket-stake-info">
                <div class="ticket-odds">
                    <div class="ticket__label">Stake</div>
                    <div class="ticket-stake--volue">2.15</div>
                </div>
                <div class="ticket-stake">
                    <div class="ticket__label">Odds</div>
                    <div class="ticket-stake--volue">1.00</div>
                </div>
            </div>

            <div class="ticket-detail">
                <div class="won">Won</div>
                <div class="detail-button">
                    <span>Detail</span>
                    <i class="detail-button__icon"></i>
                </div>
            </div>
        </div>
        <div class="my-bets__item pending">
            <div class="ticket-number">
                <div class="ticket__label">
                    Ticket number
                </div>
                <div class="ticket-number__volue">
                    01011600002402679
                </div>
            </div>
            <div class="last-date-list__wrapper">
                <div class="ticket__label">
                    Last games:
                </div>
                <ul class="last-date-list">
                    <li>5/10/2018, 7:09 PM</li>
                    <li>5/10/2018, 7:09 PM</li>
                    <li>5/10/2018, 7:09 PM</li>
                </ul>
            </div>
            <div class="ticket-stake-info">
                <div class="ticket-odds">
                    <div class="ticket__label">Stake</div>
                    <div class="ticket-stake--volue">2.15</div>
                </div>
                <div class="ticket-stake">
                    <div class="ticket__label">Odds</div>
                    <div class="ticket-stake--volue">1.00</div>
                </div>
            </div>

            <div class="ticket-detail">
                <div class="pending">Pending</div>
                <div class="detail-button">
                    <span>Detail</span>
                    <i class="detail-button__icon"></i>
                </div>
            </div>
        </div>
        <div class="my-bets__item lost">
            <div class="ticket-number">
                <div class="ticket__label">
                    Ticket number
                </div>
                <div class="ticket-number__volue">
                    01011600002402679
                </div>
            </div>
            <div class="last-date-list__wrapper">
                <div class="ticket__label">
                    Last games:
                </div>
                <ul class="last-date-list">
                    <li>5/10/2018, 7:09 PM</li>
                    <li>5/10/2018, 7:09 PM</li>
                    <li>5/10/2018, 7:09 PM</li>
                </ul>
            </div>
            <div class="ticket-stake-info">
                <div class="ticket-odds">
                    <div class="ticket__label">Stake</div>
                    <div class="ticket-stake--volue">2.15</div>
                </div>
                <div class="ticket-stake">
                    <div class="ticket__label">Odds</div>
                    <div class="ticket-stake--volue">1.00</div>
                </div>
            </div>

            <div class="ticket-detail">
                <div class="lost">Lost</div>
                <div class="detail-button">
                    <span>Detail</span>
                    <i class="detail-button__icon"></i>
                </div>
            </div>
        </div>
        <div class="my-bets__item won">
            <div class="ticket-number">
                <div class="ticket__label">
                    Ticket number
                </div>
                <div class="ticket-number__volue">
                    01011600002402679
                </div>
            </div>
            <div class="last-date-list__wrapper">
                <div class="ticket__label">
                    Games:
                </div>
                <ul class="last-date-list">
                    <li>5/10/2018, 7:09 PM</li>
                    <li>5/10/2018, 7:09 PM</li>
                </ul>
            </div>
            <div class="ticket-stake-info">
                <div class="ticket-odds">
                    <div class="ticket__label">Stake</div>
                    <div class="ticket-stake--volue">2.15</div>
                </div>
                <div class="ticket-stake">
                    <div class="ticket__label">Odds</div>
                    <div class="ticket-stake--volue">1.00</div>
                </div>
            </div>

            <div class="ticket-detail">
                <div class="won">Won</div>
                <div class="detail-button">
                    <span>Detail</span>
                    <i class="detail-button__icon"></i>
                </div>
            </div>
        </div>
        <div class="my-bets__item pending">
            <div class="ticket-number">
                <div class="ticket__label">
                    Ticket number
                </div>
                <div class="ticket-number__volue">
                    01011600002402679
                </div>
            </div>
            <div class="last-date-list__wrapper">
                <div class="ticket__label">
                    Last games:
                </div>
                <ul class="last-date-list">
                    <li>5/10/2018, 7:09 PM</li>
                    <li>5/10/2018, 7:09 PM</li>
                    <li>5/10/2018, 7:09 PM</li>
                </ul>
            </div>
            <div class="ticket-stake-info">
                <div class="ticket-odds">
                    <div class="ticket__label">Stake</div>
                    <div class="ticket-stake--volue">2.15</div>
                </div>
                <div class="ticket-stake">
                    <div class="ticket__label">Odds</div>
                    <div class="ticket-stake--volue">1.00</div>
                </div>
            </div>

            <div class="ticket-detail">
                <div class="pending">Pending</div>
                <div class="detail-button">
                    <span>Detail</span>
                    <i class="detail-button__icon"></i>
                </div>
            </div>
        </div>
        <div class="my-bets__item lost">
            <div class="ticket-number">
                <div class="ticket__label">
                    Ticket number
                </div>
                <div class="ticket-number__volue">
                    01011600002402679
                </div>
            </div>
            <div class="last-date-list__wrapper">
                <div class="ticket__label">
                    Last games:
                </div>
                <ul class="last-date-list">
                    <li>5/10/2018, 7:09 PM</li>
                    <li>5/10/2018, 7:09 PM</li>
                    <li>5/10/2018, 7:09 PM</li>
                </ul>
            </div>
            <div class="ticket-stake-info">
                <div class="ticket-odds">
                    <div class="ticket__label">Stake</div>
                    <div class="ticket-stake--volue">2.15</div>
                </div>
                <div class="ticket-stake">
                    <div class="ticket__label">Odds</div>
                    <div class="ticket-stake--volue">1.00</div>
                </div>
            </div>

            <div class="ticket-detail">
                <div class="lost">Lost</div>
                <div class="detail-button">
                    <span>Detail</span>
                    <i class="detail-button__icon"></i>
                </div>
            </div>
        </div>
        <div class="my-bets__item cancelled">
            <div class="ticket-number">
                <div class="ticket__label">
                    Ticket number
                </div>
                <div class="ticket-number__volue">
                    01011600002402679
                </div>
            </div>
            <div class="last-date-list__wrapper">
                <div class="ticket__label">
                    Games:
                </div>
                <ul class="last-date-list">
                    <li>5/10/2018, 7:09 PM</li>
                    <li>5/10/2018, 7:09 PM</li>
                </ul>
            </div>
            <div class="ticket-stake-info">
                <div class="ticket-odds">
                    <div class="ticket__label">Stake</div>
                    <div class="ticket-stake--volue">2.15</div>
                </div>
                <div class="ticket-stake">
                    <div class="ticket__label">Odds</div>
                    <div class="ticket-stake--volue">1.00</div>
                </div>
            </div>

            <div class="ticket-detail">
                <div class="cancelled">Cancelled</div>
                <div class="detail-button">
                    <span>Detail</span>
                    <i class="detail-button__icon"></i>
                </div>
            </div>
        </div>
        <div class="my-bets__item open">
            <div class="ticket-number">
                <div class="ticket__label">
                    Ticket number
                </div>
                <div class="ticket-number__volue">
                    01011600002402679
                </div>
            </div>
            <div class="last-date-list__wrapper">
                <div class="ticket__label">
                    Last games:
                </div>
                <ul class="last-date-list">
                    <li>5/10/2018, 7:09 PM</li>
                    <li>5/10/2018, 7:09 PM</li>
                    <li>5/10/2018, 7:09 PM</li>
                </ul>
            </div>
            <div class="ticket-stake-info">
                <div class="ticket-odds">
                    <div class="ticket__label">Stake</div>
                    <div class="ticket-stake--volue">2.15</div>
                </div>
                <div class="ticket-stake">
                    <div class="ticket__label">Odds</div>
                    <div class="ticket-stake--volue">1.00</div>
                </div>
            </div>

            <div class="ticket-detail">
                <div class="open">Open</div>
                <div class="detail-button">
                    <span>Detail</span>
                    <i class="detail-button__icon"></i>
                </div>
            </div>
        </div>
        <div class="my-bets__item lost">
            <div class="ticket-number">
                <div class="ticket__label">
                    Ticket number
                </div>
                <div class="ticket-number__volue">
                    01011600002402679
                </div>
            </div>
            <div class="last-date-list__wrapper">
                <div class="ticket__label">
                    Last games:
                </div>
                <ul class="last-date-list">
                    <li>5/10/2018, 7:09 PM</li>
                    <li>5/10/2018, 7:09 PM</li>
                    <li>5/10/2018, 7:09 PM</li>
                </ul>
            </div>
            <div class="ticket-stake-info">
                <div class="ticket-odds">
                    <div class="ticket__label">Stake</div>
                    <div class="ticket-stake--volue">2.15</div>
                </div>
                <div class="ticket-stake">
                    <div class="ticket__label">Odds</div>
                    <div class="ticket-stake--volue">1.00</div>
                </div>
            </div>

            <div class="ticket-detail">
                <div class="lost">Lost</div>
                <div class="detail-button">
                    <span>Detail</span>
                    <i class="detail-button__icon"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.my-bets -->