<div class="reveal" id="exampleModal11" aria-labelledby="exampleModalHeader11" data-reveal>
        <button class="close-button" data-close aria-label="Close Accessible Modal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>



<div class="mybet__header">
    <div class="cell">
        Coupon code: DFD-rkzv9su<br>
        Ticket number: 0035150001252
    </div>
    <div class="cell">
        Accepted at: 4/19/2018, 4:16 PM<br>
        Paid out at: not paid
    </div>
</div>

<table class="mybets__responsive-table" style="margin-bottom: 30px;">
        <thead>
            <tr>
                <th>Total state</th>
                <th>Rows</th>
                <th>Ticket type</th>
                <th>Possible win</th>
                <th>Payment amount</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td data-label="Total state">20.00</td>
                <td data-label="Rows">1</td>
                <td data-label="Ticket type">System</td>
                <td data-label="Possible win">4055.79</td>
                <td data-label="Payment amount">0.00</td>
            </tr>
        </tbody>
    </table>




        <table class="mybets__responsive-table">
                <thead>
                    <tr>
                        <th>State</th>
                        <th>Date</th>
                        <th>Event name</th>
                        <th>Result</th>
                        <th>Market</th>
                        <th>Outcame</th>
                        <th>Odds</th>
                        <th>Correct outcome</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-label="State">Open</td>
                        <td data-label="Date">5/10/2018, 7:09 PM</td>
                        <td data-label="Event name">KRC Genk: KAA Gent</td>
                        <td data-label="Result"> </td>
                        <td data-label="Market">Asian Handicap</td>
                        <td data-label="Outcame">2</td>
                        <td data-label="Odds">2.68</td>
                        <td data-label="Correct outcome">2.68</td>
                    </tr>
                    <tr>
                        <td data-label="State">Open</td>
                        <td data-label="Date">5/10/2018, 7:09 PM</td>
                        <td data-label="Event name">KRC Genk: KAA Gent</td>
                        <td data-label="Result"> </td>
                        <td data-label="Market">Asian Handicap</td>
                        <td data-label="Outcame">2</td>
                        <td data-label="Odds">2.68</td>
                        <td data-label="Correct outcome">2.68</td>
                    </tr>
                    <tr>
                        <td data-label="State">Open</td>
                        <td data-label="Date">5/10/2018, 7:09 PM</td>
                        <td data-label="Event name">KRC Genk: KAA Gent</td>
                        <td data-label="Result"> </td>
                        <td data-label="Market">Asian Handicap</td>
                        <td data-label="Outcame">2</td>
                        <td data-label="Odds">2.68</td>
                        <td data-label="Correct outcome">2.68</td>
                    </tr>
                    <tr>
                        <td data-label="State">Open</td>
                        <td data-label="Date">5/10/2018, 7:09 PM</td>
                        <td data-label="Event name">KRC Genk: KAA Gent</td>
                        <td data-label="Result"> </td>
                        <td data-label="Market">Asian Handicap</td>
                        <td data-label="Outcame">2</td>
                        <td data-label="Odds">2.68</td>
                        <td data-label="Correct outcome">2.68</td>
                    </tr>
                </tbody>
            </table>
        




</div>