<div class="profile__sidebar off-canvas position-right" id="profileSidebar" data-off-canvas>
    <div class="sidebar__inner">
        <ul class="sidebar__menu vertical menu accordion-menu" data-accordion-menu>
            <li>
                <a href="profile_my-account.html" class="is-active">
                    <i class="myaccount__icon"></i>
                    My account
                </a>
            </li>
            <li>
                <a href="profile_my-bets.html" class="">
                    <i class="mybets__icon"></i>
                    My bets
                </a>
            </li>
            <li>
                <a href="profile_transaction.html" class="">
                    <i class="transaction__icon"></i>
                    Transaction
                </a>
            </li>
            <li>
                <a href="profile_my-wallet.html" class="">
                    <i class="mywallet__icon"></i>
                    My wallet
                </a>
                <ul class="menu vertical nested">
                    <li>
                        <a href="profile_add-funds.html">Add funds</a>
                    </li>
                    <li>
                        <a href="profile_transactions-history.html">TRANSACTION HISTORY</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="profile_affiliate.html" class="">
                    <i class="affiliate__icon"></i>
                    Affiliate
                </a>
            </li>
        </ul>
    </div>
</div>
