<div class="bets-filter switch-controls">
    <div class="cell date">
        <div class="profile__label">Operation type</div>
        <select class="control-select" name="state">
            <option value="11">All</option>
            <option value="13">Cash added</option>
            <option value="14">Cash withdraw</option>
        </select>
    </div>        
    <div class="cell date">
        <div class="profile__label">Date</div>
        <div class="hide-for-medium">
            <div class="mobile-app-toggle" data-mobile-app-toggle>
                <button class="button is-active">TODAY</button>
                <button class="button">THIS WEEK</button>
                <button class="button">THIS MONTH</button>
                <button class="button">PERIOD</button>
            </div>
        </div>
        <div class="hide-for-small">
            <select class="control-select" name="period">
                <option value="">TODAY</option>
                <option value="">THIS WEEK</option>
                <option value="">THIS MONTH</option>
                <option value="">PERIOD</option>
            </select>
        </div>
    </div>
    <div class="cell period">
        <div class="profile__label">Period</div>
        <div class="period-switcher">
            <div class="datepicker-input">
                <i class="datepicker__icon"></i>
                <input readonly value="01.01.2018" class="hasDatepicker">
            </div>
            <div class="datepicker__delimiter">–</div>
            <div class="datepicker-input">
                <i class="datepicker__icon"></i>
                <input readonly value="01.01.2018" class="hasDatepicker">
            </div>
        </div>
    </div>
</div>


<table class="responsive-table transitions__table">
    <thead>
        <tr>
            <th>Transaction ID</th>
            <th>Date</th>
            <th>Time</th>
            <th>Operation type</th>
            <th>Amount</th>
            <th>Pay system</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td data-label="Transaction ID">0035150001243</td>
            <td data-label="Date">April 6, 2018</td>
            <td data-label="Time">8:31 PM</td>
            <td data-label="Operation type">Cash added</td>
            <td data-label="Amount">200.00</td>
            <td data-label="Pay system">PayPal</td>
        </tr>
        <tr>
            <td data-label="Transaction ID">0035150001243</td>
            <td data-label="Date">April 6, 2018</td>
            <td data-label="Time">8:31 PM</td>
            <td data-label="Operation type">Cash withdraw</td>
            <td data-label="Amount">23100.00</td>
            <td data-label="Pay system">MTN</td>
        </tr>
        <tr>
            <td data-label="Transaction ID">0035150001243</td>
            <td data-label="Date">April 6, 2018</td>
            <td data-label="Time">8:31 PM</td>
            <td data-label="Operation type">Cash added</td>
            <td data-label="Amount">42100.00</td>
            <td data-label="Pay system">PayPal</td>
        </tr>
        <tr>
            <td data-label="Transaction ID">0035150001243</td>
            <td data-label="Date">April 6, 2018</td>
            <td data-label="Time">8:31 PM</td>
            <td data-label="Operation type">Cash withdraw</td>
            <td data-label="Amount">200.00</td>
            <td data-label="Pay system">PayPal</td>
        </tr>
        <tr>
            <td data-label="Transaction ID">0035150001243</td>
            <td data-label="Date">April 6, 2018</td>
            <td data-label="Time">8:31 PM</td>
            <td data-label="Operation type">Cash withdraw</td>
            <td data-label="Amount">200.00</td>
            <td data-label="Pay system">MTN</td>
        </tr>
        <tr>
            <td data-label="Transaction ID">0035150001243</td>
            <td data-label="Date">April 6, 2018</td>
            <td data-label="Time">8:31 PM</td>
            <td data-label="Operation type">Cash added</td>
            <td data-label="Amount">200.00</td>
            <td data-label="Pay system">MTN</td>
        </tr>
        <tr>
            <td data-label="Transaction ID">0035150001243</td>
            <td data-label="Date">April 6, 2018</td>
            <td data-label="Time">8:31 PM</td>
            <td data-label="Operation type">Cash withdraw</td>
            <td data-label="Amount">200.00</td>
            <td data-label="Pay system">PayPal</td>
        </tr>
    </tbody>
</table>

<nav class="pagination">
    <ul class="pagination">
        <li class="pagination-previous disabled">
            <div class="link" aria-label="Next page"></div>
        </li>
        <li class="current">1</li>
        <li>
            <div class="link" aria-label="Page 2">2</div>
        </li>
        <li>
            <div class="link" aria-label="Page 3">3</div>
        </li>
        <li>
            <div class="link" aria-label="Page 4">4</div>
        </li>
        <li class="ellipsis"></li>
        <li>
            <div class="link" aria-label="Page 12">12</div>
        </li>
        <li>
            <div class="link" aria-label="Page 13">13</div>
        </li>
        <li class="pagination-next">
            <div class="link" aria-label="Next page"></div>
        </li>
    </ul>
</nav>