.bs__header {
    @include breakpoint(xxlarge) {
        display: none;
    }
    height: 45px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
	align-items: center;
    align-content: stretch;
    background: #14151d;
    color: $global-button-text-color;
    border-radius: 3px 3px 0 0;
    .left-col {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: stretch;
        align-content: stretch;
        position: absolute;
        right: 0;
    }
}
.bs__title {
    padding: 0 $global-padding;
    font-size: rem-calc(16);
    letter-spacing: .2px;
    color: #fff;   
    margin: 0 auto;
    text-transform: uppercase;
}

.bs__message {
    padding: 5px $global-padding;
    font-size: rem-calc(14);
    color: #fff;   
    background: #4a4c5a;
    border-radius: 3px;
    margin: 4px;
    text-align: center
}
.betslip--empty {
    border-top: 3px solid $primary-color;
    background-color: #1c1f29;
    .bs__title {
        text-align: center;       
        color: $primary-color;        
        padding: 8px 10px;
        color: #ffbf00;
        font-size: rem-calc(14);
        @include breakpoint(xlarge down) {
            display: none;
        }
    }
}

.bs-type-switcher {
    position: relative;
    z-index: 1;
    padding: 7px 10px;
    .select-size-1,
    .select-size-1::after {
        color: $global-button-text-color;
            
    }
    .select__item {
        color: $body-font-color;
        &:hover{
            background: $dropdown-hover;
        }        
    }
}
.betslip-area__inner
{
    background: $columns-background-color;
    @include breakpoint(xlarge down) {
        border: 1px solid #62646b;
    }
    .enter__input {
        background: #0f1016;
        color: $primary-color;
        border: 1px solid #6d6d6d;
        border-left: 0;
        cursor: pointer;
        &:hover {
            background-color: $primary-color;
            color: #000;
        }
    }
    .input-group { 
        width: 100%;
        margin-bottom: 0;
    }
}

#betslipArea {
    @include breakpoint(xxlarge) {
        right: 10px;
    }
}

.bs-checkboxes {
    [class^='.MuiTouchRipple-root'] {
        display: none;
    }
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
	align-items: center;
    color: $body-font-color;
    height: 34px;
    background: $betslip-bg-color-2;
    padding: 0 15px;
    svg {
        color: $primary-color;
        width: 18px;
        height: 18px;
    }
    @include breakpoint(xxlarge) {
        // border-bottom: 1px solid #555;
    }
    span:last-of-type {
        color: #fff;
        margin-left: 5px;
    }
    label, span {
        font-size: rem-calc(13);
            letter-spacing: .2px;
        &:before {
            color: $primary-color !important;
        }
    }
}

.bs-hide {
    cursor: pointer;
    @extend .ico;
    @include breakpoint(xxlarge) {
        display: none;
    }
    &:before {
        content: '\E80F';
        transform: rotate(-90deg);
        font-size: rem-calc(32);
        width: 22px;
        color: $primary-color;
        display: inline-block;
        vertical-align: middle;
        margin-left: 0;
    }
}
.bs-settings {
    cursor: pointer;
    @extend .ico;
    &:before {
        content: '\E833';
        transform: rotate(-90deg);
        font-size: rem-calc(32);
        width: 22px;
        color: $global-button-text-color;
        display: inline-block;
        vertical-align: middle;
        margin-left: 0;
    }
}

.bs-tabs {
    ul {
        @extend .grid-container;
        background-color: #65666d;
        list-style: none;
        padding: 0;
        margin: 0;
        background-image: none;
    }
    li {
        @include xy-cell(auto, false);
        cursor: pointer;
        text-align: center;
        padding: 8px;
        letter-spacing: .2px;
        text-transform: uppercase;
        font-size: rem-calc(14);
        color: scale-color($body-font-color, $lightness: -5%);
        transition: all $global-transition;
        border-top: 3px solid transparent;
        &:hover {
            color: $body-font-color;
        }
        &.active:hover,
        &.active {
            color: $primary-color;
            border-color: $primary-color;
            background: $betslip-bg-color-2;
            border-top: 3px solid $primary-color;
        }
    }
}
.system-letter {
    text-align: center;
    margin-left: 0;
    width: 25px;
    display: block;
    margin-right: 5px;
    color: #3b92d2;
//     &::before {
//     content: counter(section, upper-alpha);
//   }
}

.bs-list__wrapper {
    width: 100%;
    background: $betslip-bg-color-3;
    color: #333;
    // counter-reset: section; 
}
.bs__item {
    @extend .grid-container;
    padding: 5px 8px 5px 3px;
    // counter-increment: section;
    &:not(:last-child) {
        border-bottom: 1px dotted rgba(0,0,0,.25);
    }
    div {
        align-items: center;
        line-height: 1.15;
        @include xy-cell(shrink, false);
    }
    .bet-event {
        @include xy-cell(auto, false);
        padding-right: 0;
        font-size: rem-calc(15);
        .row:first-of-type {
            margin-bottom: 5px;
        }
    }
    &.lock {
        position: relative;
        .bs-icon-banker:before {
            opacity: .5;
        }
        input {
            opacity: .5;
        }
        .bet-event .row .bet-close:before {
            color: #333;            
            position: relative;
            z-index: 2;
        }
        &:before {
            background:#fffff4;
            position: absolute;
            height: 100%;
            width: 100%;
            display: block;
            content: '';
            top: 0;
            left: 0;
            z-index: 1;
            opacity: .75;
        }
        .lock__icon {
            height: 100%;
            display: block;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            &:before {
                font-size: 50px;
                color: #999;
                position: absolute;
                top: 50%;
                left: 0;
                width: 100%;
                text-align: center;
                transform: translateY(-50%);
            }
        }
    }

    &.closed {       
        position: relative;
        .bs-icon-banker:before {
            opacity: .5;
        }
        input {
            opacity: .5;
        }
        .bet-event .row .bet-close:before {
            color: #333;            
            position: relative;
            z-index: 2;
        }
        &:before {
            background:#dcdcd4;
            position: absolute;
            height: 100%;
            width: 100%;
            display: block;
            content: '';
            top: 0;
            left: 0;
            z-index: 1;
            opacity: .75;
        }
        .error-message__wp {
            height: 100%;
            left: 0;
            z-index: 1;
        }
        & .error-message {
            z-index: 1;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            text-align: center;
            width: 100%;
            color: #1c1f29;
        }
        & .error-message__title {
            font-size: rem-calc(22);
            font-weight: 700;
        }
        & .error-message__countdown {
            font-size: rem-calc(16);
        }
        
    }
}

.message-close {
    @extend .ico;
    width: 20px;
    height: 20px;
    margin: 0;       
    right: 0;
    top: 0;
    position: absolute;
    &:before {
        margin: 0;
        content: '\E829';
        font-size: rem-calc(8);
        line-height: 1;
        font-weight: 600;
        color: #555;
        @include breakpoint(medium down) {
            font-size: rem-calc(9);
        }
    }
}

.bet-event .row {
    @extend .grid-container;
    justify-content: space-between;
    div {
        @include xy-cell(shrink, false);
        margin: 0;
        max-width: 160px;
    }
    .bet-event__title {
        @include xy-cell(auto, false);
        word-wrap: break-word;
            color: #000;
    }
    .bet-close {
        @extend .ico;
        width: 20px;
        height: 20px;
        margin: 0;       
        margin-top: -4px;
        margin-right: -5px;
        align-self: flex-start;
        &:before {
            margin: 0;
            content: '\E829';
            font-size: rem-calc(9);
            line-height: 1;
            font-weight: 600;
            color: #444;
        }
    }
}

.bs-icon-banker {
    @extend .ico;
    margin-right: 2px;
    &:before {
        content: '\E836';
        font-size: rem-calc(16);
        line-height: 9px;
        color: #1d1d28;
        opacity: .4;
        height: 18px;
    }
    &.active:before {
        //color: $primary-color;
        opacity: 1;
    }
    &.lock {
        cursor: not-allowed;
        &:before {
        opacity: .18;
        }
    }
}

.bs-options__option-odds {
    display: block;
}
.bs--live {
    width: 30px;
    height: 18px;
    display: block;
    margin: 0;
    padding: 0;
    @extend .ico;
    cursor: default;
    position: relative;
    &:before {
        content: '\E830';
        font-size: rem-calc(21);
        line-height: 17px;
        color: red;
        height: 16px;
        margin: 0;
        padding: 0;
        position: absolute;
        left: 0;
    }
}
.bet-event__market {
    color: #333;
    font-size: rem-calc(12);
    font-weight: 700;
    text-transform: uppercase;
}
.bet-event__rate {
    color: #333;
    font-size: rem-calc(15);
    font-weight: 700;
}
.bet-event__team {
    font-size: rem-calc(13);
}

.bet-event__item-link {
    align-items: center;
    display: flex;
    width: 20px;
    text-align: right;
    color: #333;
    font-size: rem-calc(14);
    @extend .ico;
    position: relative;
    cursor: pointer;
    &:after {
        content: '\E80F';
        line-height: 0;
        font-size: rem-calc(19);
        color: #666;
        transform: rotate(180deg);
        margin: 0 0px 0 3px;
        width: 7px;
    }
    &:hover span {
        text-decoration: underline
    }
}
.bet-options {
    i {
        margin-left: 0;
        width: 25px;
        display: block;
    }
}

.bs-footer {
    background: $betslip-bg-color-2;
    padding-bottom: 10px;
}
.bs-footer__summary {
    padding: 5px 0;
    .row {
            @extend .grid-container;
        padding: 5px $betslip-padding-lr;
        >div {
            border-bottom: 1px solid rgba(255, 255, 255, 0.15);
        }
    }
}

.bs-footer__summary--title {
    @include xy-cell(auto, false);
}
.bs-footer__summary--total {
    @include xy-cell(shrink, false);
    color: $primary-color;
    font-weight: 700;
    font-size: rem-calc(16);
}
.bs-footer__summary--bonus {
    @include xy-cell(shrink, false);
    //color: $primary-color;
    font-weight: 700;
    font-size: rem-calc(16);
    padding-right: 5px;
}

.bs-footer__advanced-area {
    padding: 0 30px 10px;
    .row {
        font-size: rem-calc(13);
        font-weight: 300;
        @extend .grid-container;
        padding: 2px 0;
        justify-content: space-between;
        border-bottom: 1px solid rgba(255, 255, 255, 0.15);
        >div {
            @include xy-cell(shrink, false);
        }
    }
}
.bs-message__wp
{
    padding: 0 15px;
    position: relative;
    margin-bottom: 10px;
    position: relative;
    > div {
        border-radius: 3px;
        position: relative;
        padding: 8px;   
        background-color: #eee;
        color: #0a0a0a;
        font-size: rem-calc(14);
        line-height: 1.15;
        a {
            color: #ff181c;
        }
    }
    .confirm {
        text-align: center;
        button {
            background-color: #4d4e57;
            color: #fff;
            border-radius: 4px;
            padding: 5px 10px;
            margin: 5px 6px 2px;
            font-size: rem-calc(12);
            text-transform: uppercase;
        }
    }
    .title {
        margin-top: 6px;
        text-transform: uppercase;
        color: red;
    }
}

.alert {
    @extend .ico;
    &:before {
        display: inline-block;
        content: '\E837';
        font-size: rem-calc(16);
        width: 10px;
        color: #ff181c;
        vertical-align: middle;
        margin-left: 0;
        line-height: 4px;
        margin-top: -8px;
        margin-right: 5px;
        cursor: default;
    }
}

.bs__stake {
    @extend .grid-container;
    align-items: center;
    padding: 5px 0;
    >div {
        @include xy-cell(auto, false);
        padding: 0 3px;
    }
}
.bs__stake--name {
    text-align: right;
}

.bs__stake--input {
    max-width: 110px;    
}
.bs__stake--input input {
    margin: 0;
    width: 100%;
    text-align: center;
    font-size: rem-calc(18);
    &:focus {
        border: 2px solid $primary-color;
    }
}

.bs-btn-block {
    display: flex;
    flex-flow: row wrap;
	justify-content: space-between;
    padding: 0 15px;
    @extend .grid-container;
    &:not(:last-child) {
        margin-bottom: 10px;
    }
    &.bt {
        border-top: 1px solid #333;
        padding-top: 10px;
    }
    &.slipMessgeFooter { 
        padding-bottom: 10px;
        padding-top: 10px;
        border-top: 1px solid #232532;
        background: #474956;
        position: relative;
        &:before {
            display: block;
            content: '';
            height: 1px;
            width: 100%;
            background: #5c5c5e;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    > div  {
        text-align: center;
        width: calc(50% - 10px);
    }
    .place-bet {
        width: 100%;
        .button {       
            width: 100%;
            padding: 10px;
            &.add-funds {
                background-color: #39b02e;
                color: #fff;
                font-size: rem-calc(16);
            }
        }
    }
    .button {
         margin: 0;
     }
     .btn-place-bet {
         font-size: rem-calc(16);
         letter-spacing: .5px;
         &.loading__icon {
             opacity: .6!important;
             &:before { 
                color: #000;
                animation: spin 2s infinite linear;
                font-size: rem-calc(16);
             }
         }
     }
     .bs-btn--continue,
     .bs-btn--print {
        width: 100%;
        background-color: #ececec;
        color: #000;
        padding: 6px; 
        &:hover {
            background-color: $primary-color;
         }
     }
     .bs-btn--clear,
     .bs-btn--save {
        width: 100%;
        background-color: #4d4e57;
        color: $body-font-color;
        padding: 6px;
     }
     .bs-btn--clear {
         &:hover {
            background-color: #e83d3d;
         }
     }
     .bs-btn--save {
         &:hover {
             background-color: #39b02e;
        }
        &[disabled]:hover {
            background-color: #4d4e57;
            color: $body-font-color;
        }
         
     }
}

.bet-event__stakes {
    display: flex;
    flex-flow: row nowrap !important;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    div {
        width: 50%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }
    .bs__input {       
        height: auto;
        margin: 0;
        background: $body-font-color;
        color: $global-button-text-color;
        width: 45px;
        margin-left: 5px;
        line-height: 1;
        font-size: rem-calc(12);
        padding: 2px 3px;
        // background: rgba(255, 255, 255, .95);
        border: 1px solid rgba(51, 51, 51, 0.35);
        border-radius: 2px;
        &:disabled {
            background: #fffdec;
        }
    }
    .bs__stake-name {
        font-size: rem-calc(11);
        // text-transform: uppercase;
        font-weight: 700;
        text-transform: uppercase;
    }
    .stake {
        
    }
    .estwin {
        .bs__input {
            text-align: center;
        }
    }
}



/* SYSTEM LIST */
.bs-button {
    border-radius: 5px 5px 0 0;
}
.betslip-system__radio-item-help div {
    color: #fff;
    border: 1px solid rgb(214, 214, 214);
}
.betslip-system__radio-item {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.betslip-system__radio-item .radio-label {
    width: 100%;
}
.betslip-system__radio-item:last-child {
    border-bottom: 0;
}
.betslip-system__radio-item-text {
    font-size: 12px;
    line-height: 14px;
    cursor: pointer;
    letter-spacing: 0.2px;
}
.betslip-system__radio-item-help {
    float: right;
    line-height: 20px;
    font-size: 13px;
    margin-left: 10px;
    position: relative;
    top: -30%;
}
.betslip-system__radio-item-help div {
    display: block;
    color: #fff;
    padding: 1px 5px;
    min-width: 65px;
    max-width: 80px;
    white-space: nowrap;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.betslip-system__radio-item-help div:hover {
    border-color: #dbab31;
    transition: all .1s ease-in;
}

.betslip-system__radio-item-help div:focus {
    outline: none;
}
.systems-list {
    color: #fff;
    overflow-y: auto;
    padding: 2px 1px 1px;
    background: $betslip-bg-color-2;
    label {
        color: #fff;
        }
}
.systems-list ul {
    box-shadow: inset 0 2px 3px 0px rgba(0, 0, 0, 0.4);
    background: $betslip-bg-color-1;
    overflow-y: hidden;
    // max-height: 116px;
}
.systems-list li {
    padding: 5px 0 5px 10px;
}

.systems-list label {
    display: block;
}


// BetSlip Done Message

.slipMessgeContent {
    background-color: #474956;
    color: #fff;
    padding: 15px 10px;
    text-align: center;
    a {
        color: #fff;
        &:hover {
            color: $primary-color;            
        }
    }
    h3 {
        font-size: rem-calc(17);
        text-transform: uppercase;
        font-weight: 500;
        margin: 0;
    }
    p {
        color: rgba(255, 255, 255, .85);
        font-size: rem-calc(14);
        padding: 10px 10px 13px;
        line-height: 1.25;
        margin: 0;
    }
    .share__icon {
        cursor: pointer;
        margin: 0 10px;
        &:before {
            color:  $primary-color;
            font-size: rem-calc(19);
        }
    }
    .links {
        
    }
    .code {
        font-size: rem-calc(20);
        color: $primary-color;
        border-bottom: 1px dashed $primary-color;
        &:hover {
            cursor: pointer;
            // color: #fff;
            // border-color: #fff;
            border-bottom-style: solid;
        }
    }
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
