html,
body {
    overflow: hidden !important;
}

#root {
    overflow: hidden;
    @include breakpoint(medium down) {
        display: flex;
        flex-direction: column;
        max-height: 100vh;
    }
}

.page__container,
.header__container {
    max-width: $global-width;
    min-width: $global-min-width;
    margin: 0 auto;
}

.page__container {
    background: $body-background;
    @include breakpoint(medium down) {
        flex-direction: column;
        width: 100%;
    }
}

.page-grid {
    overflow: hidden;
    @extend .grid-container;
    @include xy-gutters($gutters: $page-grid-gutters, $gutter-type: padding, $gutter-position: left right top);
    height: calc(100vh - 70px);
    @include breakpoint(large down) {
        height: calc(100vh - 50px);
        // padding-left: 0;
        // padding-right: 0;
        // padding-top: 0;
    }

    @include breakpoint(medium down) {
        // background: $components-bg-color;
        //height: 100%;
        height: calc(100vh - 150px);
        &.is-authorised {
            height: calc(100vh - 100px);
        }
    }
    @include breakpoint(small only) {
        // height: calc(100vh - 148px);
    }

    &.loading-blur {
        transition: .2s filter linear;
        filter: blur(1px);
    }
}

.page-grid__item {
    margin: $columns-padding 0 0;

    &.main {
        padding: 0;
        @include xy-cell(auto, false);

        section:not(:first-of-type) {
            margin: 10px 0;

            @include breakpoint(medium down) {
                margin-top: 6px;
            }
        }

        &.profile {
            padding: 0 0 0 5px;
            margin-left: .15625rem;
            margin-right: .15625rem;
            @include breakpoint(medium down) {
                padding: 0;
            }
        }
    }

    &.profile-grid {
        @include breakpoint(medium down) {
            margin: 0;
            padding: 0;
        }
    }

    .categories-menu__container,
    .betslip-area__container {
        width: $left-right-column-width;
        height: 100%;
        padding: 0 $columns-padding;
        @include breakpoint(medium down) {
            width: 100%;
            height: calc(100vh - 55px);
            padding: 0; 
        } 
    }

    &.betslip-area {
        @include breakpoint(xxlarge) {
            @include xy-cell(shrink, false);
        }

        @include breakpoint(medium down) {
            // display: none;
            overflow: hidden;
            margin: 0;
        }
    }
}

.categories-menu__container.mini {
    width: auto;

    ul ul,
    span,
    .sport-menu__title {
        display: none !important;
    }

    li[aria-expanded='true'] {
        background: #4d4e65;
    }

    .sport-menu__collapse-all:before {
        transform: rotate(-90deg);
    }

    .sport-menu__item {
        padding: 6px 0;
        i {
            text-align: center;
            width: 100%;
            margin: 0;
        }
    }
}


@include breakpoint(medium down) {
    div[class*=MuiDrawer-paperAnchorBottom] {
        max-height: calc(100vh - 50px);
        margin-bottom: $footer-toolbar-height;
    }
}