/*  */
.sportmenu--live {
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  display: none;
  background: transparent!important;
  @include breakpoint(medium down) {
    display: block;
    // margin-bottom: 10px;
  }


  li:after {
    opacity: 0;
    display: block;
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 5px solid $live-toolbar-bg-color;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    width: 0;
  }
  .tab.active:after {
    opacity: 1;
  }
}
.sportmenu--live__item {
  padding: 3px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  color: #e6a400;
  cursor: pointer;
}
.sportmenu--live__item span.title,
.sportmenu--live__item span.count {
  padding: 0 5px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  align-items: center;
  flex: 1 1 auto;
  line-height: 1.2;
  text-transform: uppercase;
  font-size: rem-calc(11);
  text-align: center;
  display: block;
  letter-spacing: .5px;
}
.sportmenu--live__item span.count {
  font-size: rem-calc(11);
  padding-bottom: rem-calc(7);
}

.sportmenu--live__item {
  i {
    @extend .icon0;
    &:before {      
      font-size: rem-calc(28);
      height: 28px;
      @include breakpoint(large) {
        font-size: rem-calc(32);
        height: 32px;
      }
    }
  }
}

.sportmenu--live__item i.all_sports:before {
  font-size: rem-calc(26);
  @include breakpoint(large) {
    font-size: rem-calc(30);
  }
}

/* --------------  */
.sportmenu--live .sportmenu-list--live {
  list-style-image: none;
  white-space: nowrap;
  overflow: hidden;
  //background-color: $live-toolbar-bg-color;
}

.sportmenu--live .tab {
  color: #fff;
  line-height: 35px;
  list-style: none;
  padding: 6px;
  display: inline-block;
  cursor: pointer;
  &.active {
    .title,
    .count {
      color: $live-toolbar-color-active;
    }
    i {
      &:before {
        color:  $body-font-color!important;
      }
    }
  }
  &:hover {
    .title {
      color: $live-toolbar-color-active;
    }
    i {
      &:before {
        color:  $body-font-color!important;
      }
    }
  }
}


.sub-tabs--live {
  background-color: $live-toolbar-bg-color;
  min-height: auto!important; 
    .item {
      min-width: calc(8% - 0.25rem);
      width: auto;
      margin: 7px 0px 7px 7px;
      box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
      text-align: center;
      border-radius: 3px;
      letter-spacing: .2px;
      text-transform: uppercase;
      padding: 3px 7px;
      white-space: nowrap;
      cursor: pointer;
      border: 1px solid rgba(255, 255, 255, 0.18);
      font-size: rem-calc(12);
      background-image: linear-gradient(to bottom, rgba(54, 57, 66, 0), rgba(255, 255, 255, 0.065) 100%);
      &.active {
        background-color: #ffbf00;
        color: #000;
      }
      &:not(.active):hover {
        background: rgb(78, 80, 88);
      }
    }
}


