.medium--h100 {
    height: 100%;
    @include breakpoint(small only) {
        height: auto;
    }
}

.collapse-tournaments {
    @include breakpoint(large) {
        max-height: 0!important;
        margin: 0!important;
        opacity: 0;
    }
    @include breakpoint(medium down) {
        max-height: 1000px!important;
    }
}

.o-h {
    overflow: hidden !important;
}

.cp {
    cursor: pointer;
}
.hide-blk {
    max-height: 0 !important;
    opacity: 0;
}
.is-link {
    cursor: pointer;
}

.space-between {
	justify-content: space-between!important;
}
.hide {
    display: none;
}
.hide-for-large {
    @include breakpoint(large) {
        display: none;
    }
}
.hide-for-medium {
    @include breakpoint(medium) {
        display: none;
    }
}
.hide-for-medium-dw {
    @include breakpoint(medium down) {
        display: none;
    }
}
.hide-for-small {
    @include breakpoint(small only) {
        display: none;
    }
}

.nw {
    white-space: nowrap;
}
.inline {
    display: inline-block;
    li {
        display: inline-block;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: number-input;
}
