.custom-selectbox {
    display: inline-block;
    position: relative;
    width: 100%;
  }
  .custom-selectbox ul,
  .custom-selectbox ol {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .custom-selectbox > ul > li > a {
    padding: 0;
    background-color: #fff;
  }
  .custom-selectbox-arrow {
    display: inline-block;
    font-style: normal;
    vertical-align: baseline;
    text-align: center;
    text-transform: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    top: 50%;
    right: 11px;
    line-height: 1;
    margin-top: -6px;
    -webkit-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    color: rgba(0, 0, 0, 0.25);
    font-size: 12px;
  }
  .custom-selectbox-arrow:before {
    display: block;
    font-family: "fontello" !important;
  }
  .custom-selectbox-arrow * {
    display: none;
  }
  .custom-selectbox-arrow:before {
    content: '\E819';
    color: #fff;
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
  }
  .custom-selectbox-selection {
    outline: none;
    display: block;

    margin: 0;
    background: #4e4f58;
    color: #fff;
    width: 100%;
    text-align: left;
    /* padding: 5px 10px; */
    line-height: 1.25rem;
    font-size: .9375rem;
    font-weight: 300;
    letter-spacing: .5px;
    border-radius: 4px;
    min-width: 120px;
    cursor: default;
  }
  .custom-selectbox-selection:hover {
    border-color: #40a9ff;
    border-right-width: 1px !important;
  }
  .custom-selectbox-focused .custom-selectbox-selection,
  .custom-selectbox-selection:focus,
  .custom-selectbox-selection:active {
    /* border-color: #40a9ff;
    outline: 0;
    -webkit-box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
            box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
    border-right-width: 1px !important; */
    border: 0!important;
  }
  .custom-selectbox-selection__clear {
    display: inline-block;
    font-style: normal;
    vertical-align: baseline;
    text-align: center;
    text-transform: none;
    text-rendering: auto;
    opacity: 0;
    position: absolute;
    right: 11px;
    z-index: 1;
    background: #fff;
    top: 50%;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.25);
    width: 12px;
    height: 12px;
    margin-top: -6px;
    line-height: 12px;
    cursor: pointer;
    -webkit-transition: color 0.3s ease, opacity 0.15s ease;
    transition: color 0.3s ease, opacity 0.15s ease;
  }
  .custom-selectbox-selection__clear:before {
    display: block;
    font-family: 'fontello';
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\e62e";
  }
  .custom-selectbox-selection__clear:hover {
    color: rgba(0, 0, 0, 0.45);
  }
  .custom-selectbox-selection:hover .custom-selectbox-selection__clear {
    opacity: 1;
  }
  .custom-selectbox-selection-selected-value {
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
    padding-right: 20px;
  }
  .custom-selectbox-no-arrow .custom-selectbox-selection-selected-value {
    padding-right: 0;
  }
  .custom-selectbox-disabled {
    color: rgba(0, 0, 0, 0.25);
  }
  .custom-selectbox-disabled .custom-selectbox-selection {
    background: #f5f5f5;
    cursor: not-allowed;
  }
  .custom-selectbox-disabled .custom-selectbox-selection:hover,
  .custom-selectbox-disabled .custom-selectbox-selection:focus,
  .custom-selectbox-disabled .custom-selectbox-selection:active {
    border-color: #d9d9d9;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .custom-selectbox-disabled .custom-selectbox-selection__clear {
    display: none;
    visibility: hidden;
    pointer-events: none;
  }
  .custom-selectbox-disabled .custom-selectbox-selection--multiple .custom-selectbox-selection__choice {
    background: #f5f5f5;
    color: #aaa;
    padding-right: 10px;
  }
  .custom-selectbox-disabled .custom-selectbox-selection--multiple .custom-selectbox-selection__choice__remove {
    display: none;
  }
  .custom-selectbox-selection--single {
    position: relative;
    cursor: pointer;
  }
  .custom-selectbox-selection__rendered {
    display: block;
    margin-left: 11px;
    margin-right: 11px;
    position: relative;
    line-height: 30px;
  }
  .custom-selectbox-selection__rendered:after {
    content: '.';
    visibility: hidden;
    pointer-events: none;
    display: inline-block;
    width: 0;
  }
  .custom-selectbox-lg {
    font-size: 16px;
  }
  .custom-selectbox-lg .custom-selectbox-selection--single {
    height: 40px;
  }
  .custom-selectbox-lg .custom-selectbox-selection__rendered {
    line-height: 38px;
  }
  .custom-selectbox-lg .custom-selectbox-selection--multiple {
    min-height: 40px;
  }
  .custom-selectbox-lg .custom-selectbox-selection--multiple .custom-selectbox-selection__rendered li {
    height: 32px;
    line-height: 32px;
  }
  .custom-selectbox-lg .custom-selectbox-selection--multiple .custom-selectbox-selection__clear {
    top: 20px;
  }
  .custom-selectbox-sm .custom-selectbox-selection--single {
    height: 24px;
  }
  .custom-selectbox-sm .custom-selectbox-selection__rendered {
    line-height: 22px;
    margin: 0 7px;
  }
  .custom-selectbox-sm .custom-selectbox-selection--multiple {
    min-height: 24px;
  }
  .custom-selectbox-sm .custom-selectbox-selection--multiple .custom-selectbox-selection__rendered li {
    height: 16px;
    line-height: 14px;
  }
  .custom-selectbox-sm .custom-selectbox-selection--multiple .custom-selectbox-selection__clear {
    top: 12px;
  }
  .custom-selectbox-sm .custom-selectbox-selection__clear,
  .custom-selectbox-sm .custom-selectbox-arrow {
    right: 8px;
  }
  .custom-selectbox-disabled .custom-selectbox-selection__choice__remove {
    color: rgba(0, 0, 0, 0.25);
    cursor: default;
  }
  .custom-selectbox-disabled .custom-selectbox-selection__choice__remove:hover {
    color: rgba(0, 0, 0, 0.25);
  }
  .custom-selectbox-search__field__wrap {
    display: inline-block;
    position: relative;
  }
  .custom-selectbox-selection__placeholder,
  .custom-selectbox-search__field__placeholder {
    position: absolute;
    top: 50%;
    left: 0;
    right: 9px;
    color: #bfbfbf;
    line-height: 20px;
    height: 20px;
    max-width: 100%;
    margin-top: -10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
  }
  .custom-selectbox-search__field__placeholder {
    left: 12px;
  }
  .custom-selectbox-search__field__mirror {
    position: absolute;
    top: -9999px;
    left: -9999px;
    white-space: pre;
    pointer-events: none;
  }
  .custom-selectbox-search--inline {
    position: absolute;
    height: 100%;
    width: 100%;
  }
  .custom-selectbox-search--inline .custom-selectbox-search__field__wrap {
    width: 100%;
    height: 100%;
  }
  .custom-selectbox-search--inline .custom-selectbox-search__field {
    border-width: 0;
    font-size: 100%;
    height: 100%;
    width: 100%;
    background: transparent;
    outline: 0;
    border-radius: 4px;
    line-height: 1;
  }
  .custom-selectbox-search--inline > i {
    float: right;
  }
  .custom-selectbox-selection--multiple {
    min-height: 32px;
    cursor: text;
    padding-bottom: 3px;
    zoom: 1;
  }
  .custom-selectbox-selection--multiple:before,
  .custom-selectbox-selection--multiple:after {
    content: "";
    display: table;
  }
  .custom-selectbox-selection--multiple:after {
    clear: both;
  }
  .custom-selectbox-selection--multiple .custom-selectbox-search--inline {
    float: left;
    position: static;
    width: auto;
    padding: 0;
    max-width: 100%;
  }
  .custom-selectbox-selection--multiple .custom-selectbox-search--inline .custom-selectbox-search__field {
    max-width: 100%;
    width: 0.75em;
  }
  .custom-selectbox-selection--multiple .custom-selectbox-selection__rendered {
    margin-left: 5px;
    margin-bottom: -3px;
    height: auto;
  }
  .custom-selectbox-selection--multiple .custom-selectbox-selection__placeholder {
    margin-left: 6px;
  }
  .custom-selectbox-selection--multiple > ul > li,
  .custom-selectbox-selection--multiple .custom-selectbox-selection__rendered > ul > li {
    margin-top: 3px;
    height: 24px;
    line-height: 22px;
  }
  .custom-selectbox-selection--multiple .custom-selectbox-selection__choice {
    color: rgba(0, 0, 0, 0.65);
    background-color: #fafafa;
    border: 1px solid #e8e8e8;
    border-radius: 2px;
    cursor: default;
    float: left;
    margin-right: 4px;
    max-width: 99%;
    position: relative;
    overflow: hidden;
    -webkit-transition: padding 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: padding 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    padding: 0 20px 0 10px;
  }
  .custom-selectbox-selection--multiple .custom-selectbox-selection__choice__disabled {
    padding: 0 10px;
  }
  .custom-selectbox-selection--multiple .custom-selectbox-selection__choice__content {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    -webkit-transition: margin 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: margin 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  .custom-selectbox-selection--multiple .custom-selectbox-selection__choice__remove {
    font-style: normal;
    vertical-align: baseline;
    text-align: center;
    text-transform: none;
    line-height: 1;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: rgba(0, 0, 0, 0.45);
    line-height: inherit;
    cursor: pointer;
    font-weight: bold;
    -webkit-transition: all .3s;
    transition: all .3s;
    display: inline-block;
    font-size: 12px;
    font-size: 10px \9;
    -webkit-transform: scale(0.83333333) rotate(0deg);
        -ms-transform: scale(0.83333333) rotate(0deg);
            transform: scale(0.83333333) rotate(0deg);
    position: absolute;
    right: 4px;
  }
  .custom-selectbox-selection--multiple .custom-selectbox-selection__choice__remove:before {
    display: block;
    font-family: "fontello" !important;
  }
  :root .custom-selectbox-selection--multiple .custom-selectbox-selection__choice__remove {
    font-size: 12px;
  }
  .custom-selectbox-selection--multiple .custom-selectbox-selection__choice__remove:hover {
    color: #404040;
  }
  .custom-selectbox-selection--multiple .custom-selectbox-selection__choice__remove:before {
    content: "\E819";
  }
  .custom-selectbox-selection--multiple .custom-selectbox-selection__clear {
    top: 16px;
  }
  .custom-selectbox-allow-clear .custom-selectbox-selection--single .custom-selectbox-selection-selected-value {
    padding-right: 16px;
  }
  .custom-selectbox-allow-clear .custom-selectbox-selection--multiple .custom-selectbox-selection__rendered {
    margin-right: 20px;
  }
  .custom-selectbox-open .custom-selectbox-arrow:before {
    /* -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg); */
  }
  .custom-selectbox-open .custom-selectbox-selection {
    /* border-color: #40a9ff;
    outline: 0;
    -webkit-box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
            box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
    border-right-width: 1px !important; */
    border: 0;
    
    background: rgba(255,255,255,.25);
  }
  .custom-selectbox-combobox .custom-selectbox-arrow {
    display: none;
  }
  .custom-selectbox-combobox .custom-selectbox-search--inline {
    height: 100%;
    width: 100%;
    float: none;
  }
  .custom-selectbox-combobox .custom-selectbox-search__field__wrap {
    width: 100%;
    height: 100%;
  }
  .custom-selectbox-combobox .custom-selectbox-search__field {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .custom-selectbox-combobox.custom-selectbox-allow-clear .custom-selectbox-selection:hover .custom-selectbox-selection__rendered {
    margin-right: 20px;
  }
  .custom-selectbox-dropdown {
    line-height: 1.5;
    color: #fff;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #222330;
    -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    z-index: 1050;
    left: -9999px;
    top: -9999px;
    position: absolute;
    outline: none;
    font-size: 14px;
  }
  .custom-selectbox-dropdown.slide-up-enter.slide-up-enter-active.custom-selectbox-dropdown-placement-bottomLeft,
  .custom-selectbox-dropdown.slide-up-appear.slide-up-appear-active.custom-selectbox-dropdown-placement-bottomLeft {
    -webkit-animation-name: antSlideUpIn;
            animation-name: antSlideUpIn;
  }
  .custom-selectbox-dropdown.slide-up-enter.slide-up-enter-active.custom-selectbox-dropdown-placement-topLeft,
  .custom-selectbox-dropdown.slide-up-appear.slide-up-appear-active.custom-selectbox-dropdown-placement-topLeft {
    -webkit-animation-name: antSlideDownIn;
            animation-name: antSlideDownIn;
  }
  .custom-selectbox-dropdown.slide-up-leave.slide-up-leave-active.custom-selectbox-dropdown-placement-bottomLeft {
    -webkit-animation-name: antSlideUpOut;
            animation-name: antSlideUpOut;
  }
  .custom-selectbox-dropdown.slide-up-leave.slide-up-leave-active.custom-selectbox-dropdown-placement-topLeft {
    -webkit-animation-name: antSlideDownOut;
            animation-name: antSlideDownOut;
  }
  .custom-selectbox-dropdown-hidden {
    display: none;
  }
  .custom-selectbox-dropdown-menu {
    outline: none;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    max-height: 250px;
    overflow: auto;
  }
  .custom-selectbox-dropdown-menu-item-group-list {
    margin: 0;
    padding: 0;
  }
  .custom-selectbox-dropdown-menu-item-group-list > .custom-selectbox-dropdown-menu-item {
    padding-left: 20px;
  }
  .custom-selectbox-dropdown-menu-item-group-title {
    color: rgba(0, 0, 0, 0.45);
    padding: 0 12px;
    height: 32px;
    line-height: 32px;
    font-size: 12px;
  }
  .custom-selectbox-dropdown-menu-item {
    position: relative;
    display: block;
    padding: 5px 12px;
    line-height: 22px;
    font-weight: normal;
    color: #fff;
    white-space: nowrap;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-transition: background 0.3s ease;
    transition: background 0.3s ease;
  }
  .custom-selectbox-dropdown-menu-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .custom-selectbox-dropdown-menu-item:first-child {
    border-radius: 4px 4px 0 0;
  }
  .custom-selectbox-dropdown-menu-item:last-child {
    border-radius: 0 0 4px 4px;
  }
  .custom-selectbox-dropdown-menu-item-disabled {
    color: rgba(0, 0, 0, 0.25);
    cursor: not-allowed;
  }
  .custom-selectbox-dropdown-menu-item-disabled:hover {
    color: rgba(0, 0, 0, 0.25);
    background-color: #fff;
    cursor: not-allowed;
  }
  .custom-selectbox-dropdown-menu-item-selected,
  .custom-selectbox-dropdown-menu-item-selected:hover {
    /* background-color: #3c3c4a;
    background-color: rgba(255,255,255,.06); */
    font-weight: 500;
    color: #ffbf00;
  }
  .custom-selectbox-dropdown-menu-item-active {
    /* background-color: #e6f7ff; */
  }
  .custom-selectbox-dropdown-menu-item-divider {
    height: 1px;
    margin: 1px 0;
    overflow: hidden;
    background-color: #e8e8e8;
    line-height: 0;
  }
  .custom-selectbox-dropdown.custom-selectbox-dropdown--multiple .custom-selectbox-dropdown-menu-item:after {
    font-family: 'fontello';
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\E819";
    color: transparent;
    display: inline-block;
    font-size: 12px;
    font-size: 10px \9;
    -webkit-transform: scale(0.83333333) rotate(0deg);
        -ms-transform: scale(0.83333333) rotate(0deg);
            transform: scale(0.83333333) rotate(0deg);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 12px;
    font-weight: bold;
    text-shadow: 0 0.1px 0, 0.1px 0 0, 0 -0.1px 0, -0.1px 0;
  }
  :root .custom-selectbox-dropdown.custom-selectbox-dropdown--multiple .custom-selectbox-dropdown-menu-item:after {
    font-size: 12px;
  }
  .custom-selectbox-dropdown.custom-selectbox-dropdown--multiple .custom-selectbox-dropdown-menu-item:hover:after {
    color: #ddd;
  }
  .custom-selectbox-dropdown.custom-selectbox-dropdown--multiple .custom-selectbox-dropdown-menu-item-disabled:after {
    display: none;
  }
  .custom-selectbox-dropdown.custom-selectbox-dropdown--multiple .custom-selectbox-dropdown-menu-item-selected:after,
  .custom-selectbox-dropdown.custom-selectbox-dropdown--multiple .custom-selectbox-dropdown-menu-item-selected:hover:after {
    color: #1890ff;
    display: inline-block;
  }
  .custom-selectbox-dropdown-container-open .custom-selectbox-dropdown,
  .custom-selectbox-dropdown-open .custom-selectbox-dropdown {
    display: block;
  }
  