.odd--up,
.odd--down,
.bs__odd--down,
.bs__odd--up {
    @extend .icon0;
    position: relative;
    width: 100%;
    height: 100%;
    @include breakpoint(medium down) {
        padding: 0 10px;
    }
    @include breakpoint(large) {
        display: block;
    }
    &:before {
        position: absolute;
        right: 1px;
        height: 8px;
        font-size: 8px;
    }
}
.odd--down {
    &:before {
        content: '\E90D';
        bottom: 2px;
        color: #f44336;
        @include breakpoint(medium down) {
            bottom: 1px;
            //transform: rotate(45deg) translateY(-150%);
            content: '\E802';               
            font-size: 15px;
            transform: translateY(-100%) translateX(10px);
        }
    }
}
.odd--up {
    &:before {
        content: '\E90E';
        top: 1px;
        color: #47A946;
        @include breakpoint(medium down) {
            content: '\E802';               
            font-size: 15px;
            transform: translateY(100%) translateX(10px) rotate(180deg);
        }
    }
}

// BETSLIP
.bs__odd--down,
.bs__odd--up {
    color: #fff!important;
    padding: 0 3px;
    &::before {
        left: -28px;
        font-size: rem-calc(16);
    }
}
.bs__odd--down {
    background: #f44336;
    &::before {
        content: '\E90D';
        bottom: 2px;
        color: #f44336;
        bottom: 1px;
        content: '\E802';
        transform: translateY(-100%) translateX(10px);
    }
}
.bs__odd--up {
    background: #47A946;
    &::before {
        content: '\E90E';
        top: 1px;
        color: #47A946;
        content: '\E802';
        transform: translateY(100%) translateX(10px) rotate(180deg);
    }
}


@keyframes blink {
    0%,
    10% {
        opacity: 1
    }
    60% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

