.horizontal-separator-container {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #ccc;
    line-height: .1em;
    margin: 5px auto 5px auto;
}

.short-separator {
    width: 50%;
}

.horizontal-separator {
    background-color: #fff;
    padding: 0 10px;
}