.timeline__wp {
    background: $dark-background;
}

.timeline {
    margin-bottom: 0 !important;
}

.vg-meeting--info {
    margin-top: 15px;
}

.vg-meeting--details {
    padding: 0 15px 20px;
}

.nav-tabs {
    white-space: nowrap;
    overflow: hidden;
    list-style: none;
    position: relative;
    z-index: 1;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row nowrap;
    background-color: $body-background;
}

$height-arr: 8px;
$bottom-mg: 4px;
$ml-b: -7px;
$active-bg-color: #fff;
.nav-tabs__item {
    height: 100%;
    min-height: 30px;
    position: relative;
    text-align: left;
    white-space: nowrap;
    color: rgba(255, 255, 255, .5);
    font-size: rem-calc(16);
    font-weight: 300;
    padding-left: 5px;
    padding: 0 0 12px;
    font-weight: 400;
    padding: 10px 12px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    letter-spacing: .2px;
    &:not(:last-child) {
        border-right: 0;
    }
    >div {
        padding: 10px 12px;
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        border-left: 1px solid rgba(255, 255, 255, 0.3);
        border-right: 1px solid rgba(255, 255, 255, 0.3);
        background: $body-background;
        letter-spacing: .2px;
    }
    &:hover {
        color: #fff;
        cursor: pointer;
    }
    &.active {
        color: #000;
        position: relative;
        >div {
            background: $active-bg-color;
        }
        &:before {
            content: "";
            position: absolute;
            opacity: 1;
            bottom: $bottom-mg;
            left: 0;
            margin-left: $ml-b;
            height: 0;
            width: 0;
            border-left: $height-arr solid transparent;
            border-right: $height-arr solid transparent;
            border-top: $height-arr solid transparent;
            background: transparent;
            z-index: -2;
            content: "";
            position: absolute;
            left: 50%;
            z-index: -1;
            transform-style: preserve-3d;
            user-select: none;
        }
        &:after {
            bottom: ($bottom-mg + 2);
            left: 0;
            margin-left: 12px;
            margin-left: ($ml-b - 1);
            height: 0;
            width: 0;
            border-left: ($height-arr + 1) solid transparent;
            border-right: ($height-arr + 1) solid transparent;
            border-top: ($height-arr + 1) solid $active-bg-color;
            transition: bottom .4s ease-in-out, opacity .3s ease-in-out;
            content: "";
            position: absolute;
            left: 50%; // z-index: -1;
            -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
        }
    }
}

.countdown__wrapper {
    position: relative;
}

.countdown {
    position: absolute;
    top: -16px;
    font-size: 11px;
    background-color: #fff;
    color: #000;
    width: 100%;
    text-align: center;
    padding: 1px 0;
    border-radius: 3px;
}