<div class="tournament-odd-group" id="odd-group-382" data-toggler=".collapse-tournaments">
    <div class="item active">Main</div>
    <div class="item">Main Ext</div>
    <div class="item">HT/FT</div>
    <div class="item">Total goals</div>
    <div class="item">Handicap</div>
    <div class="item">Exact goals</div>
    <div class="item">Correct score</div>
    <div class="item">1st H</div>
    <div class="item">1H Total</div>
    <div class="item">1H Score</div>
    <div class="item">1H C. Score</div>
    <div class="item">1H Combo</div>
    <div class="item">1H DC Combo</div>
    <div class="item">2nd H</div>
    <div class="item">2H Total</div>
    <div class="item">2H Score</div>
    <div class="item">2H Combo</div>
    <div class="item">HT</div>
    <div class="item">HT Halves</div>
    <div class="item">AT</div>
    <div class="item">AT Halves</div>
    <div class="item">BT Goals</div>
    <div class="item">Combo</div>
    <div class="item">Combo BT</div>
    <div class="item">2H DC Combo</div>
    <div class="item">NB</div>
    <div class="item">DC</div>
    <div class="item">DC Combo</div>
    <div class="item">DC / BT Score</div>
    <div class="item">O / E</div>
    <div class="item">Corners</div>
    <div class="item">1H Corners</div>
    <div class="item">Tot. Corners</div>
    <div class="item">Special</div>
</div>
<div class="btn-toggle-hide__container">
    <div class="btn-toggle-hide" data-toggler=".collapse-tournaments" data-toggle="odd-group-382 colps2" id="colps2"></div>
</div>