<div class="betslip-area__container">
    <div class="betslip-area__inner">
        <div class="bs__header">
            <div class="bs__title">Betslip</div>
            <div class="left-col">
                <div class="bs-type-switcher hide">
                    <button class="select-size-1" data-toggle="changeBsType">Single</button>
                    <ul class="select-size-1__container dropdown-pane bottom" id="changeBsType" data-dropdown data-close-on-click="true" data-v-offset="0">
                        <li class="select__item active">Single</li>
                        <li class="select__item">Multiple</li>
                        <li class="select__item">System</li>
                    </ul>
                </div>
                <i class="bs-hide" data-toggle="betslipArea"></i>
            </div>
        </div>

        <div class="bs-tabs">
            <ul>
                <li class="bs-tabs__item">Single</li>
                <li class="bs-tabs__item">Multiple</li>
                <li class="bs-tabs__item active">System</li>
            </ul>
        </div>

        <div class="bs-checkboxes">
            <input id="box1" type="checkbox" checked />
            <label for="box1">Advanced</label>
            <input id="box2" type="checkbox" />
            <label for="box2">Same Stake</label>
        </div>

        <div class="scroll-content" data-scrollbar style="max-height: 120px; overflow: hidden; max-height: calc(100vh - 152px);">
            <div class="bs-list__wrapper">
                <div class="bs__item closed">
                    <div class="error-message">
                        <div class="error-message__title">BETS SUSPENDED</div>
                        <div class="error-message__countdown ">Removing outcome 5 sec</div>
                    </div>
                    <div class="bet-options">
                        <i class="bs-icon-banker active"></i>
                    </div>
                    <div class="bet-event">
                        <div class="row">
                            <div class="bet-event__title">
                                Sweden - South Korea
                            </div>
                            <div class="bs-options__option-odds">
                                <span class="bs-options__odds-change"></span>
                            </div>
                            <div class="bet-close icon"></div>
                        </div>
                        <div class="row space-between">
                            <div class="bet-event__market">Match Bet</div>
                            <div class="bet-event__rate">2.36</div>
                        </div>
                        <div class="row space-between">
                            <div class="bet-event__team">Under</div>
                            <div class="bet-event__item-link">
                                <span>+89</span>
                            </div>
                        </div>
                        <div class="row bet-event__stakes space-between">
                            <div class="stake">
                                <div class="bs__stake-name">Stake</div>
                                <input class="bs__input" type="number" value="1">
                            </div>
                            <div class="estwin">
                                <div class="bs__stake-name">Est Win</div>
                                <input class="bs__input" type="number" value="5.00" disabled>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bs__item">
                    <div class="bet-options">
                        <i class="bs-icon-banker active"></i>
                    </div>
                    <div class="bet-event">
                        <div class="row">
                            <div class="bet-event__title">
                                Sweden - South Korea
                            </div>
                            <div class="bs-options__option-odds">
                                <span class="bs-options__odds-change"></span>
                            </div>
                            <div class="bet-close icon"></div>
                        </div>
                        <div class="row space-between">
                            <div class="bet-event__market">Match Bet</div>
                            <div class="bet-event__rate">2.36</div>
                        </div>
                        <div class="row space-between">
                            <div class="bet-event__team">Under</div>
                            <div class="bet-event__item-link">
                                <span>+89</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bs__item">
                    <div class="bet-options">
                        <i class="bs--live"></i>
                        <i class="bs-icon-banker active"></i>
                    </div>
                    <div class="bet-event">
                        <div class="row">
                            <div class="bet-event__title">
                                Sweden - South Korea
                            </div>
                            <div class="bs-options__option-odds">
                                <span class="bs-options__odds-change"></span>
                            </div>
                            <div class="bet-close icon"></div>
                        </div>
                        <div class="row space-between">
                            <div class="bet-event__market">Match Bet</div>
                            <div class="bet-event__rate">2.36</div>
                        </div>
                        <div class="row space-between">
                            <div class="bet-event__team">Under</div>
                            <div class="bet-event__item-link">
                                <span>+89</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bs__item">
                    <div class="bet-options">
                        <i class="bs--live"></i>
                        <i class="bs-icon-banker"></i>
                    </div>
                    <div class="bet-event">
                        <div class="row">
                            <div class="bet-event__title">
                                Sweden - South Korea
                            </div>
                            <div class="bs-options__option-odds">
                                <span class="bs-options__odds-change"></span>
                            </div>
                            <div class="bet-close icon"></div>
                        </div>
                        <div class="row space-between">
                            <div class="bet-event__market">Who wins the rest of the match? 0:0</div>
                            <div class="bet-event__rate">2.25</div>
                        </div>
                        <div class="row space-between">
                            <div class="bet-event__team">Under</div>
                            <div class="bet-event__item-link">
                                <span>+89</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bs__item">
                    <div class="bet-options">
                        <i class="bs--live"></i>
                        <i class="bs-icon-banker"></i>
                    </div>
                    <div class="bet-event">
                        <div class="row">
                            <div class="bet-event__title">
                                Poland - Colombia
                            </div>
                            <div class="bs-options__option-odds">
                                <span class="bs-options__odds-change"></span>
                            </div>
                            <div class="bet-close icon"></div>
                        </div>
                        <div class="row space-between">
                            <div class="bet-event__market">Match Bet</div>
                            <div class="bet-event__rate">2.36</div>
                        </div>
                        <div class="row space-between">
                            <div class="bet-event__team">Under</div>
                            <div class="bet-event__item-link">
                                <span>+89</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bs__item">
                    <div class="bet-options">
                        <i class="bs--live"></i>
                        <i class="bs-icon-banker"></i>
                    </div>
                    <div class="bet-event">
                        <div class="row">
                            <div class="bet-event__title">
                                Poland - Colombia
                            </div>
                            <div class="bs-options__option-odds">
                                <span class="bs-options__odds-change"></span>
                            </div>
                            <div class="bet-close icon"></div>
                        </div>
                        <div class="row space-between">
                            <div class="bet-event__market">Match Bet</div>
                            <div class="bet-event__rate">2.36</div>
                        </div>
                        <div class="row space-between">
                            <div class="bet-event__team">Under</div>
                            <div class="bet-event__item-link">
                                <span>+89</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bs__item">
                    <div class="bet-options">
                        <i class="bs--live"></i>
                        <i class="bs-icon-banker"></i>
                    </div>
                    <div class="bet-event">
                        <div class="row">
                            <div class="bet-event__title">
                                Poland - Colombia
                            </div>
                            <div class="bs-options__option-odds">
                                <span class="bs-options__odds-change"></span>
                            </div>
                            <div class="bet-close icon"></div>
                        </div>
                        <div class="row space-between">
                            <div class="bet-event__market">Match Bet</div>
                            <div class="bet-event__rate">2.36</div>
                        </div>
                        <div class="row space-between">
                            <div class="bet-event__team">Under</div>
                            <div class="bet-event__item-link">
                                <span>+89</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bs__item">
                    <div class="bet-options">
                        <i class="bs--live"></i>
                        <i class="bs-icon-banker"></i>
                    </div>
                    <div class="bet-event">
                        <div class="row">
                            <div class="bet-event__title">
                                Poland - Colombia
                            </div>
                            <div class="bs-options__option-odds">
                                <span class="bs-options__odds-change"></span>
                            </div>
                            <div class="bet-close icon"></div>
                        </div>
                        <div class="row space-between">
                            <div class="bet-event__market">Match Bet</div>
                            <div class="bet-event__rate">2.36</div>
                        </div>
                        <div class="row space-between">
                            <div class="bet-event__team">Under</div>
                            <div class="bet-event__item-link">
                                <span>+89</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- systems-list -->
            <div class="systems-list">
                <ul data-scrollbar>
                    <li class="betslip-system__radio-item">
                        <label class="radio-label">
                            <input name="SystemBets" type="radio" checked value="2/3">
                            <span>
                                <span class="betslip-system__radio-item-help">
                                    <div data-toggle="modal" data-target="#systemModal" class="combinations-btn">3 bets</div>
                                </span>
                                <span class="betslip-system__radio-item-text">
                                    <span>System
                                        <span class="bet-slip-menu-item-submenu-systemX">2</span>/
                                        <span class="bet-slip-menu-item-submenu-system">3</span>
                                    </span>
                                </span>
                            </span>
                        </label>
                    </li>
                    <li class="betslip-system__radio-item">
                        <label class="radio-label">
                            <input name="SystemBets" type="radio" value="2/3">
                            <span>
                                <span class="betslip-system__radio-item-help">
                                    <div data-toggle="modal" data-target="#systemModal" class="combinations-btn">3 bets</div>
                                </span>
                                <span class="betslip-system__radio-item-text">
                                    <span>System
                                        <span class="bet-slip-menu-item-submenu-systemX">2</span>/
                                        <span class="bet-slip-menu-item-submenu-system">3</span>
                                    </span>
                                </span>
                            </span>
                        </label>
                    </li>
                    <li class="betslip-system__radio-item">
                        <label class="radio-label">
                            <input name="SystemBets" type="radio" value="2/3">
                            <span>
                                <span class="betslip-system__radio-item-help">
                                    <div data-toggle="modal" data-target="#systemModal" class="combinations-btn">3 bets</div>
                                </span>
                                <span class="betslip-system__radio-item-text">
                                    <span>System
                                        <span class="bet-slip-menu-item-submenu-systemX">2</span>/
                                        <span class="bet-slip-menu-item-submenu-system">3</span>
                                    </span>
                                </span>
                            </span>
                        </label>
                    </li>
                    <li class="betslip-system__radio-item">
                        <label class="radio-label">
                            <input name="SystemBets" type="radio" value="2/3">
                            <span>
                                <span class="betslip-system__radio-item-help">
                                    <div data-toggle="modal" data-target="#systemModal" class="combinations-btn">3 bets</div>
                                </span>
                                <span class="betslip-system__radio-item-text">
                                    <span>System
                                        <span class="bet-slip-menu-item-submenu-systemX">2</span>/
                                        <span class="bet-slip-menu-item-submenu-system">3</span>
                                    </span>
                                </span>
                            </span>
                        </label>
                    </li>
                    <li class="betslip-system__radio-item">
                        <label class="radio-label">
                            <input name="SystemBets" type="radio" value="2/3">
                            <span>
                                <span class="betslip-system__radio-item-help">
                                    <div data-toggle="modal" data-target="#systemModal" class="combinations-btn">3 bets</div>
                                </span>
                                <span class="betslip-system__radio-item-text">
                                    <span>System
                                        <span class="bet-slip-menu-item-submenu-systemX">2</span>/
                                        <span class="bet-slip-menu-item-submenu-system">3</span>
                                    </span>
                                </span>
                            </span>
                        </label>
                    </li>
                    <li class="betslip-system__radio-item">
                        <label class="radio-label">
                            <input name="SystemBets" type="radio" value="2/3">
                            <span>
                                <span class="betslip-system__radio-item-help">
                                    <div data-toggle="modal" data-target="#systemModal" class="combinations-btn">3 bets</div>
                                </span>
                                <span class="betslip-system__radio-item-text">
                                    <span>System
                                        <span class="bet-slip-menu-item-submenu-systemX">2</span>/
                                        <span class="bet-slip-menu-item-submenu-system">3</span>
                                    </span>
                                </span>
                            </span>
                        </label>
                    </li>
                    <li class="betslip-system__radio-item">
                        <label class="radio-label">
                            <input name="SystemBets" type="radio" value="2/3">
                            <span>
                                <span class="betslip-system__radio-item-help">
                                    <div data-toggle="modal" data-target="#systemModal" class="combinations-btn">3 bets</div>
                                </span>
                                <span class="betslip-system__radio-item-text">
                                    <span>System
                                        <span class="bet-slip-menu-item-submenu-systemX">2</span>/
                                        <span class="bet-slip-menu-item-submenu-system">3</span>
                                    </span>
                                </span>
                            </span>
                        </label>
                    </li>
                    <li class="betslip-system__radio-item">
                        <label class="radio-label">
                            <input name="SystemBets" type="radio" value="2/3">
                            <span>
                                <span class="betslip-system__radio-item-help">
                                    <div data-toggle="modal" data-target="#systemModal" class="combinations-btn">3 bets</div>
                                </span>
                                <span class="betslip-system__radio-item-text">
                                    <span>System
                                        <span class="bet-slip-menu-item-submenu-systemX">2</span>/
                                        <span class="bet-slip-menu-item-submenu-system">3</span>
                                    </span>
                                </span>
                            </span>
                        </label>
                    </li>
                    <li class="betslip-system__radio-item">
                        <label class="radio-label">
                            <input name="SystemBets" type="radio" value="2/3">
                            <span>
                                <span class="betslip-system__radio-item-help">
                                    <div data-toggle="modal" data-target="#systemModal" class="combinations-btn">3 bets</div>
                                </span>
                                <span class="betslip-system__radio-item-text">
                                    <span>System
                                        <span class="bet-slip-menu-item-submenu-systemX">2</span>/
                                        <span class="bet-slip-menu-item-submenu-system">3</span>
                                    </span>
                                </span>
                            </span>
                        </label>
                    </li>
                </ul>
            </div>
            <!-- /.systems-list -->
            <!-- bet-slip__footer -->
            <div class="bs-footer">
                <div class="bs-footer__summary">
                    <div class="row">
                        <div class="bs-footer__summary--title">Possible win:</div>
                        <div class="bs-footer__summary--total">8.78 XAF</div>
                    </div>
                    <div class="row">
                        <div class="bs-footer__summary--title">Bonus:</div>
                        <div class="bs-footer__summary--total">12.00 XAF</div>
                    </div>
                </div>

                <div class="bs-footer__advanced-area">
                    <div class="row">
                        <div class="bs-footer__advanced-area--title">Total odds</div>
                        <div class="bs-footer__advanced-area--total">2.78 XAF</div>
                    </div>
                    <div class="row">
                        <div class="bs-footer__advanced-area--title">Min Bet</div>
                        <div class="bs-footer__advanced-area--total">600.00 XAF</div>
                    </div>
                    <div class="row">
                        <div class="bs-footer__advanced-area--title">Max Bet</div>
                        <div class="bs-footer__advanced-area--total">50000.00 XAF</div>
                    </div>
                    <div class="row">
                        <div class="bs-footer__advanced-area--title">Max Win</div>
                        <div class="bs-footer__advanced-area--total">138763.33 XAF</div>
                    </div>
                </div>

                <div class="bs__limit-message">
                    <div>
                        <i class="alert"></i>Your stake is below minimum. Enter valid stake.</div>
                </div>

                <div class="bs__stake">
                    <div class="bs__stake--name">Stake:</div>
                    <div class="bs__stake--input">
                        <input type="number" min="1" class="">
                    </div>
                    <div class="bs__stake--currency">XAF</div>
                </div>

                <div class="bs-btn-block">
                    <div class="cell place-bet">
                        <button class="button btn-place-bet">Place Bet</button>
                    </div>
                </div>

                <div class="bs-btn-block bt">
                    <div class="cell">
                        <button class="button bs-btn--clear">Clear</button>
                    </div>
                    <div class="cell">
                        <button class="button bs-btn--save">Save</button>
                    </div>
                </div>






            </div>
            <!-- bet-slip__footer -->
        </div>
    </div>
</div>