<div class="betslip-area__container">
    <div class="betslip-area__inner">
        <div class="betslip--empty">

            <div class="bs__title">Betslip</div>
            <div class="slipMessgeContent">
                Select outcomes to place your bet
            </div>

            <div class="bs-btn-block slipMessgeFooter">
                    <div class="input-group">
                            <input type="text" placeholder="Insert Booking Number" class="additional-bs__input" />
                           <div class="input-group-button">
                             <input type="submit" class="enter__input" value="Load">
                           </div>
                         </div>
                
            </div>

        </div>



    </div>
</div>