 
<div class="sportmenu--live">
    <ul class="sportmenu-list--live">
        <li class="tab">
            <a class="sportmenu--live__item">
                <i class="all_sports"></i>
                <span class="title" title="All Sports">All Sports</span>
                <span class="count">71</span>
            </a>
        </li>
        <li class="tab active">
            <a class="sportmenu--live__item">
                <i class="soccer"></i>
                <span class="title" title="Soccer">Soccer</span>
                <span class="count">6</span>
            </a>
        </li>
        <li class="tab">
            <a class="sportmenu--live__item">
                <i class="american_football"></i>
                <span class="title" title="American football">American football</span>
                <span class="count">8</span>
            </a>
        </li>
        <li class="tab">
            <a class="sportmenu--live__item">
                <i class="baseball"></i>
                <span class="title" title="Baseball">Baseball</span>
                <span class="count">23</span>
            </a>
        </li>
        <li class="tab">
            <a class="sportmenu--live__item">
                <i class="basketball"></i>
                <span class="title" title="Basketball">Basketball</span>
                <span class="count">12</span>
            </a>
        </li>
        <li class="tab">
            <a class="sportmenu--live__item">
                <i class="darts"></i>
                <span class="title" title="Darts">Darts</span>
                <span class="count">4</span>
            </a>
        </li>
        <li class="tab">
            <a class="sportmenu--live__item">
                <i class="handball"></i>
                <span class="title" title="Handball">Handball</span>
                <span class="count">32</span>
            </a>
        </li>
        <li class="tab">
            <a class="sportmenu--live__item">
                <i class="ice_hockey"></i>
                <span class="title" title="Ice hockey">Ice hockey</span>
                <span class="count">31</span>
            </a>
        </li>
        <li class="tab">
            <a class="sportmenu--live__item">
                <i class="rugby"></i>
                <span class="title" title="Rugby">Rugby</span>
                <span class="count">12</span>
            </a>
        </li>
        <li class="tab">
            <a class="sportmenu--live__item">
                <i class="snooker"></i>
                <span class="title" title="Snooker">Snooker</span>
                <span class="count">4</span>
            </a>
        </li>
        <li class="tab">
            <a class="sportmenu--live__item">
                <i class="tennis"></i>
                <span class="title" title="Tennis">Tennis</span>
                <span class="count">6</span>
            </a>
        </li>
        <li class="tab">
            <a class="sportmenu--live__item">
                <i class="volleyball"></i>
                <span class="title" title="Volleyball">Volleyball</span>
                <span class="count">8</span>
            </a>
        </li>
        <li class="tab">
            <a class="sportmenu--live__item">
                <i class="motorsport"></i>
                <span class="title" title="Motorsport">Motorsport</span>
                <span class="count">23</span>
            </a>
        </li>
    </ul>
    <div class="sub-tabs--live">
            <div class="item active">International</div>
            <div class="item">Iceland</div>
            <div class="item">Italy</div>
            <div class="item">Oman</div>
    </div>      
</div>

