<div class="tournament-group__header cp scroll-watcher" data-toggle="odd-group-382 colps1">
        <div class="tournament__title soccer">
                <i class="cell icon-cell soccer"></i>
                <div class="cell title-cell">SOCCER</div>
                <div class="cell controls-cell">
                        <div class="count">1</div>
                        <div class="hide-block live icon-cell"  id="colps1" data-toggler=".expanded" title="Show/Hide"></div>
                </div>
        </div>
</div>