<div class="categories-menu__container scroll" data-scrollbar>
    <div class="categories-menu__inner">
        <div class="block-search">
            <div class="block-search__inp-wrap">
                <input type="text" placeholder="Search" class="block-search__input">
                <span class="icon-search"></span>
            </div>
        </div>

        <div class="header__sport-menu tournaments-menu__title" id="tournaments-menu__title" data-toggle="tournaments-menu tournaments-menu__title" data-toggler=".collapse">
            <i class="arr-down"></i>
            <div class="sport-menu__title">TOP TOURNAMENTS</div>
        </div>
        <ul class="sport-menu scroll-watcher tournaments-menu" id="tournaments-menu" data-toggler=".hide-blk">
            <li>
                <a class="sport-menu__item">
                    <i class="soccer"></i>
                    <span class="title" title="UEFA Champions League">UEFA Champions League</span>
                    <span class="count">1</span>
                </a>
            </li>
            <li>
                <a class="sport-menu__item">
                    <i class="soccer"></i>
                    <span class="title" title="UEFA Europa League">UEFA Europa League</span>
                    <span class="count">2</span>
                </a>
            </li>
            <li>
                <a class="sport-menu__item">
                    <i class="soccer"></i>
                    <span class="title" title="International Friendly Games">International Friendly Games</span>
                    <span class="count">1</span>
                </a>
            </li>
            <li>
                <a class="sport-menu__item">
                    <i class="soccer"></i>
                    <span class="title" title="LaLiga">LaLiga</span>
                    <span class="count">10</span>
                </a>
            </li>
            <li>
                <a class="sport-menu__item">
                    <i class="soccer"></i>
                    <span class="title" title="Serie A">Serie A</span>
                    <span class="count">11</span>
                </a>
            </li>
            <li>
                <a class="sport-menu__item">
                    <i class="soccer"></i>
                    <span class="title" title="Ligue 1">Ligue 1</span>
                    <span class="count">12</span>
                </a>
            </li>
            <li>
                <a class="sport-menu__item">
                    <i class="soccer"></i>
                    <span class="title" title="AFC Champions League">AFC Champions League</span>
                    <span class="count">18</span>
                </a>
            </li>
        </ul>

        <div class="header__sport-menu all-sport-menu" id="all-sport-menu">
            <div class="sport-menu__title">Sports</div>
            <div class="sport-menu__collapse-all"></div>
            </div>
    

        <div class="change-period__container">
            <button class="select-size-1" data-toggle="changePeriod">All events</button>
            <ul class="select-size-1__container dropdown-pane bottom" id="changePeriod" data-dropdown data-close-on-click="true" data-v-offset="0">
                <li class="select__item active">All events</li>
                <li class="select__item">Last minute</li>
                <li class="select__item">Today</li>
                <li class="select__item">Tomorrow</li>
            </ul>
        </div>
        

        <ul class="sport-menu scroll-watcher" data-responsive-menu="drilldown large-accordion" data-auto-height="true">
            <li>
                <a class="sport-menu__item">
                    <i class="soccer"></i>
                    <span class="title" title="Soccer">Soccer</span>
                    <span class="count">85</span>
                </a>
                <ul class="sport-submenu country__header">
                    <li>
                        <a class="sport-submenu__item icon">
                            <span class="title">Austria</span>
                            <span class="count">2</span>
                        </a>
                        <ul class="sport-submenu__events-menu">
                            <li>
                                <a class="icon active-tournament">
                                    <span class="title">Brasileiro Serie B</span>
                                    <span class="count">2</span>
                                </a>
                            </li>
                            <li>
                                <a class="icon">
                                    <span class="title">Brasileiro Serie B</span>
                                    <span class="count">2</span>
                                </a>
                            </li>
                            <li>
                                <a class="icon">
                                    <span class="title">Brasileiro Serie B</span>
                                    <span class="count">2</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li><a class="sport-submenu__item icon">
                            <span class="title">Brazil</span>
                            <span class="count">5</span>
                    </a></li>
                    <li><a class="sport-submenu__item icon">
                            <span class="title">Colombia</span>
                            <span class="count">1</span>
                    </a></li>
                    <li><a class="sport-submenu__item icon">
                            <span class="title">Egypt</span>
                            <span class="count">11</span>
                    </a></li>
                    <li><a class="sport-submenu__item icon">
                            <span class="title">England</span>
                            <span class="count">4</span>
                    </a></li>
                </ul>
            </li>
            <li>
                <a class="sport-menu__item">
                    <i class="american_football"></i>
                    <span class="title">American football</span>
                    <span class="count">72</span>
                </a>
                <ul class="sport-submenu country__header">
                    <li>
                        <a class="sport-submenu__item icon">
                            <span class="title">Austria</span>
                            <span class="count">2</span>
                        </a>
                        <ul class="sport-submenu__events-menu">
                            <li>
                                <a class="icon active-tournament">
                                    <span class="title">Brasileiro Serie B</span>
                                    <span class="count">2</span>
                                </a>
                            </li>
                            <li>
                                <a class="icon">
                                    <span class="title">Brasileiro Serie B</span>
                                    <span class="count">2</span>
                                </a>
                            </li>
                            <li>
                                <a class="icon">
                                    <span class="title">Brasileiro Serie B</span>
                                    <span class="count">2</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li><a class="sport-submenu__item icon">
                            <span class="title">Brazil</span>
                            <span class="count">5</span>
                    </a></li>
                    <li><a class="sport-submenu__item icon">
                            <span class="title">Colombia</span>
                            <span class="count">1</span>
                    </a></li>
                    <li><a class="sport-submenu__item icon">
                            <span class="title">Egypt</span>
                            <span class="count">11</span>
                    </a></li>
                    <li><a class="sport-submenu__item icon">
                            <span class="title">England</span>
                            <span class="count">4</span>
                            </a>
                    </li>
                </ul>
            </li>
            <li>
                <a class="sport-menu__item">
                    <i class="baseball"></i>
                    <span class="title">Baseball</span>
                    <span class="count">11</span>
                </a>
            </li>
            <li>
                <a class="sport-menu__item">
                    <i class="basketball"></i>
                    <span class="title">Basketball</span>
                    <span class="count">2</span>
                </a>
            </li>
            <li>
                <a class="sport-menu__item">
                    <i class="darts"></i>
                    <span class="title">Darts</span>
                    <span class="count">3</span>
                </a>
            </li>
            <li>
                <a class="sport-menu__item">
                    <i class="handball"></i>
                    <span class="title">Handball</span>
                    <span class="count">15</span>
                </a>
            </li>
            <li>
                <a class="sport-menu__item">
                    <i class="ice_hockey"></i>
                    <span class="title">Ice hockey</span>
                    <span class="count">20</span>
                </a>
            </li>
            <li>
                <a class="sport-menu__item">
                    <i class="rugby"></i>
                    <span class="title">Rugby</span>
                    <span class="count">14</span>
                </a>
            </li>
            <li>
                <a class="sport-menu__item">
                    <i class="snooker"></i>
                    <span class="title">Snooker</span>
                    <span class="count">7</span>
                </a>
            </li>
            <li>
                <a class="sport-menu__item">
                    <i class="tennis"></i>
                    <span class="title">Tennis</span>
                    <span class="count">21</span>
                </a>
            </li>
            <li>
                <a class="sport-menu__item">
                    <i class="volleyball"></i>
                    <span class="title">Volleyball</span>
                    <span class="count">51</span>
                </a>
            </li>
        </ul>
    </div>
</div>