<div class="footer-menu__container">
    <div class="footer-menu__item categories icon-btn live">
        <span class="footer-menu__label">All sports</span>
    </div>
    <div class="footer-menu__item live icon-btn active" data-toggle="categoriesMenu">
        <span class="footer-menu__label">LIVE</span>
    </div>
    <div class="footer-menu__item betslip icon-btn" data-toggle="betslipArea">
        <span class="footer-menu__label">Betslip</span>
        <div class="button-counter">
            <span>2</span>
        </div>
    </div>
    <div class="footer-menu__item virtual icon-btn" data-toggle="categoriesMenu">
        <span class="footer-menu__label">Virtual</span>
    </div>
    <div class="footer-menu__item coupon icon-btn" data-toggle="betslipArea">
        <span class="footer-menu__label">Coupon check</span>
    </div>
</div>