<div class="header">
    <div class="header__container">
        <div class="header__logo-area">
            <div class="header__logo">
                <a class="logo" tabindex="-1">
                    <img src="https://www.koolbet237.com/pc/resources/img/logo/koolbet-logo-small.png" alt="">
                </a>
            </div>
            <div class="header__menu">
                <div class="menu__item active">
                    <a href="index.html">Sport</a>
                </div>
                <div class="menu__item">
                    <a href="live.html" class="active">Live</a>
                </div>
                <div class="menu__item">
                    <a href="results.html">Results</a>
                </div>
            </div>
        </div>
        <div class="header__account-area">
            <div class="account-area__container">
                <div class="account-area__button lang-switcher">
                    <span class="lang-name icon-globus">EN</span>
                    <span class="icon-arrow"></span>
                </div>
                <div id="accountMenu" class="account-menu">
                    <!-- <div class="account-area__button button login" onclick="location.href='login.html'">
                        Login
                    </div>
                    <div class="account-area__button button register" onclick="location.href='registration.html'">
                        Register now
                    </div> -->

                    <div class="logged-account__container">
                        <div class="user-info"></div>
                        <div class="user-balance">2</div>
                    </div>

                </div>
                <div class="account-area__button login-register" data-toggle="profileSidebar"></div>
            </div>
        </div>
    </div>
</div>
<div id="accountMenu" class="account-menu--small">
    <div class="account-area__button button login" onclick="location.href='login.html'">
        Login
    </div>
    <div class="account-area__button button register" onclick="location.href='registration.html'">
        Register now!
    </div>
</div>

