<div class="tournament-filter__header scroll-watcher">
        <div class="tournament-filter__breadcrumbs basketball">
                <i class="cell icon-cell basketball"></i>
                <div class="cell title-cell">
                        <span class="catName">BASKETBALL</span> / INTERNATIONAL / FIBA WORLD CUP, AFRICAN QUALIFIERS, GROUP D
                </div>
                <div class="cell controls-cell">
                        <div class="close icon-cell" title="Close"></div>
                        <div class="reload icon-cell" title="Reload"></div>
                        <div class="hide-block icon-cell" data-toggle="odd-group-382 colps1" id="colps1" data-toggler=".arr-up" title="Show/Hide"></div>
                </div>
        </div>
</div>