 
<div class="registration__wrapper">
    <div class="registration-form complete">
        <div class="complete-msg grid-container--nowrap">
            <div class="cell s">
                <i class="complete__icon"></i>
            </div>
            <div class="cell a">
                <h3>Registration complete!</h3>
                Thank you for registration with Koolbet237.com. To activate your access please follow instructions in your email box.
            </div>
        </div>
    </div>
</div>