<div class="top-tournament__header">
  <h1 class="top-tournament__header--title">
    International Friendly Games
  </h1>
</div>

<div class="jss62">
  <div class="jss63 tournament-odd-group TopTournaments">
    <div class="item id7 active"><i></i><ins>UEFA Champions League</ins></div>
    <div class="item id34"><i></i><ins>UEFA Europa League</ins></div>
    <div class="item id61"><i></i><ins>Premier League</ins></div>
    <div class="item id92"><i></i><ins>Bundesliga</ins></div>
    <div class="item id78"><i></i><ins>LaLiga</ins></div>
    <div class="item id82"><i></i><ins>Serie A</ins></div>
    <div class="item"><i></i><ins>Ligue 1</ins></div>
    <div class="item"><i></i><ins>Primeira Liga</ins></div>
  </div>
</div>
