<div class="top-tournament__header">
    <h1 class="top-tournament__header--title">
        International Friendly Games
    </h1>
</div>
<div class="sportmenu--live top-tournaments__menu">
    <ul class="sportmenu-list--live">
        <li class="tab">
            <a class="sportmenu--live__item">
                <i class="all_sports"></i>
                <span class="title" title="All Sports">All Sports</span>
                <span class="count">71</span>
            </a>
        </li>
        <li class="tab active">
            <a class="sportmenu--live__item">
                <i class="soccer"></i>
                <span class="title" title="Soccer">Soccer</span>
                <span class="count">6</span>
            </a>
        </li>
        <li class="tab">
            <a class="sportmenu--live__item">
                <i class="american_football"></i>
                <span class="title" title="American football">American football</span>
                <span class="count">8</span>
            </a>
        </li>
        <li class="tab">
            <a class="sportmenu--live__item">
                <i class="baseball"></i>
                <span class="title" title="Baseball">Baseball</span>
                <span class="count">23</span>
            </a>
        </li>
        <li class="tab">
            <a class="sportmenu--live__item">
                <i class="basketball"></i>
                <span class="title" title="Basketball">Basketball</span>
                <span class="count">12</span>
            </a>
        </li>
        <li class="tab">
            <a class="sportmenu--live__item">
                <i class="handball"></i>
                <span class="title" title="Handball">Handball</span>
                <span class="count">32</span>
            </a>
        </li>
        <li class="tab">
            <a class="sportmenu--live__item">
                <i class="ice_hockey"></i>
                <span class="title" title="Ice hockey">Ice hockey</span>
                <span class="count">31</span>
            </a>
        </li>

    </ul>
</div>

