<div class="tournament-group-name__container">
        <div class="tournament-group-name">1st Half Double Chance Combo</div>
    </div>

    <div class="sport-table">
        <!-- start header -->
        <div class="row head">
            <div class="cell-s match-start-time-value">
                <div></div>
            </div>
            <div class="cell-s match-team-value">
                <div></div>
            </div>
            <div class="cell-a match-specialoddvalue-value">
                <div>
                    <div class="match-group">
                        <div class="market-odds">
                            <div class="cell">1HT Double Chance + Both Teams to Score</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cell-s go-to-all-markets">
                <div></div>
            </div>
        </div>
        <!-- /header -->
        
        <!-- start subheader -->
        <div class="row subhead">
            <div class="cell-s match-start-time-value">
                <div>TIME</div>
            </div>
            <div class="cell-s match-team-value">
                <div>TABLE EVENTS</div>
            </div>
            <div class="cell-a match-specialoddvalue-value">
                <div>
                    <div class="match-group">
                        <div class="market-odds">
                            <div class="cell">1X/YES</div>
                            <div class="cell">12/YES</div>
                            <div class="cell">X2/YES</div>
                            <div class="cell">1X/NO</div>
                            <div class="cell">12/NO</div>
                            <div class="cell">X2/NO</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cell-s go-to-all-markets">
                <div></div>
            </div>
        </div>
        <!-- /header -->
        <div class="row date">
                <div class="date-value">MAY 19TH</div>
        </div>
        <!-- start -->
        <div class="row">
                <div class="cell-s match-start-time-value">
                    <div>11:00 PM</div>
                </div>
                <div class="cell-s match-team-value">
                    <div>FC LORI VANADZOR - Gandzasar Kapan FC 2</div>
                </div>
                <div class="cell-a match-specialoddvalue-value">
                    <div>
                        <div class="match-group" group-label="1HT DOUBLE CHANCE + BOTH TEAMS TO SCORE">
                            <div class="market-odds">
                                <div class="cell">
                                    <div class="specialoddvalue-text" data-oddtag="1X/YES">2.85</div>
                                </div>
                                <div class="cell">
                                    <div class="specialoddvalue-text" data-oddtag="12/YES">3.46</div>
                                </div>
                                <div class="cell">
                                    <div class="specialoddvalue-text" data-oddtag="X2/YES">2.13</div>
                                </div>        
                                <div class="cell">
                                    <div class="specialoddvalue-text" data-oddtag="1X/NO">2.13</div>
                                </div>        
                                <div class="cell">
                                    <div class="specialoddvalue-text" data-oddtag="12/NO">2.13</div>
                                </div>        
                                <div class="cell">
                                    <div class="specialoddvalue-text" data-oddtag="X2/NO">2.13</div>
                                </div>        
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cell-s go-to-all-markets">
                    <div class="go-to-all-markets__button active">+85</div>
                </div>
            </div>
            <!-- / -->
            
    </div>