<div class="tournament-group-name__container">
    <div class="tournament-group-name">1st Half Correct Score</div>
</div>

<div class="sport-table">
    <!-- start header -->
    <div class="row head">
        <div class="cell-s match-start-time-value">
            <div></div>
        </div>
        <div class="cell-s match-team-value">
            <div></div>
        </div>
        <div class="cell-a match-specialoddvalue-value">
            <div>
                <div class="match-group">
                    <div class="market-odds">
                        <div class="cell">1HT Correct Score</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cell-s go-to-all-markets">
            <div></div>
        </div>
    </div>
    <!-- /header -->
    

    <!-- start subheader -->
    <div class="row subhead">
        <div class="cell-s match-start-time-value">
            <div>TIME</div>
        </div>
        <div class="cell-s match-team-value">
            <div>TABLE EVENTS</div>
        </div>
        <div class="cell-a match-specialoddvalue-value">
            <div>
                <div class="match-group" group-label="1HT Correct Score">
                    <div class="market-odds">
                        <div class="cell">1:0</div>
                        <div class="cell">0:0</div>
                        <div class="cell">0:1</div>
                        <div class="cell">2:1</div>
                        <div class="cell">1:1</div>
                        <div class="cell">1:2</div>
                        <div class="cell">2:0</div>
                        <div class="cell">2:2</div>
                        <div class="cell">0:2</div>
                        <div class="cell">Other</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cell-s go-to-all-markets">
            <div></div>
        </div>
    </div>
    <!-- /header -->
    <div class="row date">
        <div class="date-value">May 25th</div>
    </div>
    <!-- start -->
    <div class="row">
            <div class="cell-s match-start-time-value">
                <div>11:00 PM</div>
            </div>
            <div class="cell-s match-team-value">
                <div>FC LORI VANADZOR - Gandzasar Kapan FC 2</div>
            </div>
            <div class="cell-a match-specialoddvalue-value">
                <div>
                    <div class="match-group" group-label="Who scores first">
                        <div class="market-odds">
                            <div class="cell">
                                <div class="specialoddvalue-text" data-oddtag="1:0">3.26</div>
                            </div>
                            <div class="cell">
                                <div class="specialoddvalue-text" data-oddtag="0:0">3.46</div>
                            </div>
                            <div class="cell">
                                <div class="specialoddvalue-text" data-oddtag="0:1">2.13</div>
                            </div>        
                            <div class="cell">
                                <div class="specialoddvalue-text" data-oddtag="2:1">2.13</div>
                            </div>        
                            <div class="cell">
                                <div class="specialoddvalue-text" data-oddtag="1:1">2.13</div>
                            </div>        
                            <div class="cell">
                                <div class="specialoddvalue-text" data-oddtag="1:2">2.13</div>
                            </div>        
                            <div class="cell">
                                <div class="specialoddvalue-text" data-oddtag="2:0">2.13</div>
                            </div>        
                            <div class="cell">
                                <div class="specialoddvalue-text" data-oddtag="2:2">2.13</div>
                            </div>        
                            <div class="cell">
                                <div class="specialoddvalue-text" data-oddtag="0:2">2.13</div>
                            </div>        
                            <div class="cell">
                                <div class="specialoddvalue-text" data-oddtag="Other">5.27</div>
                            </div>        
                        </div>
                    </div>
                </div>
            </div>
            <div class="cell-s go-to-all-markets">
                <div class="go-to-all-markets__button active">+79</div>
            </div>
        </div>
        <!-- / -->
        
</div>