<div class="tournament-group-name__container">
        <div class="tournament-group-name">1st Half Totals</div>
    </div>
    
    <div class="sport-table">
        <!-- start header -->
        <div class="row head">
            <div class="cell-s match-start-time-value">
                <div></div>
            </div>
            <div class="cell-s match-team-value">
                <div></div>
            </div>
            <div class="cell-a match-specialoddvalue-value">
                <div>
                    <div class="match-group">
                        <div class="market-odds">
                            <div class="cell">Away team total goals (0.5), 1HT</div>
                        </div>
                    </div>
                    <div class="match-group">
                        <div class="market-odds">
                            <div class="cell">Home team total goals (0.5), 1HT</div>
                        </div>
                    </div>
                    <div class="match-group">
                        <div class="market-odds">
                            <div class="cell">Total (0.5), 1HT</div>
                        </div>
                    </div>
                    <div class="match-group">
                        <div class="market-odds">
                            <div class="cell">Total (1.5), 1HT</div>
                        </div>
                    </div>
                    <div class="match-group">
                        <div class="market-odds">
                            <div class="cell">Total (2.5), 1HT</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cell-s go-to-all-markets">
                <div></div>
            </div>
        </div>
        <!-- /header -->
    
        <!-- start subheader -->
        <div class="row subhead">
            <div class="cell-s match-start-time-value">
                <div>TIME</div>
            </div>
            <div class="cell-s match-team-value">
                <div>TABLE EVENTS</div>
            </div>
            <div class="cell-a match-specialoddvalue-value">
                <div>
                    <div class="match-group" group-label="Away team total goals (0.5), 1HT">
                        <div class="market-odds">
                            <div class="cell">OVER</div>
                            <div class="cell">UNDER</div>
                        </div>
                    </div>
                    <div class="match-group" group-label="Home team total goals (0.5), 1HT">
                        <div class="market-odds">
                            <div class="cell">OVER</div>
                            <div class="cell">UNDER</div>
                        </div>
                    </div>
                    <div class="match-group" group-label="Total (0.5), 1HT">
                        <div class="market-odds">
                            <div class="cell">UNDER</div>
                            <div class="cell">OVER</div>
                        </div>
                    </div>
                    <div class="match-group" group-label="Total (1.5), 1HT">
                        <div class="market-odds">
                            <div class="cell">UNDER</div>
                            <div class="cell">OVER</div>
                        </div>
                    </div>
                    <div class="match-group" group-label="Total (2.5), 1HT">
                        <div class="market-odds">
                            <div class="cell">OVER</div>
                            <div class="cell">UNDER</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cell-s go-to-all-markets">
                <div></div>
            </div>
        </div>
        <!-- /header -->

        <div class="row date">
            <div class="date-value">MAY 19TH</div>
        </div>

        <!-- start -->
        <div class="row">
                <div class="cell-s match-start-time-value">
                    <div>6:00 PM</div>
                </div>
                <div class="cell-s match-team-value">
                    <div>CA Brown de Adrogue - CA Sarmiento</div>
                </div>
                <div class="cell-a match-specialoddvalue-value">
                    <div>
                        <div class="match-group" group-label="Away team total goals (0.5), 1HT">
                            <div class="market-odds">
                                <div class="cell">
                                    <div class="specialoddvalue-text" data-oddtag="1">22.85</div>
                                </div>
                                <div class="cell">
                                    <div class="specialoddvalue-text" data-oddtag="2">2.13</div>
                                </div>
                            </div>
                        </div>
                        <div class="match-group" group-label="Home team total goals (0.5), 1HT">
                            <div class="market-odds">
                                <div class="cell">
                                    <div class="specialoddvalue-text" data-oddtag="1">22.85</div>
                                </div>
                                <div class="cell">
                                    <div class="specialoddvalue-text" data-oddtag="2">2.13</div>
                                </div>
                            </div>
                        </div>
                        <div class="match-group" group-label="Total (0.5), 1HT">
                            <div class="market-odds">
                                <div class="cell">
                                    <div class="specialoddvalue-text" data-oddtag="1">22.85</div>
                                </div>
                                <div class="cell">
                                    <div class="specialoddvalue-text" data-oddtag="2">2.13</div>
                                </div>
                            </div>
                        </div>
                        <div class="match-group" group-label="Total (1.5), 1HT">
                            <div class="market-odds">
                                <div class="cell">
                                    <div class="specialoddvalue-text" data-oddtag="1">22.85</div>
                                </div>
                                <div class="cell">
                                    <div class="specialoddvalue-text" data-oddtag="2">2.13</div>
                                </div>
                            </div>
                        </div>
                        <div class="match-group" group-label="Total (2.5), 1HT">
                            <div class="market-odds">
                                <div class="cell">
                                    <div class="specialoddvalue-text" data-oddtag="1">22.85</div>
                                </div>
                                <div class="cell">
                                    <div class="specialoddvalue-text" data-oddtag="2">2.13</div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="cell-s go-to-all-markets">
                    <div class="go-to-all-markets__button active">+85</div>
                </div>
            </div>
            <!-- / -->
            
    </div>