<div class="tournament-group-name__container">
    <div class="tournament-group-name">Home Team Halves</div>
</div>

<div class="sport-table x-size">
    <!-- start header -->
    <div class="row head">
        <div class="cell-s match-start-time-value">
            <div></div>
        </div>
        <div class="cell-s match-team-value">
            <div></div>
        </div>
        <div class="cell-a match-specialoddvalue-value">
            <div>
                <div class="match-group">
                    <div class="market-odds">
                        <div class="cell">Highest scoring half, home team</div>
                    </div>
                </div>
                <div class="match-group">
                    <div class="market-odds">
                        <div class="cell">Home team clean sheet, 1HT</div>
                    </div>
                </div>
                <div class="match-group">
                    <div class="market-odds">
                        <div class="cell">Home team clean sheet, 2HT</div>
                    </div>
                </div>
                <div class="match-group">
                    <div class="market-odds">
                        <div class="cell">Home team score both halves</div>
                    </div>
                </div>
                <div class="match-group">
                    <div class="market-odds">
                        <div class="cell">Home team win both halves</div>
                    </div>
                </div>
                <div class="match-group">
                    <div class="market-odds">
                        <div class="cell">Home team win either half</div>
                    </div>
                </div>
                <div class="match-group">
                    <div class="market-odds">
                        <div class="cell">Home team Under/Over (0.5), 2HT</div>
                    </div>
                </div>
                <div class="match-group">
                    <div class="market-odds">
                        <div class="cell">Home team Under/Over (1.5), 2HT</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cell-s go-to-all-markets">
            <div></div>
        </div>
    </div>
    <!-- /header -->
    
    <!-- start subheader -->
    <div class="row subhead">
        <div class="cell-s match-start-time-value">
            <div>TIME</div>
        </div>
        <div class="cell-s match-team-value">
            <div>TABLE EVENTS</div>
        </div>
        <div class="cell-a match-specialoddvalue-value">
            <div>
                <div class="match-group">
                    <div class="market-odds">
                        <div class="cell">1ST</div>
                        <div class="cell">2ND</div>
                        <div class="cell" title="EQUAL">EQ</div>
                    </div>
                </div>
                <div class="match-group">
                    <div class="market-odds">
                        <div class="cell">YES</div>
                        <div class="cell">NO</div>    
                    </div>
                </div>
                <div class="match-group">
                    <div class="market-odds">
                        <div class="cell">YES</div>
                        <div class="cell">NO</div>    
                    </div>
                </div>
                <div class="match-group">
                    <div class="market-odds">
                        <div class="cell">YES</div>
                        <div class="cell">NO</div>
                    </div>
                </div>
                <div class="match-group">
                    <div class="market-odds">
                        <div class="cell">YES</div>
                        <div class="cell">NO</div>
                    </div>
                </div>
                <div class="match-group">
                    <div class="market-odds">
                        <div class="cell">YES</div>
                        <div class="cell">NO</div>
                    </div>
                </div>
                <div class="match-group">
                    <div class="market-odds">
                        <div class="cell">UNDER</div>
                        <div class="cell">OVER</div>
                    </div>
                </div>
                <div class="match-group">
                    <div class="market-odds">
                        <div class="cell">UNDER</div>
                        <div class="cell">OVER</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cell-s go-to-all-markets">
            <div></div>
        </div>
    </div>
    <!-- /header -->

    <div class="row date">
        <div class="date-value">MAY 19TH</div>
    </div>

    <!-- start -->
    <div class="row">
            <div class="cell-s match-start-time-value">
                <div>6:00 PM</div>
            </div>
            <div class="cell-s match-team-value">
                <div>USM EL Harrach - JS Saoura</div>
            </div>
            <div class="cell-a match-specialoddvalue-value">
                <div>
                    <div class="match-group" group-label="HIGHEST SCORING HALF, HOME TEAM">
                        <div class="market-odds">
                            <div class="cell">
                                <div class="specialoddvalue-text" data-oddtag="YES">3.46</div>
                            </div>
                            <div class="cell">
                                <div class="specialoddvalue-text" data-oddtag="YES">3.46</div>
                            </div>
                            <div class="cell">
                                <div class="specialoddvalue-text" data-oddtag="NO">2.13</div>
                            </div>
                        </div>
                    </div>
                    <div class="match-group" group-label="HOME TEAM CLEAN SHEET, 1HT">
                        <div class="market-odds">
                            <div class="cell">
                                <div class="specialoddvalue-text" data-oddtag="YES">2.85</div>
                            </div>
                            <div class="cell">
                                <div class="specialoddvalue-text" data-oddtag="NO">3.46</div>
                            </div>
                        </div>
                    </div>
                    <div class="match-group" group-label="HOME TEAM CLEAN SHEET, 2HT">
                        <div class="market-odds">
                            <div class="cell">
                                <div class="specialoddvalue-text" data-oddtag="UNDER">3.46</div>
                            </div>
                            <div class="cell">
                                <div class="specialoddvalue-text" data-oddtag="OVER">2.13</div>
                            </div>
                        </div>
                    </div>
                    <div class="match-group" group-label="HOME TEAM SCORE BOTH HALVES">
                        <div class="market-odds">
                            <div class="cell">
                                <div class="specialoddvalue-text" data-oddtag="UNDER">88.85</div>
                            </div>
                            <div class="cell">
                                <div class="specialoddvalue-text" data-oddtag="OVER">3.46</div>
                            </div>
                        </div>
                    </div>
                    <div class="match-group" group-label="HOME TEAM WIN BOTH HALVES">
                        <div class="market-odds">
                            <div class="cell">
                                <div class="specialoddvalue-text" data-oddtag="UNDER">8.85</div>
                            </div>
                            <div class="cell">
                                <div class="specialoddvalue-text" data-oddtag="OVER">3.46</div>
                            </div>
                        </div>
                    </div>
                    <div class="match-group" group-label="HOME TEAM WIN EITHER HALF">
                        <div class="market-odds">
                            <div class="cell">
                                <div class="specialoddvalue-text" data-oddtag="UNDER">8.85</div>
                            </div>
                            <div class="cell">
                                <div class="specialoddvalue-text" data-oddtag="OVER">3.46</div>
                            </div>
                        </div>
                    </div>
                    <div class="match-group" group-label="HOME TEAM UNDER/OVER (0.5), 2HT">
                        <div class="market-odds">
                            <div class="cell">
                                <div class="specialoddvalue-text" data-oddtag="UNDER">8.85</div>
                            </div>
                            <div class="cell">
                                <div class="specialoddvalue-text" data-oddtag="OVER">3.46</div>
                            </div>
                        </div>
                    </div>
                    <div class="match-group" group-label="HOME TEAM UNDER/OVER (1.5), 2HT">
                        <div class="market-odds">
                            <div class="cell">
                                <div class="specialoddvalue-text" data-oddtag="UNDER">88.85</div>
                            </div>
                            <div class="cell">
                                <div class="specialoddvalue-text" data-oddtag="OVER">3.46</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cell-s go-to-all-markets">
                <div class="go-to-all-markets__button active">+85</div>
            </div>
        </div>
        <!-- / -->


</div>