<div class="tournament-group-name__container">
    <div class="tournament-group-name">Main</div>
</div>

<div class="sport-table">
    <!-- start header -->
    <div class="row head">
        <div class="cell-s match-start-time-value">
            <div></div>
        </div>
        <div class="cell-s match-team-value">
            <div></div>
        </div>
        <div class="cell-a match-specialoddvalue-value">
            <div>
                <div class="match-group">
                    <div class="market-odds">
                        <div class="cell">Match Bet</div>
                    </div>
                </div>
                <div class="match-group">
                    <div class="market-odds">
                        <div class="cell">Draw No Bet</div>
                    </div>
                </div>
                <div class="match-group">
                    <div class="market-odds">
                        <div class="cell">Double Chance</div>
                    </div>
                </div>
                <div class="match-group">
                    <div class="market-odds">
                        <div class="cell">Total (2.5)</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cell-s go-to-all-markets">
            <div></div>
        </div>
    </div>
    <!-- /header -->
    


    <!-- start subheader -->
    <div class="row subhead">
        <div class="cell-s match-start-time-value">
            <div>TIME</div>
        </div>
        <div class="cell-s match-team-value">
            <div>TABLE EVENTS</div>
        </div>
        <div class="cell-a match-specialoddvalue-value">
            <div>
                <div class="match-group" group-label="Match Bet">
                    <div class="market-odds">
                        <div class="cell">1</div>
                        <div class="cell">X</div>
                        <div class="cell">2</div>
                    </div>
                </div>
                <div class="match-group" group-label="Draw No Bet">
                    <div class="market-odds">
                        <div class="cell">1</div>
                        <div class="cell">2</div>
                    </div>
                </div>
                <div class="match-group" group-label="Double Chance">
                    <div class="market-odds">
                        <div class="cell">1</div>
                        <div class="cell">X</div>
                        <div class="cell">2</div>
                    </div>
                </div>
                <div class="match-group" group-label="Total (2.5)">
                    <div class="market-odds">
                        <div class="cell">1</div>
                        <div class="cell">2</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cell-s go-to-all-markets">
            <div></div>
        </div>
    </div>
    <!-- /header -->
    
    <div class="row date">
        <div class="date-value">MAY 19TH</div>
    </div>

    <!-- start -->
    <div class="row">
            <div class="cell-s match-start-time-value">
                <div>6:00 PM</div>
            </div>
            <div class="cell-s match-team-value">
                <div>USM EL Harrach - JS Saoura</div>
            </div>
            <div class="cell-a match-specialoddvalue-value">
                <div>
                    <div class="match-group" group-label="Match Bet">
                        <div class="market-odds">
                            <div class="cell">
                                <div class="specialoddvalue-text btn-unavailable" data-oddtag="1">22.85</div>
                            </div>
                            <div class="cell">
                                <div class="specialoddvalue-text btn-unavailable" data-oddtag="X">3.46</div>
                            </div>
                            <div class="cell">
                                <div class="specialoddvalue-text btn-unavailable" data-oddtag="2">2.13</div>
                            </div>
                        </div>
                    </div>
                    <div class="match-group" group-label="Draw No Bet">
                        <div class="market-odds">
                            <div class="cell">
                                <div class="specialoddvalue-text" data-oddtag="1"><span class="odd--down">2.85</span></div>
                            </div>
                            <div class="cell">
                                <div class="specialoddvalue-text" data-oddtag="2"><span class="odd--up">3.46</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="match-group" group-label="Double Chance">
                        <div class="market-odds">
                            <div class="cell">
                                <div class="specialoddvalue-text" data-oddtag="1"><span class="odd--down">2.85</span></div>
                            </div>
                            <div class="cell">
                                <div class="specialoddvalue-text" data-oddtag="X"><span class="odd--up">3.46</span></div>
                            </div>
                            <div class="cell">
                                <div class="specialoddvalue-text" data-oddtag="2">2.13</div>
                            </div>
                        </div>
                    </div>
                    <div class="match-group" group-label="Draw No Bet">
                        <div class="market-odds">
                            <div class="cell">
                                <div class="specialoddvalue-text btn-active" data-oddtag="1">88.85</div>
                            </div>
                            <div class="cell">
                                <div class="specialoddvalue-text" data-oddtag="2">3.46</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cell-s go-to-all-markets" data-toggle="toggle011 go-to-all-markets" id="go-to-all-markets" data-toggler=".active">
                <div class="go-to-all-markets__button"><a style="color: #fff; text-decoration: none" href="match-details.html">+35</a></div>
            </div>
        </div>
        <!-- / -->

        <!-- start -->
        <div class="row">
            <div class="cell-s match-start-time-value">
                <div>6:00 PM</div>
            </div>
            <div class="cell-s match-team-value">
                <div>USM EL Harrach - JS Saoura</div>
            </div>
            <div class="cell-a match-specialoddvalue-value">
                <div>
                    <div class="match-group" group-label="Match Bet">
                        <div class="market-odds">
                            <div class="cell">
                                <div class="specialoddvalue-text" data-oddtag="1">2.85</div>
                            </div>
                            <div class="cell">
                                <div class="specialoddvalue-text" data-oddtag="X">3.46</div>
                            </div>
                            <div class="cell">
                                <div class="specialoddvalue-text" data-oddtag="2">2.13</div>
                            </div>
                        </div>
                    </div>
                    <div class="match-group" group-label="Draw No Bet">
                        <div class="market-odds">
                            <div class="cell">
                                <div class="specialoddvalue-text" data-oddtag="1">2.85</div>
                            </div>
                            <div class="cell">
                                <div class="specialoddvalue-text" data-oddtag="2">3.46</div>
                            </div>
                        </div>
                    </div>
                    <div class="match-group" group-label="Double Chance">
                        <div class="market-odds">
                            <div class="cell">
                                <div class="specialoddvalue-text" data-oddtag="1">2.85</div>
                            </div>
                            <div class="cell">
                                <div class="specialoddvalue-text" data-oddtag="X">3.46</div>
                            </div>
                            <div class="cell">
                                <div class="specialoddvalue-text" data-oddtag="2">2.13</div>
                            </div>
                        </div>
                    </div>
                    <div class="match-group" group-label="Draw No Bet">
                        <div class="market-odds">
                            <div class="cell">
                                <div class="specialoddvalue-text" data-oddtag="1">2.85</div>
                            </div>
                            <div class="cell">
                                <div class="specialoddvalue-text" data-oddtag="2">3.46</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cell-s go-to-all-markets">
                <div class="go-to-all-markets__button">+85</div>
            </div>
        </div>
        <!-- / -->    <!-- start -->
    <div class="row">
            <div class="cell-s match-start-time-value">
                <div>6:00 PM</div>
            </div>
            <div class="cell-s match-team-value">
                <div>USM EL Harrach - JS Saoura</div>
            </div>
            <div class="cell-a match-specialoddvalue-value">
                <div>
                    <div class="match-group" group-label="Match Bet">
                        <div class="market-odds">
                            <div class="cell">
                                <div class="specialoddvalue-text" data-oddtag="1">2.85</div>
                            </div>
                            <div class="cell">
                                <div class="specialoddvalue-text" data-oddtag="X">3.46</div>
                            </div>
                            <div class="cell">
                                <div class="specialoddvalue-text" data-oddtag="2">2.13</div>
                            </div>
                        </div>
                    </div>
                    <div class="match-group" group-label="Draw No Bet">
                        <div class="market-odds">
                            <div class="cell">
                                <div class="specialoddvalue-text" data-oddtag="1">2.85</div>
                            </div>
                            <div class="cell">
                                <div class="specialoddvalue-text" data-oddtag="2">3.46</div>
                            </div>
                        </div>
                    </div>
                    <div class="match-group" group-label="Double Chance">
                        <div class="market-odds">
                            <div class="cell">
                                <div class="specialoddvalue-text" data-oddtag="1">2.85</div>
                            </div>
                            <div class="cell">
                                <div class="specialoddvalue-text" data-oddtag="X">3.46</div>
                            </div>
                            <div class="cell">
                                <div class="specialoddvalue-text" data-oddtag="2">2.13</div>
                            </div>
                        </div>
                    </div>
                    <div class="match-group" group-label="Draw No Bet">
                        <div class="market-odds">
                            <div class="cell">
                                <div class="specialoddvalue-text" data-oddtag="1">2.85</div>
                            </div>
                            <div class="cell">
                                <div class="specialoddvalue-text" data-oddtag="2">3.46</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cell-s go-to-all-markets">
                <div class="go-to-all-markets__button">+85</div>
            </div>
        </div>
        <!-- / -->    
        
    <div class="row date">
            <div class="date-value">MAY 21TH</div>
    </div>
        
        <!-- start -->
    <div class="row">
            <div class="cell-s match-start-time-value">
                <div>6:00 PM</div>
            </div>
            <div class="cell-s match-team-value">
                <div>USM EL Harrach - JS Saoura</div>
            </div>
            <div class="cell-a match-specialoddvalue-value">
                <div>
                    <div class="match-group" group-label="Match Bet">
                        <div class="market-odds">
                            <div class="cell">
                                <div class="specialoddvalue-text" data-oddtag="1">2.85</div>
                            </div>
                            <div class="cell">
                                <div class="specialoddvalue-text" data-oddtag="X">3.46</div>
                            </div>
                            <div class="cell">
                                <div class="specialoddvalue-text" data-oddtag="2">2.13</div>
                            </div>
                        </div>
                    </div>
                    <div class="match-group" group-label="Draw No Bet">
                        <div class="market-odds">
                            <div class="cell">
                                <div class="specialoddvalue-text" data-oddtag="1">2.85</div>
                            </div>
                            <div class="cell">
                                <div class="specialoddvalue-text" data-oddtag="2">3.46</div>
                            </div>
                        </div>
                    </div>
                    <div class="match-group" group-label="Double Chance">
                        <div class="market-odds">
                            <div class="cell">
                                <div class="specialoddvalue-text" data-oddtag="1">2.85</div>
                            </div>
                            <div class="cell">
                                <div class="specialoddvalue-text" data-oddtag="X">3.46</div>
                            </div>
                            <div class="cell">
                                <div class="specialoddvalue-text" data-oddtag="2">2.13</div>
                            </div>
                        </div>
                    </div>
                    <div class="match-group" group-label="Draw No Bet">
                        <div class="market-odds">
                            <div class="cell">
                                <div class="specialoddvalue-text" data-oddtag="1">2.85</div>
                            </div>
                            <div class="cell">
                                <div class="specialoddvalue-text" data-oddtag="2">3.46</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cell-s go-to-all-markets">
                <div class="go-to-all-markets__button">+85</div>
            </div>
        </div>
        <!-- / -->
    <!-- start -->
    <div class="row">
        <div class="cell-s match-start-time-value">
            <div>6:00 PM</div>
        </div>
        <div class="cell-s match-team-value">
            <div>USM EL Harrach - JS Saoura</div>
        </div>
        <div class="cell-a match-specialoddvalue-value">
            <div>
                <div class="match-group" group-label="Match Bet">
                    <div class="market-odds">
                        <div class="cell">
                            <div class="specialoddvalue-text" data-oddtag="1">2.85</div>
                        </div>
                        <div class="cell">
                            <div class="specialoddvalue-text" data-oddtag="X">3.46</div>
                        </div>
                        <div class="cell">
                            <div class="specialoddvalue-text" data-oddtag="2">2.13</div>
                        </div>
                    </div>
                </div>
                <div class="match-group" group-label="Draw No Bet">
                    <div class="market-odds">
                        <div class="cell">
                            <div class="specialoddvalue-text" data-oddtag="1">2.85</div>
                        </div>
                        <div class="cell">
                            <div class="specialoddvalue-text" data-oddtag="2">3.46</div>
                        </div>
                    </div>
                </div>
                <div class="match-group" group-label="Double Chance">
                    <div class="market-odds">
                        <div class="cell">
                            <div class="specialoddvalue-text" data-oddtag="1">2.85</div>
                        </div>
                        <div class="cell">
                            <div class="specialoddvalue-text" data-oddtag="X">3.46</div>
                        </div>
                        <div class="cell">
                            <div class="specialoddvalue-text" data-oddtag="2">2.13</div>
                        </div>
                    </div>
                </div>
                <div class="match-group" group-label="Draw No Bet">
                    <div class="market-odds">
                        <div class="cell">
                            <div class="specialoddvalue-text" data-oddtag="1">2.85</div>
                        </div>
                        <div class="cell">
                            <div class="specialoddvalue-text" data-oddtag="2">3.46</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cell-s go-to-all-markets">
            <div class="go-to-all-markets__button">+85</div>
        </div>
    </div>
    <!-- / -->
<!-- start -->
<div class="row">
        <div class="cell-s match-start-time-value">
            <div>6:00 PM</div>
        </div>
        <div class="cell-s match-team-value">
            <div>USM EL Harrach - JS Saoura</div>
        </div>
        <div class="cell-a match-specialoddvalue-value">
            <div>
                <div class="match-group" group-label="Match Bet">
                    <div class="market-odds">
                        <div class="cell">
                            <div class="specialoddvalue-text" data-oddtag="1">2.85</div>
                        </div>
                        <div class="cell">
                            <div class="specialoddvalue-text" data-oddtag="X">3.46</div>
                        </div>
                        <div class="cell">
                            <div class="specialoddvalue-text" data-oddtag="2">2.13</div>
                        </div>
                    </div>
                </div>
                <div class="match-group" group-label="Draw No Bet">
                    <div class="market-odds">
                        <div class="cell">
                            <div class="specialoddvalue-text" data-oddtag="1">2.85</div>
                        </div>
                        <div class="cell">
                            <div class="specialoddvalue-text" data-oddtag="2">3.46</div>
                        </div>
                    </div>
                </div>
                <div class="match-group" group-label="Double Chance">
                    <div class="market-odds">
                        <div class="cell">
                            <div class="specialoddvalue-text" data-oddtag="1">2.85</div>
                        </div>
                        <div class="cell">
                            <div class="specialoddvalue-text" data-oddtag="X">3.46</div>
                        </div>
                        <div class="cell">
                            <div class="specialoddvalue-text" data-oddtag="2">2.13</div>
                        </div>
                    </div>
                </div>
                <div class="match-group" group-label="Draw No Bet">
                    <div class="market-odds">
                        <div class="cell">
                            <div class="specialoddvalue-text" data-oddtag="1">2.85</div>
                        </div>
                        <div class="cell">
                            <div class="specialoddvalue-text" data-oddtag="2">3.46</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cell-s go-to-all-markets">
            <div class="go-to-all-markets__button">+85</div>
        </div>
    </div>
    <!-- / -->
</div>