.header-gradient-1 {
    background-color: #000;
    background-image: linear-gradient(to bottom,rgba(255,255,255,0),rgba(255,255,255,.12) 100%);
}

$second-gradient-from: rgba(0, 0, 0, 0.2);
$second-gradient-to: transparent;
$linear-gradient-to: rgba(255, 255, 255, 0.16);

.header-sports-gradient {
    background-color: #000;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), $linear-gradient-to 100%);
    background-repeat: no-repeat, no-repeat;
    background-position: left, left, right 40px bottom 0;
    &:not(.tournament__title) {
        border-top: 0!important;
    }
}